<template>
    <div>

        <div class="col-sm-12">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table align-items-center table-flush table-hover" id="itemsTable">
                        <thead class="thead-light">
                        <tr>
                            <th><b>GL Group Accounts</b></th>
                            <th></th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td colspan="3">
                                <div class="form-group">
                                    <div class="form-group">
                                        <label class="col-form-label">Name</label>
                                        <input type="text" class="form-control"
                                               :class="{ 'is-invalid': GLInput.errors.has('name') }"
                                               v-model="GLInput.name">
                                        <has-error :form="GLInput" field="name"></has-error>
                                    </div>
                                    <has-error :form="GLInput" field="name"></has-error>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                        <thead class="thead-light">
                        <tr>
                            <th><b>GL Accounts</b> &nbsp
                                <i class="material-icons" style="color: #47a44b;" @click="addRowGLAccount">post_add</i>
                            </th>
                            <th></th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="(gl_account, index) in gl_accounts">
                            <td>
                                <div class="form-group">
                                    <label class="col-form-label">Account</label>
                                    <input type="text" class="form-control"
                                           :class="{ 'is-invalid': GLInput.errors.has('gl_account') }"
                                           v-model="gl_account.gl_account">
                                    <has-error :form="GLInput" field="gl_account"></has-error>
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <label class="col-form-label">Description</label>
                                    <input type="text" class="form-control"
                                           :class="{ 'is-invalid': GLInput.errors.has('description') }"
                                           v-model="gl_account.description">
                                    <has-error :form="GLInput" field="description"></has-error>
                                </div>
                            </td>
                            <td>
                                <a v-on:click="removeElementGLAccount(index);"
                                   style="cursor: pointer; color:#E10000;"><b>Remove</b>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</template>

<script>
import {Form, HasError, AlertError, AlertSuccess} from 'vform';
import {mapActions, mapGetters} from "vuex";
export default {
    name: "GLAccountForm",
    components: {HasError, AlertError, AlertSuccess},
    props:{
        gl: {},
        // form:{
        //     type:Object,
        // }
    },
    data() {
        return {
            gl_accounts: [],
            visible:false,
        }
    },
    computed:{
        ...mapGetters({
            clear_create: ["gl_accounts/clear_create"], // company codes
        }),
        GLInput(){
            return this.gl;
        }
    },
    watch: {
        "clear_create": {
            deep: true,
            handler: function (newVal, oldVal) {
                if(newVal){
                    console.log(newVal);
                    this.gl_accounts = [];
                    this.$store.commit('gl_accounts/GL_ACCOUNT_CREATE_CLEAR',false);
                }
            }
        },
    },
    methods:{
        ...mapActions({
            // getAllRole: "role/getRoles",
            // plants: "static_budget/getPlant",
        }),
        addRowGLAccount: function () {
            var elem = document.createElement('tr');
            this.gl_accounts.push({
                'gl_account': null,
                'description': null,
            });
            this.GLInput.gl_accounts = this.gl_accounts;
        },
        removeElementGLAccount: function (index) {
            this.gl_accounts.splice(index, 1);
            this.GLInput.gl_accounts = this.gl_accounts;
        },
    }
}
</script>

<style scoped>

</style>
