<template>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-lg-6 ">
            <div class="card">
                <div class="card-header card-header-primary card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons" v-if="">assignment</i>
                    </div>
                    <h4 class="card-title">GL Accounts</h4>
                    <button class="btn btn-primary float-right btn-sm" @click="showCreateView()" v-if="!showCreate
                    && $can('gl_accounts_create')">CREATE GL ACCOUNT
                    </button>
                </div>
                <div class="card-body">
                    <div class="toolbar">

                    </div>

                    <GLAccountsDataTable
                        @sortColumn="sortByTable"
                        @perPageEntry="paginateTable"
                        @searchItem="searchData"
                        :dt_tableHeaders="tableHeaders"
                        :dt_currentSort="tableSortBy"
                        :dt_currentSortDir="tableSortDir"
                        :dt_defaultEntries="tableDefaultEntries"
                        dt_tableClassHeaders="thead-dark"
                        :dt_Search="search"
                        dt_classTable="table table-bordered"
                        dt_TableWidth="100"
                    >
                        <template v-slot:tableData>
                            <tr v-for="(data,index) in gl_accounts.data" :key="data.id" >
                                <td>{{ data.name }}</td>
                                <td>
                                    <table class="table table-sm table-bordered">
                                        <thead class="thead-dark">
                                        <tr>
                                            <th>Descriptions</th>
                                            <th>GL Accounts</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr v-for="(gl,gl_index) in data.gl_accounts" :key="gl.id" :index="gl_index">
                                            <td>{{gl.description}}</td>
                                            <td>
                                                <span class="badge badge-primary">
                                                    {{gl.gl_account}}
                                                </span>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                                <td>{{ data.created_at }}</td>
                                <td>
                                    <button class="btn btn btn-link btn-info" @click="edit(data.id)"  v-if="$can('user_edit')"><i
                                        class="material-icons">edit</i>
                                    </button>
                                    <button class="btn btn btn-link btn-danger"
                                            @click="deleteUser(data.id,index)" v-if="$can('user_delete')"><i class="material-icons">delete</i>
                                    </button>
                                </td>
                            </tr>
                        </template>
                        <template v-slot:perPage v-if="gl_accounts.meta">
                            <p class="float-left">Showing {{ gl_accounts.meta.from || 0 }} to {{ gl_accounts.meta.to || 0 }} of
                                {{ gl_accounts.meta.total || 0 }} entries</p>
                        </template>
                        <template v-slot:pagination>
                            <pagination :data="gl_accounts" @pagination-change-page="index" :limit="2" alight="right">
                                <span slot="prev-nav"><i class="fa fa-angle-double-left" aria-hidden="true"></i></span>
                                <span slot="next-nav"><i class="fa fa-angle-double-right" aria-hidden="true"></i></span>
                            </pagination>
                        </template>
                    </GLAccountsDataTable>


                </div>
            </div>
        </div>

        <transition name="fade">
            <div class="col-md-12 col-sm-12 col-lg-6 " v-show="showCreate">
                <GLAccountCreate @cancelCreate="closeCreate"></GLAccountCreate>
            </div>
        </transition>

<!--        error will be fixed if edit function is avail-->
        <transition name="fade">
            <div class="col-md-12 col-sm-12 col-lg-6 " v-show="showEdit" ref="editFormRef">
                <GLAccountEdit @cancelEdit="closeEdit"></GLAccountEdit>
            </div>
        </transition>
    </div>


</template>

<script>
import GLAccountsDataTable from "../tables/GLAccountsDataTable";
import GLAccountCreate  from "./GLAccountCreate";
import GLAccountEdit from "./GLAccountEdit";
import {mapActions, mapGetters} from "vuex";

export default {
    name: "GLAccountTable",
    components: {GLAccountsDataTable, GLAccountCreate, GLAccountEdit},
    data() {
        return {
            showCreate: false,
            showEdit: false,
            tableHeaders: [
                {column_name: 'Name', query_name: 'name', sortable: true, width: 40},
                {column_name: 'Company', query_name: 'company', sortable: true, width: 20},
                {column_name: 'Created At', query_name: 'created_at', sortable: true, width: 20},
                {column_name: 'Options', query_name: 'created_at', sortable: false, width: 20}
            ],
        }
    },

    computed: {
        ...mapGetters({
            tableDefaultEntries: ["gl_accounts/perPage"],
            tableSortBy: ["gl_accounts/sortBy"],
            tableSortDir: ["gl_accounts/sortDir"],
            gl_accounts: ["gl_accounts/gl_accounts"],
            search: ["gl_accounts/search"],
            perPage: ["gl_accounts/perPage"],
        })
    },
    created() {
        this.index();
    },
    // watch: {
    //     "gl_accounts": {
    //         deep: true,
    //         handler: function (newVal, oldVal) {
    //             this.index();
    //         }
    //     },
    // },
    methods: {
        ...mapActions({
            getGL: "gl_accounts/fetchGLForDatatable",
        }),
        deleteUser(e, index) {
            this.$swal({
                title: 'Are you sure to delete this user?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.value) {
                    let uri = `/api/gl_accounts/${e}`;
                    axios.delete(uri).then(response => {
                        this.$swal(
                            'Deleted!',
                            'Your file has been deleted.',
                            'success'
                        );
                        this.gl_accounts.data.splice(index, 1);
                    });
                }
            })
        },
        async showCreateView() {
            this.showCreate = true;
            this.showEdit = false;
            await this.$store.commit('gl_accounts/GL_ACCOUNT_CLEAR')
        },

        async closeCreate(value) {
            this.showCreate = value;
            this.showEdit = false;
            await this.$store.commit('gl_accounts/GL_ACCOUNT_CLEAR')
        },
        async closeEdit() {
            this.showCreate = false;
            this.showEdit = false;
            await this.$store.commit('gl_accounts/GL_ACCOUNT_CLEAR')
        },
        async edit(id) {
            this.showEdit = true;
            this.showCreate = false;
            await this.$store.commit('gl_accounts/GL_ACCOUNT_CLEAR')
            await this.$store.commit('gl_accounts/GL_ACCOUNT_ID', id);
            await this.editUser();

        },
        async sortByTable(value) {
            await this.$store.commit('gl_accounts/GL_ACCOUNT_SORTBY', value.sortBy);
            await this.$store.commit('gl_accounts/GL_ACCOUNT_SORTDIR', value.sortDir);
            await this.index();

        },
        async paginateTable(value) {
            await this.$store.commit('gl_accounts/GL_ACCOUNT_PERPAGE', value);
            await this.index();

        },
        async searchData(value) {
            await this.$store.commit('gl_accounts/GL_ACCOUNT_SEARCH', value);
            await this.index();

        },
        async index(page) {
            if (typeof page === 'undefined') {
                await this.$store.commit('gl_accounts/GL_ACCOUNT_PAGE', 1);
            }

            await this.$store.commit('gl_accounts/GL_ACCOUNT_PAGE', page);
            await this.getGL();
        },
    }
}
</script>

<style scoped>

</style>
