<template>
    <div>
        <div class="card">
            <div class="card-header card-header-primary card-header-icon">
                <h4 class="card-title">Create</h4>
            </div>
            <form class="form-horizontal" v-promise-btn="{action: 'submit'}"
                  v-on:submit.prevent="submitGL"
                  @keydown="gl.onKeydown($event)">
                <div class="card-body">
                    <GLAccountForm :gl="gl"></GLAccountForm>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-fill btn-success" :disabled="submitBtn">Submit</button>
                    <button type="button" class="btn btn-fill btn-danger" @click="cancelCreate">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</template>

<script>
import {Form, HasError, AlertError, AlertSuccess} from 'vform';
import { mapActions, mapGetters } from "vuex";
import GLAccountForm from './_Form'
export default {
    name: "GLAccountCreate",
    components: {HasError, AlertError, AlertSuccess,GLAccountForm},
    computed: {
        ...mapGetters({
            gl: ["gl_accounts/gl"], // array in form
            submitBtn: ["gl_accounts/submitBtn"],
        }),
    },
    watch: {
        "gl.gl_accounts": {
            deep: true,
            handler: function (newVal, oldVal) {
                console.log(newVal,"gl.gl_accounts");
                if(newVal.length !== 0){
                    console.log(newVal,"gl.gl_accounts","if");
                    let eitherIsNull = 0;
                    for(let x = 0; x < newVal.length;x++){
                        if(newVal[x].description !== null && newVal[x].gl_account !== null && newVal[x].description !== '' && newVal[x].gl_account !== ''){
                            if(this.gl.name !== null && this.gl.name !== ''){
                                if(newVal[x].description !== null && newVal[x].gl_account !== null && newVal[x].description !== '' && newVal[x].gl_account !== ''){
                                    if(eitherIsNull === 1){
                                        let submitBtn = true;
                                        this.$store.commit('gl_accounts/GL_ACCOUNT_CREATE_BTN', submitBtn);
                                    }
                                    else{
                                        let submitBtn = false;
                                        this.$store.commit('gl_accounts/GL_ACCOUNT_CREATE_BTN', submitBtn);
                                    }
                                }
                                else{
                                    let submitBtn = true;
                                    this.$store.commit('gl_accounts/GL_ACCOUNT_CREATE_BTN', submitBtn);
                                }
                            }
                            else{
                                console.log('else1');
                                let submitBtn = true;
                                this.$store.commit('gl_accounts/GL_ACCOUNT_CREATE_BTN', submitBtn);
                            }
                        }
                        else{
                            if (newVal[x].gl_account !== null && newVal[x].description !== null
                                && newVal[x].gl_account !== '' && newVal[x].description !== '') {
                                let submitBtn = false;
                                this.$store.commit('gl_accounts/GL_ACCOUNT_CREATE_BTN', submitBtn);
                            } else {
                                eitherIsNull = 1;
                                let submitBtn = true;
                                this.$store.commit('gl_accounts/GL_ACCOUNT_CREATE_BTN', submitBtn);
                            }
                        }
                    }
                }
                else{
                    let submitBtn = true;
                    this.$store.commit('gl_accounts/GL_ACCOUNT_CREATE_BTN', submitBtn);
                }
            }
        },
        "gl.name": {
            deep: true,
            handler: function (newVal, oldVal) {
                console.log(newVal,"gl.name");
                if(newVal !== null && newVal !== ''){
                    for(let x = 0; x < this.gl.gl_accounts.length;x++){
                        if(this.gl.gl_accounts[x].description !== null && this.gl.gl_accounts[x].gl_account !== null
                        && this.gl.gl_accounts[x].description !== '' && this.gl.gl_accounts[x].gl_account !== ''){
                            let submitBtn = false;
                            this.$store.commit('gl_accounts/GL_ACCOUNT_CREATE_BTN', submitBtn);
                        }
                        else{
                            let submitBtn = true;
                            this.$store.commit('gl_accounts/GL_ACCOUNT_CREATE_BTN', submitBtn);
                        }
                    }
                }
                else{
                    console.log(newVal,"gl.name","else");
                    let submitBtn = true;
                    this.$store.commit('gl_accounts/GL_ACCOUNT_CREATE_BTN', submitBtn);
                }
            }
        },
    },
    methods: {
        ...mapActions({
            createGL: "gl_accounts/createGL",
            getGL:"gl_accounts/fetchGLForDatatable"
        }),
        cancelCreate(){
            this.$emit("cancelCreate", false);
        },
        async submitGL() {
            try{
                await this.$store.commit('gl_accounts/GL_ACCOUNT_CREATE',this.gl);
                await this.createGL();
                await this.getGL();
                await this.$store.commit('gl_accounts/GL_ACCOUNT_CREATE_BTN', true);
                await this.$store.commit('gl_accounts/GL_ACCOUNT_CREATE_CLEAR',true);
                this.$emit("cancelCreate");
                this.$swal({
                    icon: 'success',
                    title: 'New Group GL Accounts created',
                    showConfirmButton: false,
                    timer: 1500
                });
            }catch(e){
                console.log(e);
            }


        }
    }
}
</script>

<style scoped>

</style>
