<template>
    <div>
        <div class="card">
            <div class="card-header card-header-primary card-header-icon">
                <h4 class="card-title">Edit</h4>
            </div>
            <form class="form-horizontal" v-promise-btn="{action: 'submit'}" v-on:submit.prevent="update"
                  @keydown="user.onKeydown($event)">
                <div class="card-body">
                    <UserForm :form="user" ></UserForm>
                </div>
<!--                v-if="!user.roles.includes('super_administrator')"-->
                <div class="card-footer">
                    <button type="submit" class="btn btn-fill btn-success">Submit</button>
                    <button type="button" class="btn btn-fill btn-danger" @click="cancelEdit">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</template>

<script>
    import {mapActions, mapGetters} from "vuex";
    import UserForm from './_Form'

    export default {
        name: "GLAccountEdit",
        components: {UserForm},
        computed: {
            ...mapGetters({
                user: ["user/user"],
            }),
        },
        methods: {
            ...mapActions({
                updateUser: "user/updateUser",
                getUser:"user/fetchUsersForDatatable"
            }),
            cancelEdit() {
                this.$emit("cancelEdit");
            },
            async update() {
                try{
                    await this.$store.commit('user/USER_UPDATE',this.user);
                    await this.updateUser();
                    await this.getUser();
                    this.$swal({
                        icon: 'success',
                        title: 'User Updated',
                        showConfirmButton: false,
                        timer: 1500
                    });


                }catch(e){
                    console.log(e);
                }
            }
        }
    }
</script>

<style scoped>

</style>
