<template>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-icon card-header-rose">
                        <div class="card-icon">
                            <i class="material-icons">perm_identity</i>
                        </div>
                        <h4 class="card-title">Edit Profile</h4>
                    </div>
                    <div class="card-body">
                        <form class="form-horizontal" v-promise-btn="{action: 'submit'}" v-on:submit.prevent="submitProfile">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Company</label>
                                        <input type="text" class="form-control" :disabled="true"
                                               v-model="currentUser.company" :class="{ 'is-invalid': currentUser.errors.has('company') }" >
                                        <has-error :form="currentUser" field="company"></has-error>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Name</label>
                                        <input type="text" class="form-control" v-model="currentUser.name" :class="{ 'is-invalid': currentUser.errors.has('name') }" >
                                        <has-error :form="currentUser" field="name"></has-error>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Username</label>
                                        <input type="text" class="form-control" v-model="currentUser.username" :class="{ 'is-invalid': currentUser.errors.has('username') }">
                                        <has-error :form="currentUser" field="username"></has-error>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Email address</label>
                                        <input type="email" class="form-control"  v-model="currentUser.email" :class="{ 'is-invalid': currentUser.errors.has('email') }">
                                        <has-error :form="currentUser" field="email"></has-error>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Password</label>
                                        <input type="password" class="form-control" v-model="currentUser.password" :class="{ 'is-invalid': currentUser.errors.has('password') }">
                                        <has-error :form="currentUser" field="password"></has-error>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Confirm Password</label>
                                        <input type="password" class="form-control" v-model="currentUser.password_confirmation" :class="{ 'is-invalid': currentUser.errors.has('password_confirmation') }">
                                        <has-error :form="currentUser" field="password_confirmation"></has-error>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-rose pull-right">Update Profile</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
<!--            <div class="col-md-4">-->
<!--                <div class="card card-profile">-->
<!--                    <div class="card-avatar">-->
<!--                        <a href="#pablo">-->
<!--                            <img class="img" src="/images/faces/marc.jpg" />-->
<!--                        </a>-->
<!--                    </div>-->
<!--                    <div class="card-body">-->
<!--                        <h6 class="card-category text-gray">CEO / Co-Founder</h6>-->
<!--                        <h4 class="card-title">Alec Thompson</h4>-->
<!--                        <p class="card-description">-->
<!--                            Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...-->
<!--                        </p>-->
<!--                        <a href="#pablo" class="btn btn-rose btn-round">Follow</a>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
        </div>
    </div>
</template>

<script>
    import {mapActions, mapGetters} from "vuex";
    import {Form, HasError, AlertError, AlertSuccess} from 'vform';

    export default {
        name: "Profile",
        components: {HasError, AlertError, AlertSuccess},

        computed: {
            ...mapGetters({
                currentUser: ["auth/user"],
            })
        },
        methods: {
            ...mapActions({
                updateProfile: "auth/updateUser"
            }),
            async submitProfile() {

                try{
                    await this.$store.commit('auth/UPDATE_USER',this.currentUser);
                    await this.updateProfile();
                    this.$swal({
                        icon: 'success',
                        title: 'Profile updated',
                        showConfirmButton: false,
                        timer: 1500
                    });
                    //this.form.name = null;

                }catch(e){
                    console.log(e);
                }


            }
        }
    }
</script>

<style scoped>

</style>
