<template>
    <div>

        <div class="col-sm-12">
            <div class="form-group">
                <label class="col-form-label">Name</label>
                <input type="text" class="form-control"
                       :class="{ 'is-invalid': userInput.errors.has('name') }" v-model="userInput.name">
                <has-error :form="userInput" field="name"></has-error>
            </div>
            <div class="form-group">
                <label class="col-form-label">Username</label>
                <input type="text" class="form-control"
                       :class="{ 'is-invalid': userInput.errors.has('username') }" v-model="userInput.username">
                <has-error :form="userInput" field="username"></has-error>
            </div>
            <div class="form-group">
                <label class="col-form-label">Email</label>
                <input type="email" class="form-control"
                       :class="{ 'is-invalid': userInput.errors.has('email') }" v-model="userInput.email">
                <has-error :form="userInput" field="email"></has-error>
            </div>
            <div class="form-group">
                <label class="col-form-label">Password</label>
                <input type="password" class="form-control"
                       :class="{ 'is-invalid': userInput.errors.has('password') }" v-model="userInput.password">
                <has-error :form="userInput" field="password"></has-error>
            </div>
            <div class="form-group">
                <label class="col-form-label">Confirm Password</label>
                <input type="password" class="form-control"
                       :class="{ 'is-invalid': userInput.errors.has('password_confirmation') }" v-model="userInput.password_confirmation">
                <has-error :form="userInput" field="password_confirmation"></has-error>
            </div>
            <div class="form-group">
                <label class="col-form-label">Select Company</label>
                <b-form-select v-model="userInput.company"  :class="{ 'is-invalid': userInput.errors.has('company') }">
                    <b-form-select-option v-for="(company,index) in all_company" :value="company.EKORG" :key="index"
                    >{{company.EKORG}} - {{company.NAME1}}</b-form-select-option>
                </b-form-select>
                <has-error :form="userInput" field="company"></has-error>
            </div>
            <div class="form-group">
                <label class="col-form-label">Roles</label>
                <b-form-select v-model="userInput.roles"  multiple :select-size="10" :class="{ 'is-invalid': userInput.errors.has('roles') }">
                    <b-form-select-option v-for="(role,index) in all_roles" :value="role.name" :key="index"
                    >{{role.name}}</b-form-select-option>
                </b-form-select>
                <has-error :form="userInput" field="roles"></has-error>
            </div>
        </div>
    </div>

</template>

<script>
import {Form, HasError, AlertError, AlertSuccess} from 'vform';
import {mapActions, mapGetters} from "vuex";
export default {
    name: "UserForm",
    components: {HasError, AlertError, AlertSuccess},
    props:{
        form:{
            type:Object,
            required:true
        }
    },
    computed:{
        ...mapGetters({
            all_roles: ["role/all_role"],
            all_company: ["static_budget/plants"], // company codes
        }),
        userInput(){
            return this.form;
        }
    },
    created(){
        this.getAllRole();
        this.plants();
    },
    methods:{
        ...mapActions({
            getAllRole: "role/getRoles",
            plants: "static_budget/getPlant",
        }),
    }
}
</script>

<style scoped>

</style>
