<template>
    <div>
        <div class="card">
            <div class="card-header card-header-primary card-header-icon">
                <h4 class="card-title">Create</h4>
            </div>
            <form class="form-horizontal" v-promise-btn="{action: 'submit'}"
                  v-on:submit.prevent="submitUser"
                  @keydown="user.onKeydown($event)">
                <div class="card-body">
                    <UserForm :form="user"></UserForm>
                </div>
                <div class="card-footer " >
                    <button type="submit" class="btn btn-fill btn-success">Submit</button>
                    <button type="button" class="btn btn-fill btn-danger" @click="cancelCreate">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</template>

<script>
import {Form, HasError, AlertError, AlertSuccess} from 'vform';
import { mapActions, mapGetters } from "vuex";
import UserForm from './_Form'
export default {
    name: "UserCreate",
    components: {HasError, AlertError, AlertSuccess,UserForm},
    computed: {
        ...mapGetters({
            user: ["user/user"], // array in form
        }),
    },
    methods: {
        ...mapActions({
            createUser: "user/createUser",
            getUser:"user/fetchUsersForDatatable"
        }),
        cancelCreate(){
            this.$emit("cancelCreate", false);
        },
        async submitUser() {
            try{
                await this.$store.commit('user/USER_CREATE',this.user);
                await this.createUser();
                await this.getUser();
                this.$swal({
                    icon: 'success',
                    title: 'New User created',
                    showConfirmButton: false,
                    timer: 1500
                });
                //this.form.name = null;

            }catch(e){
                console.log(e);
            }


        }
    }
}
</script>

<style scoped>

</style>
