<template>
    <div class="container-fluid">
        <router-view></router-view>
    </div>
</template>

<script>
export default {
    name: "BudgetDetailsIndex"
}
</script>

<style scoped>

</style>
