<template>
    <div class="sidebar" data-color="azure" data-background-color="black"
    >
        <div class="sidebar-background" style="background-image: url('/images/budget1.jpg') "></div>

        <!--
          Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

          Tip 2: you can also add an image using data-image tag
      -->
        <div class="logo">
            <a href="/" class="simple-text logo-normal">
                <img src="" width="60">
                VCY Budget vs Actual
            </a>

        </div>
        <div class="sidebar-wrapper">
            <ul class="nav">
                <template v-if="$can('summary_view')">
                    <router-link tag="li" :to="{ name: 'summaryTable' }" class="nav-item" exact>
                        <a class="nav-link">
                            <i class="material-icons">dashboard</i>
                            <p>Dashboard</p>
                        </a>
                    </router-link>
                </template>

                <!--                <router-link tag="li" :to="{ name: 'home' }" class="nav-item" exact>-->
                <!--                    <a class="nav-link">-->
                <!--                        <i class="material-icons">dashboard</i>-->
                <!--                        <p>Summary</p>-->
                <!--                    </a>-->
                <!--                </router-link>-->
                <template v-if="$can('user_view') && $can('user_create')
                && $can('user_edit') && $can( 'user_delete')
                && $can('permission_view') && $can('permission_create')
                && $can('permission_edit') && $can('permission_delete')
                && $can('role_view') && $can('role_create')
                && $can('role_edit') && $can('role_delete')">
                    <li class="nav-item">
                        <a class="nav-link collapsed" data-toggle="collapse" href="#userManagement"
                           aria-expanded="false">
                            <i class="material-icons">person</i>
                            <p> Manage Users
                                <b class="caret"></b>
                            </p>
                        </a>
                        <div class="collapse" id="userManagement" style="">
                            <ul class="nav">
                                <router-link tag="li" :to="{ name: 'permissionIndex' }" class="nav-item" exact
                                             v-if="$can('permission_view') && $can('permission_create')
                                             && $can('permission_edit') && $can('permission_delete')">
                                    <a class="nav-link">
                                        <span class="sidebar-mini"> P </span>
                                        <span class="sidebar-normal"> Permissions </span>
                                    </a>
                                </router-link>
                                <router-link tag="li" :to="{ name: 'roleIndex' }" class="nav-item" exact
                                             v-if="$can('role_view') && $can('role_create') && $can('role_edit') && $can('role_delete')">
                                    <a class="nav-link">
                                        <span class="sidebar-mini"> R </span>
                                        <span class="sidebar-normal"> Roles </span>
                                    </a>
                                </router-link>
                                <router-link tag="li" :to="{ name: 'userIndex' }" class="nav-item" exact
                                             v-if="$can( 'user_view') && $can( 'user_create') && $can( 'user_edit') && $can( 'user_delete')">
                                    <a class="nav-link">
                                        <span class="sidebar-mini"> U </span>
                                        <span class="sidebar-normal"> Users </span>
                                    </a>
                                </router-link>
                            </ul>
                        </div>
                    </li>
                </template>
                <template v-if="$can('static_budget_view')">
                    <router-link tag="li" :to="{ name: 'staticIndex' }" class="nav-item" exact>
                        <a class="nav-link">
                            <i class="material-icons">analytics</i>
                            <p>Budget Data</p>
                        </a>
                    </router-link>
                </template>
                <template v-if="$can('budget_details_view')">
                    <router-link tag="li" :to="{ name: 'budgetIndex' }" class="nav-item" exact>
                        <a class="nav-link">
                            <i class="material-icons">insights</i>
                            <p>Budget Details</p>
                        </a>
                    </router-link>
                </template>
                <template v-if="$can('thd_summary_view') && $can('thd_summary_create')">
                    <router-link tag="li" :to="{ name: 'thdSummaryIndex' }" class="nav-item" exact>
                        <a class="nav-link">
                            <i class="material-icons">store</i>
                            <p>THD Summary</p>
                        </a>
                    </router-link>
                </template>
                <template v-if="$can('gl_accounts_view')">
                    <router-link tag="li" :to="{ name: 'GLAccountTable' }" class="nav-item" exact>
                        <a class="nav-link">
                            <i class="material-icons">pivot_table_chart</i>
                            <p>GL Accounts</p>
                        </a>
                    </router-link>
                </template>
                <template v-if="$can('budget_maintenance_view')">
                    <router-link tag="li" :to="{ name: 'BudgetMaintenanceTable' }" class="nav-item" exact>
                        <a class="nav-link">
                            <i class="material-icons">analytics</i>
                            <p>Budget Maintenance</p>
                        </a>
                    </router-link>
                </template>
                <!--                <template>-->
                <!--                    <router-link tag="li" :to="{ name: 'marketingIndex' }" class="nav-item" exact>-->
                <!--                        <a class="nav-link">-->
                <!--                            <i class="material-icons">analytics</i>-->
                <!--                            <p>Marketing</p>-->
                <!--                        </a>-->
                <!--                    </router-link>-->
                <!--                </template>-->

            </ul>
        </div>
    </div>
</template>

<script>
export default {
    name: "sidebar"
}
</script>

<style scoped>

</style>
