<template>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-lg-12">
            <div class="card">
                <div class="card-header card-header-primary card-header-text">
                    <div class="card-icon">
                        <i class="material-icons" v-if="">feed</i>
                    </div>
                    <h4 class="card-title">Budget VS Actual Report THD Summary</h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <label class="input-group-text input-group-field bmd-label-floating">Currency
                                        :</label>
                                </div>
                                <label class="bmd-label-floating mt-2 text-primary">PHP</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <label class="input-group-text input-group-field bmd-label-floating text-primary">Amounts
                                        in '000</label>
                                </div>
                                <!--<label class="bmd-label-floating mt-2 text-primary">Amounts in '000</label>-->
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <label class="input-group-text input-group-field bmd-label-floating">Posting Date
                                        :</label>
                                </div>
                                <date-picker
                                             placeholder="Select date range" :formatter="momentFormat"
                                             value-type="format"
                                             type="date" v-model="dateFromAndTo" range>
                                             class="form-control"
                                </date-picker>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
<!--        <loading v-model:active="isLoading"-->
<!--                 :can-cancel="false"-->
<!--                 :on-cancel="onCancel"-->
<!--                 :is-full-page="fullPage"/>-->
        <div class="col-md-12 col-sm-12 col-lg-12" v-if="thdSummaryHasData" ref="loadingContainer">
            <div class="card">
                <div class="card-header card-header-primary card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons" v-if="">monitor</i>
                    </div>
                    <h4 class="card-title">THD Summary All Companies</h4>
                </div>
                <div class="card-body">
                    <div class="toolbar">
                    </div>
                    <THDSummaryDataTable
                        @sortColumn="sortByTable"
                        @perPageEntry="paginateTable"
                        @searchItem="searchData"

                        :dt_tableHeaders="dt_tableHeaders"
                        :dt_tableHeaders_2="dt_tableHeaders_2"
                        :dt_tableHeaders_3="dt_tableHeaders_3"
                        :dt_tableHeaders_4="dt_tableHeaders_4"
                        :table_salaries="table_salaries"
                        :table_fuels_and_selling_exp="table_fuels_and_selling_exp"
                        :table_fuels="table_fuels"
                        :table_maintenance="table_maintenance"
                        :table_repairs="table_repairs"
                        :table_parking="table_parking"
                        :table_tolling="table_tolling"
                        :table_utilities="table_utilities"
                        :table_admin_expenses="table_admin_expenses"
                        :table_operation_exp="table_operation_exp"

                        :dt_currentSort="tableSortBy"
                        :dt_currentSortDir="tableSortDir"
                        :dt_defaultEntries="tableDefaultEntries"
                        :dt_Search="search"
                        dt_classTable="table table-bordered"
                        dt_TableWidth="100"
                    >
                        <template v-slot:thdSummaryDataTableData v-if="showIT">
                            <tr v-for="(thd,index) in thd_summary.ACCOUNTS.DETAILS.SALARIES" v-if="$can('allowed_salaries_breakdown')">
                                <td>{{ thd.name }}</td>
                                <td class="text-right"  v-if="$can('hilado_company_thd_summary')">{{ thd.company_1231  }}</td>
                                <td class="text-right" v-if="$can('sibulan_company_thd_summary')">{{ thd.company_1232 }}</td>
                                <td class="text-right" v-if="$can('roxas_company_thd_summary')">{{ thd.company_1233 }}</td>
                                <td class="text-right" v-if="$can('sumag_company_thd_summary')">{{ thd.company_1234 }}</td>
                                <td class="text-right" v-if="$can('diversion_company_thd_summary')">{{ thd.company_1235 }}</td>
                                <td class="text-right" v-if="$can('jaro_company_thd_summary')">{{ thd.company_1236 }}</td>
                                <td class="text-right" v-if="$can('kabankalan_company_thd_summary')">{{ thd.company_1237 }}</td>
                                <td class="text-right" v-if="$can('corporate_services_company_thd_summary')">{{ thd.company_1901 }}</td>
                                <td class="text-right" v-if="$can('show_total_thd_summary')">{{ thd.total }}</td>
                            </tr>
                        </template>
                        <template v-slot:tableFuels v-if="showIT">
                            <tr v-for="(thd,index) in thd_summary.ACCOUNTS.DETAILS.FUELS" >
                                <td>{{ thd.name }}</td>
                               <td class="text-right"  v-if="$can('hilado_company_thd_summary')">{{ thd.company_1231  }}</td>
                                <td class="text-right" v-if="$can('sibulan_company_thd_summary')">{{ thd.company_1232 }}</td>
                                <td class="text-right" v-if="$can('roxas_company_thd_summary')">{{ thd.company_1233 }}</td>
                                <td class="text-right" v-if="$can('sumag_company_thd_summary')">{{ thd.company_1234 }}</td>
                                <td class="text-right" v-if="$can('diversion_company_thd_summary')">{{ thd.company_1235 }}</td>
                                <td class="text-right" v-if="$can('jaro_company_thd_summary')">{{ thd.company_1236 }}</td>
                                <td class="text-right" v-if="$can('kabankalan_company_thd_summary')">{{ thd.company_1237 }}</td>
                                <td class="text-right" v-if="$can('corporate_services_company_thd_summary')">{{ thd.company_1901 }}</td>
                                <td class="text-right" v-if="$can('show_total_thd_summary')">{{ thd.total }}</td>
                            </tr>
                        </template>

                        <template v-slot:tableMaintenance v-if="showIT">
                            <tr v-for="(thd,index) in thd_summary.ACCOUNTS.DETAILS.MAINTENANCE">
                                <td>{{ thd.name }}</td>
                               <td class="text-right"  v-if="$can('hilado_company_thd_summary')">{{ thd.company_1231  }}</td>
                                <td class="text-right" v-if="$can('sibulan_company_thd_summary')">{{ thd.company_1232 }}</td>
                                <td class="text-right" v-if="$can('roxas_company_thd_summary')">{{ thd.company_1233 }}</td>
                                <td class="text-right" v-if="$can('sumag_company_thd_summary')">{{ thd.company_1234 }}</td>
                                <td class="text-right" v-if="$can('diversion_company_thd_summary')">{{ thd.company_1235 }}</td>
                                <td class="text-right" v-if="$can('jaro_company_thd_summary')">{{ thd.company_1236 }}</td>
                                <td class="text-right" v-if="$can('kabankalan_company_thd_summary')">{{ thd.company_1237 }}</td>
                                <td class="text-right" v-if="$can('corporate_services_company_thd_summary')">{{ thd.company_1901 }}</td>
                                <td class="text-right" v-if="$can('show_total_thd_summary')">{{ thd.total }}</td>
                            </tr>
                        </template>

                        <template v-slot:tableRepairs v-if="showIT">
                            <tr v-for="(thd,index) in thd_summary.ACCOUNTS.DETAILS.REPAIRS">
                                <td>{{ thd.name }}</td>
                               <td class="text-right"  v-if="$can('hilado_company_thd_summary')">{{ thd.company_1231  }}</td>
                                <td class="text-right" v-if="$can('sibulan_company_thd_summary')">{{ thd.company_1232 }}</td>
                                <td class="text-right" v-if="$can('roxas_company_thd_summary')">{{ thd.company_1233 }}</td>
                                <td class="text-right" v-if="$can('sumag_company_thd_summary')">{{ thd.company_1234 }}</td>
                                <td class="text-right" v-if="$can('diversion_company_thd_summary')">{{ thd.company_1235 }}</td>
                                <td class="text-right" v-if="$can('jaro_company_thd_summary')">{{ thd.company_1236 }}</td>
                                <td class="text-right" v-if="$can('kabankalan_company_thd_summary')">{{ thd.company_1237 }}</td>
                                <td class="text-right" v-if="$can('corporate_services_company_thd_summary')">{{ thd.company_1901 }}</td>
                                <td class="text-right" v-if="$can('show_total_thd_summary')">{{ thd.total }}</td>
                            </tr>
                        </template>

                        <template v-slot:tableParking v-if="showIT">
                            <tr v-for="(thd,index) in thd_summary.ACCOUNTS.DETAILS.PARKING">
                                <td>{{ thd.name }}</td>
                               <td class="text-right"  v-if="$can('hilado_company_thd_summary')">{{ thd.company_1231  }}</td>
                                <td class="text-right" v-if="$can('sibulan_company_thd_summary')">{{ thd.company_1232 }}</td>
                                <td class="text-right" v-if="$can('roxas_company_thd_summary')">{{ thd.company_1233 }}</td>
                                <td class="text-right" v-if="$can('sumag_company_thd_summary')">{{ thd.company_1234 }}</td>
                                <td class="text-right" v-if="$can('diversion_company_thd_summary')">{{ thd.company_1235 }}</td>
                                <td class="text-right" v-if="$can('jaro_company_thd_summary')">{{ thd.company_1236 }}</td>
                                <td class="text-right" v-if="$can('kabankalan_company_thd_summary')">{{ thd.company_1237 }}</td>
                                <td class="text-right" v-if="$can('corporate_services_company_thd_summary')">{{ thd.company_1901 }}</td>
                                <td class="text-right" v-if="$can('show_total_thd_summary')">{{ thd.total }}</td>
                            </tr>
                        </template>

                        <template v-slot:tableTolling v-if="showIT">
                            <tr v-for="(thd,index) in thd_summary.ACCOUNTS.DETAILS.TOLLING">
                                <td>{{ thd.name }}</td>
                               <td class="text-right"  v-if="$can('hilado_company_thd_summary')">{{ thd.company_1231  }}</td>
                                <td class="text-right" v-if="$can('sibulan_company_thd_summary')">{{ thd.company_1232 }}</td>
                                <td class="text-right" v-if="$can('roxas_company_thd_summary')">{{ thd.company_1233 }}</td>
                                <td class="text-right" v-if="$can('sumag_company_thd_summary')">{{ thd.company_1234 }}</td>
                                <td class="text-right" v-if="$can('diversion_company_thd_summary')">{{ thd.company_1235 }}</td>
                                <td class="text-right" v-if="$can('jaro_company_thd_summary')">{{ thd.company_1236 }}</td>
                                <td class="text-right" v-if="$can('kabankalan_company_thd_summary')">{{ thd.company_1237 }}</td>
                                <td class="text-right" v-if="$can('corporate_services_company_thd_summary')">{{ thd.company_1901 }}</td>
                                <td class="text-right" v-if="$can('show_total_thd_summary')">{{ thd.total }}</td>
                            </tr>
                        </template>

                        <template v-slot:tableFuelAndSellingExp v-if="showIT">
                            <tr v-for="(thd,index) in thd_summary.ACCOUNTS.DETAILS.FUEL_AND_SELLING_EXP">
                                <td>{{ thd.name }}</td>
                               <td class="text-right"  v-if="$can('hilado_company_thd_summary')">{{ thd.company_1231  }}</td>
                                <td class="text-right" v-if="$can('sibulan_company_thd_summary')">{{ thd.company_1232 }}</td>
                                <td class="text-right" v-if="$can('roxas_company_thd_summary')">{{ thd.company_1233 }}</td>
                                <td class="text-right" v-if="$can('sumag_company_thd_summary')">{{ thd.company_1234 }}</td>
                                <td class="text-right" v-if="$can('diversion_company_thd_summary')">{{ thd.company_1235 }}</td>
                                <td class="text-right" v-if="$can('jaro_company_thd_summary')">{{ thd.company_1236 }}</td>
                                <td class="text-right" v-if="$can('kabankalan_company_thd_summary')">{{ thd.company_1237 }}</td>
                                <td class="text-right" v-if="$can('corporate_services_company_thd_summary')">{{ thd.company_1901 }}</td>
                                <td class="text-right" v-if="$can('show_total_thd_summary')">{{ thd.total }}</td>
                            </tr>
                        </template>

                        <template v-slot:tableUtilities v-if="showIT">
                            <tr v-for="(thd,index) in thd_summary.ACCOUNTS.DETAILS.UTILITIES">
                                <td>{{ thd.name }}</td>
                               <td class="text-right"  v-if="$can('hilado_company_thd_summary')">{{ thd.company_1231  }}</td>
                                <td class="text-right" v-if="$can('sibulan_company_thd_summary')">{{ thd.company_1232 }}</td>
                                <td class="text-right" v-if="$can('roxas_company_thd_summary')">{{ thd.company_1233 }}</td>
                                <td class="text-right" v-if="$can('sumag_company_thd_summary')">{{ thd.company_1234 }}</td>
                                <td class="text-right" v-if="$can('diversion_company_thd_summary')">{{ thd.company_1235 }}</td>
                                <td class="text-right" v-if="$can('jaro_company_thd_summary')">{{ thd.company_1236 }}</td>
                                <td class="text-right" v-if="$can('kabankalan_company_thd_summary')">{{ thd.company_1237 }}</td>
                                <td class="text-right" v-if="$can('corporate_services_company_thd_summary')">{{ thd.company_1901 }}</td>
                                <td class="text-right" v-if="$can('show_total_thd_summary')">{{ thd.total }}</td>
                            </tr>
                        </template>

                        <template v-slot:tableAdminExpenses v-if="showIT">
                            <tr v-for="(thd,index) in thd_summary.ACCOUNTS.DETAILS.ADMIN_EXPENSE">
                                <td>{{ thd.name }}</td>
                               <td class="text-right"  v-if="$can('hilado_company_thd_summary')">{{ thd.company_1231  }}</td>
                                <td class="text-right" v-if="$can('sibulan_company_thd_summary')">{{ thd.company_1232 }}</td>
                                <td class="text-right" v-if="$can('roxas_company_thd_summary')">{{ thd.company_1233 }}</td>
                                <td class="text-right" v-if="$can('sumag_company_thd_summary')">{{ thd.company_1234 }}</td>
                                <td class="text-right" v-if="$can('diversion_company_thd_summary')">{{ thd.company_1235 }}</td>
                                <td class="text-right" v-if="$can('jaro_company_thd_summary')">{{ thd.company_1236 }}</td>
                                <td class="text-right" v-if="$can('kabankalan_company_thd_summary')">{{ thd.company_1237 }}</td>
                                <td class="text-right" v-if="$can('corporate_services_company_thd_summary')">{{ thd.company_1901 }}</td>
                                <td class="text-right" v-if="$can('show_total_thd_summary')">{{ thd.total }}</td>
                            </tr>
                        </template>
                    </THDSummaryDataTable>
                </div>
            </div>
        </div>
        <transition name="fade">
            <div class="col-md-12 col-sm-12 col-lg-6 " v-show="showCreate">
                <UserCreate @cancelCreate="closeCreate"></UserCreate>

            </div>


        </transition>


        <transition name="fade">

            <div class="col-md-12 col-sm-12 col-lg-6 " v-show="showEdit" ref="editFormRef">
                <UserEdit @cancelEdit="closeEdit"></UserEdit>
            </div>

        </transition>
    </div>


</template>

<script>
import BudgetDetailsDataTable from "../../views/tables/BudgetDetailsDataTable";
import BudgetDetailsDataTablePerMonth from "../../views/tables/BudgetDetailsDataTablePerMonth";
import SummaryOperatingExpensesDataTable from "../../views/tables/SummaryOperatingExpensesDataTable";
import SummaryBreakDown from "../../views/tables/SummaryBreakDown";
import THDSummaryDataTable from "../../views/tables/THDSummaryDataTable";
import DataTable from "../../components/ToyDataTable";
import UserCreate from "../users/UserCreate";
import UserEdit from "../users/UserEdit";

import DatePicker from 'vue2-datepicker';
import 'vue2-datepicker/index.css';
import {mapActions, mapGetters} from "vuex";
import moment from "moment";

export default {
    name: "THDSummaryTable",
    components: {
        BudgetDetailsDataTable, DataTable,
        UserCreate, UserEdit,BudgetDetailsDataTablePerMonth,
        SummaryOperatingExpensesDataTable,SummaryBreakDown,THDSummaryDataTable,DatePicker
    },
    data() {
        return {
            showCreate: false,
            showEdit: false,
            isLoading: false,
            fullPage: true,
            isLoader: null,
            dt_tableHeaders: [
                {column_name: 'VARIANCE', query_name: 'name', sortable: false,dark_sky_blue_last_four: true,font_text_white: true, font_weight_bold: true},
                {column_name: '', query_name: 'name', sortable: false,class_text_right: true,dark_sky_blue_last_four: true,font_text_white: true, font_weight_bold: true},
                {column_name: '', query_name: 'name', sortable: false,class_text_right: true,dark_sky_blue_last_four: true,font_text_white: true, font_weight_bold: true},
                {column_name: '', query_name: 'name', sortable: false,class_text_right: true,dark_sky_blue_last_four: true,font_text_white: true, font_weight_bold: true},
                {column_name: '', query_name: 'name', sortable: false,class_text_right: true,dark_sky_blue_last_four: true,font_text_white: true, font_weight_bold: true},
                {column_name: '', query_name: 'name', sortable: false,class_text_right: true,dark_sky_blue_last_four: true,font_text_white: true, font_weight_bold: true},
                {column_name: '', query_name: 'name', sortable: false,class_text_right: true,dark_sky_blue_last_four: true,font_text_white: true, font_weight_bold: true},
                {column_name: '', query_name: 'name', sortable: false,class_text_right: true,dark_sky_blue_last_four: true,font_text_white: true, font_weight_bold: true},
                {column_name: '', query_name: 'name', sortable: false,class_text_right: true,dark_sky_blue_last_four: true,font_text_white: true, font_weight_bold: true},
                {column_name: '', query_name: 'name', sortable: false,class_text_right: true,dark_sky_blue_last_four: true,font_text_white: true, font_weight_bold: true},
            ],
            dt_tableHeaders_2: [
                {column_name: 'BUDGET', query_name: 'name', sortable: false,dark_sky_blue_last_four: true,font_text_white: true, font_weight_bold: true},
                {column_name: '', query_name: 'name', sortable: false, class_text_right: true,dark_sky_blue_last_four: true,font_text_white: true, font_weight_bold: true},
                {column_name: '', query_name: 'name', sortable: false, class_text_right: true,dark_sky_blue_last_four: true,font_text_white: true, font_weight_bold: true},
                {column_name: '', query_name: 'name', sortable: false, class_text_right: true,dark_sky_blue_last_four: true,font_text_white: true, font_weight_bold: true},
                {column_name: '', query_name: 'name', sortable: false, class_text_right: true,dark_sky_blue_last_four: true,font_text_white: true, font_weight_bold: true},
                {column_name: '', query_name: 'name', sortable: false, class_text_right: true,dark_sky_blue_last_four: true,font_text_white: true, font_weight_bold: true},
                {column_name: '', query_name: 'name', sortable: false, class_text_right: true,dark_sky_blue_last_four: true,font_text_white: true, font_weight_bold: true},
                {column_name: '', query_name: 'name', sortable: false, class_text_right: true,dark_sky_blue_last_four: true,font_text_white: true, font_weight_bold: true},
                {column_name: '', query_name: 'name', sortable: false, class_text_right: true,dark_sky_blue_last_four: true,font_text_white: true, font_weight_bold: true},
                {column_name: '', query_name: 'name', sortable: false, class_text_right: true,dark_sky_blue_last_four: true,font_text_white: true, font_weight_bold: true},
            ],
            dt_tableHeaders_3: [
                {column_name: 'TOTAL OPEX', query_name: 'name', sortable: false,  dark_sky_blue_last_four: true,font_text_white: true, font_weight_bold: true},
                {column_name: '', query_name: 'name', sortable: false, class_text_right: true,dark_sky_blue_last_four: true,font_text_white: true, font_weight_bold: true},
                {column_name: '', query_name: 'name', sortable: false, class_text_right: true,dark_sky_blue_last_four: true,font_text_white: true, font_weight_bold: true},
                {column_name: '', query_name: 'name', sortable: false, class_text_right: true,dark_sky_blue_last_four: true,font_text_white: true, font_weight_bold: true},
                {column_name: '', query_name: 'name', sortable: false, class_text_right: true,dark_sky_blue_last_four: true,font_text_white: true, font_weight_bold: true},
                {column_name: '', query_name: 'name', sortable: false, class_text_right: true,dark_sky_blue_last_four: true,font_text_white: true, font_weight_bold: true},
                {column_name: '', query_name: 'name', sortable: false, class_text_right: true,dark_sky_blue_last_four: true,font_text_white: true, font_weight_bold: true},
                {column_name: '', query_name: 'name', sortable: false, class_text_right: true,dark_sky_blue_last_four: true,font_text_white: true, font_weight_bold: true},
                {column_name: '', query_name: 'name', sortable: false, class_text_right: true,dark_sky_blue_last_four: true,font_text_white: true, font_weight_bold: true},
                {column_name: '', query_name: 'name', sortable: false, class_text_right: true,dark_sky_blue_last_four: true,font_text_white: true, font_weight_bold: true},
            ],
            dt_tableHeaders_4: [
                {column_name: 'COMPANY', query_name: 'name', sortable: false, dark_sky_blue_last_four: true, font_text_white: true, font_weight_bold: true},
                {column_name: 'HIL', query_name: 'name', sortable: false, class_text_center: true,dark_sky_blue_last_four: true,font_text_white: true, font_weight_bold: true},
                {column_name: 'SIB', query_name: 'name', sortable: false, class_text_center: true,dark_sky_blue_last_four: true,font_text_white: true, font_weight_bold: true},
                {column_name: 'ROX', query_name: 'name', sortable: false, class_text_center: true,dark_sky_blue_last_four: true,font_text_white: true, font_weight_bold: true},
                {column_name: 'SUM', query_name: 'name', sortable: false, class_text_center: true,dark_sky_blue_last_four: true,font_text_white: true, font_weight_bold: true},
                {column_name: 'DIV', query_name: 'name', sortable: false, class_text_center: true,dark_sky_blue_last_four: true,font_text_white: true, font_weight_bold: true},
                {column_name: 'JAR', query_name: 'name', sortable: false, class_text_center: true,dark_sky_blue_last_four: true,font_text_white: true, font_weight_bold: true},
                {column_name: 'KAB', query_name: 'name', sortable: false, class_text_center: true,dark_sky_blue_last_four: true,font_text_white: true, font_weight_bold: true},
                {column_name: 'CS', query_name: 'name', sortable: false, class_text_center: true,dark_sky_blue_last_four: true,font_text_white: true, font_weight_bold: true},
                {column_name: 'TOTAL', query_name: 'name', sortable: false, class_text_center: true,dark_sky_blue_last_four: true,font_text_white: true, font_weight_bold: true},
            ],
            table_salaries: [
                {column_name: 'SALARIES', query_name: 'name', sortable: false,  dark_sky_blue_last_four: true, font_text_white: true, font_weight_bold: true},
                {column_name: '', query_name: 'name', sortable: false, class_text_right: true,dark_sky_blue_last_four: true,font_text_white: true, font_weight_bold: true},
                {column_name: '', query_name: 'name', sortable: false, class_text_right: true,dark_sky_blue_last_four: true,font_text_white: true, font_weight_bold: true},
                {column_name: '', query_name: 'name', sortable: false, class_text_right: true,dark_sky_blue_last_four: true,font_text_white: true, font_weight_bold: true},
                {column_name: '', query_name: 'name', sortable: false, class_text_right: true,dark_sky_blue_last_four: true,font_text_white: true, font_weight_bold: true},
                {column_name: '', query_name: 'name', sortable: false, class_text_right: true,dark_sky_blue_last_four: true,font_text_white: true, font_weight_bold: true},
                {column_name: '', query_name: 'name', sortable: false, class_text_right: true,dark_sky_blue_last_four: true,font_text_white: true, font_weight_bold: true},
                {column_name: '', query_name: 'name', sortable: false, class_text_right: true,dark_sky_blue_last_four: true,font_text_white: true, font_weight_bold: true},
                {column_name: '', query_name: 'name', sortable: false, class_text_right: true,dark_sky_blue_last_four: true,font_text_white: true, font_weight_bold: true},
                {column_name: '', query_name: 'name', sortable: false, class_text_right: true,dark_sky_blue_last_four: true,font_text_white: true, font_weight_bold: true},
            ],
            table_fuels_and_selling_exp: [
                {column_name: 'FUEL AND SELLING EXPENSES', query_name: 'name', sortable: false,  dark_sky_blue_last_four: true, font_text_white: true, font_weight_bold: true},
                {column_name: '', query_name: 'name', sortable: false, class_text_right: true,dark_sky_blue_last_four: true,font_text_white: true, font_weight_bold: true},
                {column_name: '', query_name: 'name', sortable: false, class_text_right: true,dark_sky_blue_last_four: true,font_text_white: true, font_weight_bold: true},
                {column_name: '', query_name: 'name', sortable: false, class_text_right: true,dark_sky_blue_last_four: true,font_text_white: true, font_weight_bold: true},
                {column_name: '', query_name: 'name', sortable: false, class_text_right: true,dark_sky_blue_last_four: true,font_text_white: true, font_weight_bold: true},
                {column_name: '', query_name: 'name', sortable: false, class_text_right: true,dark_sky_blue_last_four: true,font_text_white: true, font_weight_bold: true},
                {column_name: '', query_name: 'name', sortable: false, class_text_right: true,dark_sky_blue_last_four: true,font_text_white: true, font_weight_bold: true},
                {column_name: '', query_name: 'name', sortable: false, class_text_right: true,dark_sky_blue_last_four: true,font_text_white: true, font_weight_bold: true},
                {column_name: '', query_name: 'name', sortable: false, class_text_right: true,dark_sky_blue_last_four: true,font_text_white: true, font_weight_bold: true},
                {column_name: '', query_name: 'name', sortable: false, class_text_right: true,dark_sky_blue_last_four: true,font_text_white: true, font_weight_bold: true},
            ],
            table_fuels: [
                {column_name: 'FUELS', query_name: 'name', sortable: false,  dark_sky_blue_last_four: true, font_text_white: true, font_weight_bold: true},
                {column_name: '', query_name: 'name', sortable: false, class_text_right: true,dark_sky_blue_last_four: true,font_text_white: true, font_weight_bold: true},
                {column_name: '', query_name: 'name', sortable: false, class_text_right: true,dark_sky_blue_last_four: true,font_text_white: true, font_weight_bold: true},
                {column_name: '', query_name: 'name', sortable: false, class_text_right: true,dark_sky_blue_last_four: true,font_text_white: true, font_weight_bold: true},
                {column_name: '', query_name: 'name', sortable: false, class_text_right: true,dark_sky_blue_last_four: true,font_text_white: true, font_weight_bold: true},
                {column_name: '', query_name: 'name', sortable: false, class_text_right: true,dark_sky_blue_last_four: true,font_text_white: true, font_weight_bold: true},
                {column_name: '', query_name: 'name', sortable: false, class_text_right: true,dark_sky_blue_last_four: true,font_text_white: true, font_weight_bold: true},
                {column_name: '', query_name: 'name', sortable: false, class_text_right: true,dark_sky_blue_last_four: true,font_text_white: true, font_weight_bold: true},
                {column_name: '', query_name: 'name', sortable: false, class_text_right: true,dark_sky_blue_last_four: true,font_text_white: true, font_weight_bold: true},
                {column_name: '', query_name: 'name', sortable: false, class_text_right: true,dark_sky_blue_last_four: true,font_text_white: true, font_weight_bold: true},
            ],
            table_maintenance: [
                {column_name: 'MAINTENANCE', query_name: 'name', sortable: false,  dark_sky_blue_last_four: true, font_text_white: true, font_weight_bold: true},
                {column_name: '', query_name: 'name', sortable: false, class_text_right: true,dark_sky_blue_last_four: true,font_text_white: true, font_weight_bold: true},
                {column_name: '', query_name: 'name', sortable: false, class_text_right: true,dark_sky_blue_last_four: true,font_text_white: true, font_weight_bold: true},
                {column_name: '', query_name: 'name', sortable: false, class_text_right: true,dark_sky_blue_last_four: true,font_text_white: true, font_weight_bold: true},
                {column_name: '', query_name: 'name', sortable: false, class_text_right: true,dark_sky_blue_last_four: true,font_text_white: true, font_weight_bold: true},
                {column_name: '', query_name: 'name', sortable: false, class_text_right: true,dark_sky_blue_last_four: true,font_text_white: true, font_weight_bold: true},
                {column_name: '', query_name: 'name', sortable: false, class_text_right: true,dark_sky_blue_last_four: true,font_text_white: true, font_weight_bold: true},
                {column_name: '', query_name: 'name', sortable: false, class_text_right: true,dark_sky_blue_last_four: true,font_text_white: true, font_weight_bold: true},
                {column_name: '', query_name: 'name', sortable: false, class_text_right: true,dark_sky_blue_last_four: true,font_text_white: true, font_weight_bold: true},
                {column_name: '', query_name: 'name', sortable: false, class_text_right: true,dark_sky_blue_last_four: true,font_text_white: true, font_weight_bold: true},
            ],
            table_repairs: [
                {column_name: 'REPAIRS', query_name: 'name', sortable: false,  dark_sky_blue_last_four: true, font_text_white: true, font_weight_bold: true},
                {column_name: '', query_name: 'name', sortable: false, class_text_right: true,dark_sky_blue_last_four: true,font_text_white: true, font_weight_bold: true},
                {column_name: '', query_name: 'name', sortable: false, class_text_right: true,dark_sky_blue_last_four: true,font_text_white: true, font_weight_bold: true},
                {column_name: '', query_name: 'name', sortable: false, class_text_right: true,dark_sky_blue_last_four: true,font_text_white: true, font_weight_bold: true},
                {column_name: '', query_name: 'name', sortable: false, class_text_right: true,dark_sky_blue_last_four: true,font_text_white: true, font_weight_bold: true},
                {column_name: '', query_name: 'name', sortable: false, class_text_right: true,dark_sky_blue_last_four: true,font_text_white: true, font_weight_bold: true},
                {column_name: '', query_name: 'name', sortable: false, class_text_right: true,dark_sky_blue_last_four: true,font_text_white: true, font_weight_bold: true},
                {column_name: '', query_name: 'name', sortable: false, class_text_right: true,dark_sky_blue_last_four: true,font_text_white: true, font_weight_bold: true},
                {column_name: '', query_name: 'name', sortable: false, class_text_right: true,dark_sky_blue_last_four: true,font_text_white: true, font_weight_bold: true},
                {column_name: '', query_name: 'name', sortable: false, class_text_right: true,dark_sky_blue_last_four: true,font_text_white: true, font_weight_bold: true},
            ],
            table_parking: [
                {column_name: 'PARKING', query_name: 'name', sortable: false,  dark_sky_blue_last_four: true, font_text_white: true, font_weight_bold: true},
                {column_name: '', query_name: 'name', sortable: false, class_text_right: true,dark_sky_blue_last_four: true,font_text_white: true, font_weight_bold: true},
                {column_name: '', query_name: 'name', sortable: false, class_text_right: true,dark_sky_blue_last_four: true,font_text_white: true, font_weight_bold: true},
                {column_name: '', query_name: 'name', sortable: false, class_text_right: true,dark_sky_blue_last_four: true,font_text_white: true, font_weight_bold: true},
                {column_name: '', query_name: 'name', sortable: false, class_text_right: true,dark_sky_blue_last_four: true,font_text_white: true, font_weight_bold: true},
                {column_name: '', query_name: 'name', sortable: false, class_text_right: true,dark_sky_blue_last_four: true,font_text_white: true, font_weight_bold: true},
                {column_name: '', query_name: 'name', sortable: false, class_text_right: true,dark_sky_blue_last_four: true,font_text_white: true, font_weight_bold: true},
                {column_name: '', query_name: 'name', sortable: false, class_text_right: true,dark_sky_blue_last_four: true,font_text_white: true, font_weight_bold: true},
                {column_name: '', query_name: 'name', sortable: false, class_text_right: true,dark_sky_blue_last_four: true,font_text_white: true, font_weight_bold: true},
                {column_name: '', query_name: 'name', sortable: false, class_text_right: true,dark_sky_blue_last_four: true,font_text_white: true, font_weight_bold: true},
            ],
            table_tolling: [
                {column_name: 'TOLLING', query_name: 'name', sortable: false,  dark_sky_blue_last_four: true, font_text_white: true, font_weight_bold: true},
                {column_name: '', query_name: 'name', sortable: false, class_text_right: true,dark_sky_blue_last_four: true,font_text_white: true, font_weight_bold: true},
                {column_name: '', query_name: 'name', sortable: false, class_text_right: true,dark_sky_blue_last_four: true,font_text_white: true, font_weight_bold: true},
                {column_name: '', query_name: 'name', sortable: false, class_text_right: true,dark_sky_blue_last_four: true,font_text_white: true, font_weight_bold: true},
                {column_name: '', query_name: 'name', sortable: false, class_text_right: true,dark_sky_blue_last_four: true,font_text_white: true, font_weight_bold: true},
                {column_name: '', query_name: 'name', sortable: false, class_text_right: true,dark_sky_blue_last_four: true,font_text_white: true, font_weight_bold: true},
                {column_name: '', query_name: 'name', sortable: false, class_text_right: true,dark_sky_blue_last_four: true,font_text_white: true, font_weight_bold: true},
                {column_name: '', query_name: 'name', sortable: false, class_text_right: true,dark_sky_blue_last_four: true,font_text_white: true, font_weight_bold: true},
                {column_name: '', query_name: 'name', sortable: false, class_text_right: true,dark_sky_blue_last_four: true,font_text_white: true, font_weight_bold: true},
                {column_name: '', query_name: 'name', sortable: false, class_text_right: true,dark_sky_blue_last_four: true,font_text_white: true, font_weight_bold: true},
            ],
            table_utilities: [
                {column_name: 'UTILITIES', query_name: 'name', sortable: false,  dark_sky_blue_last_four: true, font_text_white: true, font_weight_bold: true},
                {column_name: '', query_name: 'name', sortable: false, class_text_right: true,dark_sky_blue_last_four: true,font_text_white: true, font_weight_bold: true},
                {column_name: '', query_name: 'name', sortable: false, class_text_right: true,dark_sky_blue_last_four: true,font_text_white: true, font_weight_bold: true},
                {column_name: '', query_name: 'name', sortable: false, class_text_right: true,dark_sky_blue_last_four: true,font_text_white: true, font_weight_bold: true},
                {column_name: '', query_name: 'name', sortable: false, class_text_right: true,dark_sky_blue_last_four: true,font_text_white: true, font_weight_bold: true},
                {column_name: '', query_name: 'name', sortable: false, class_text_right: true,dark_sky_blue_last_four: true,font_text_white: true, font_weight_bold: true},
                {column_name: '', query_name: 'name', sortable: false, class_text_right: true,dark_sky_blue_last_four: true,font_text_white: true, font_weight_bold: true},
                {column_name: '', query_name: 'name', sortable: false, class_text_right: true,dark_sky_blue_last_four: true,font_text_white: true, font_weight_bold: true},
                {column_name: '', query_name: 'name', sortable: false, class_text_right: true,dark_sky_blue_last_four: true,font_text_white: true, font_weight_bold: true},
                {column_name: '', query_name: 'name', sortable: false, class_text_right: true,dark_sky_blue_last_four: true,font_text_white: true, font_weight_bold: true},
            ],
            table_admin_expenses: [
                {column_name: 'ADMINISTRATIVE EXPENSES', query_name: 'name', sortable: false,  dark_sky_blue_last_four: true, font_text_white: true, font_weight_bold: true},
                {column_name: '', query_name: 'name', sortable: false, class_text_right: true,dark_sky_blue_last_four: true,font_text_white: true, font_weight_bold: true},
                {column_name: '', query_name: 'name', sortable: false, class_text_right: true,dark_sky_blue_last_four: true,font_text_white: true, font_weight_bold: true},
                {column_name: '', query_name: 'name', sortable: false, class_text_right: true,dark_sky_blue_last_four: true,font_text_white: true, font_weight_bold: true},
                {column_name: '', query_name: 'name', sortable: false, class_text_right: true,dark_sky_blue_last_four: true,font_text_white: true, font_weight_bold: true},
                {column_name: '', query_name: 'name', sortable: false, class_text_right: true,dark_sky_blue_last_four: true,font_text_white: true, font_weight_bold: true},
                {column_name: '', query_name: 'name', sortable: false, class_text_right: true,dark_sky_blue_last_four: true,font_text_white: true, font_weight_bold: true},
                {column_name: '', query_name: 'name', sortable: false, class_text_right: true,dark_sky_blue_last_four: true,font_text_white: true, font_weight_bold: true},
                {column_name: '', query_name: 'name', sortable: false, class_text_right: true,dark_sky_blue_last_four: true,font_text_white: true, font_weight_bold: true},
                {column_name: '', query_name: 'name', sortable: false, class_text_right: true,dark_sky_blue_last_four: true,font_text_white: true, font_weight_bold: true},
            ],
            table_operation_exp: [
                {column_name: 'OPERATING EXPENSES', query_name: 'name', sortable: false,  dark_sky_blue_last_four: true, font_text_white: true, font_weight_bold: true},
                {column_name: '', query_name: 'name', sortable: false, class_text_right: true,dark_sky_blue_last_four: true,font_text_white: true, font_weight_bold: true},
                {column_name: '', query_name: 'name', sortable: false, class_text_right: true,dark_sky_blue_last_four: true,font_text_white: true, font_weight_bold: true},
                {column_name: '', query_name: 'name', sortable: false, class_text_right: true,dark_sky_blue_last_four: true,font_text_white: true, font_weight_bold: true},
                {column_name: '', query_name: 'name', sortable: false, class_text_right: true,dark_sky_blue_last_four: true,font_text_white: true, font_weight_bold: true},
                {column_name: '', query_name: 'name', sortable: false, class_text_right: true,dark_sky_blue_last_four: true,font_text_white: true, font_weight_bold: true},
                {column_name: '', query_name: 'name', sortable: false, class_text_right: true,dark_sky_blue_last_four: true,font_text_white: true, font_weight_bold: true},
                {column_name: '', query_name: 'name', sortable: false, class_text_right: true,dark_sky_blue_last_four: true,font_text_white: true, font_weight_bold: true},
                {column_name: '', query_name: 'name', sortable: false, class_text_right: true,dark_sky_blue_last_four: true,font_text_white: true, font_weight_bold: true},
                {column_name: '', query_name: 'name', sortable: false, class_text_right: true,dark_sky_blue_last_four: true,font_text_white: true, font_weight_bold: true},
            ],
            momentFormat: {
                // Date to String
                stringify: (date) => {
                    return date ? moment(date).format("YYYY-MM-DD") : "";
                },
                // String to Date
                parse: (value) => {
                    return value ? moment(value, "YYYY-MM-DD").toDate() : null;
                },
            },
            dateFromAndTo:[],
            //Budget Details data below
            tableHeaders: [
                {column_name: 'COMPANY CODES', query_name: 'name', sortable: false, dark_sky_blue_last_four: true, font_text_white: true, font_weight_bold: true},
                {column_name: '', query_name: 'name', sortable: false, class_text_center: true,dark_sky_blue_last_four: true,font_text_white: true, font_weight_bold: true},
                {column_name: '', query_name: 'name', sortable: false, class_text_center: true,dark_sky_blue_last_four: true,font_text_white: true, font_weight_bold: true},
                {column_name: '', query_name: 'name', sortable: false, class_text_center: true,dark_sky_blue_last_four: true,font_text_white: true, font_weight_bold: true},
                {column_name: '', query_name: 'name', sortable: false, class_text_center: true,dark_sky_blue_last_four: true,font_text_white: true, font_weight_bold: true},
                {column_name: '', query_name: 'name', sortable: false, class_text_center: true,dark_sky_blue_last_four: true,font_text_white: true, font_weight_bold: true},
                {column_name: '', query_name: 'name', sortable: false, class_text_center: true,dark_sky_blue_last_four: true,font_text_white: true, font_weight_bold: true},
                {column_name: '', query_name: 'name', sortable: false, class_text_center: true,dark_sky_blue_last_four: true,font_text_white: true, font_weight_bold: true},
                {column_name: '', query_name: 'name', sortable: false, class_text_center: true,dark_sky_blue_last_four: true,font_text_white: true, font_weight_bold: true},
                {column_name: '', query_name: 'name', sortable: false, class_text_center: true,dark_sky_blue_last_four: true,font_text_white: true, font_weight_bold: true},
            ],
            tableHeadersBudgetDetailsDataTable: [
                {
                    column_name: 'ACCOUNT',
                    query_name: 'name',
                    sortable: false,
                    rowspan: 2,
                    dark_sky_blue_last_four: true,
                    font_text_white: true,
                    font_weight_bold: true
                },
                {
                    column_name: 'ANNUAL',
                    query_name: 'name',
                    sortable: false,
                    colspan: 3,
                    class_text_center: true,
                    dark_sky_blue_last_four: true,
                    font_text_white: true,
                    font_weight_bold: true
                },
                {
                    column_name: 'VS BUDGET',
                    query_name: 'name',
                    sortable: false,
                    colspan: 2,
                    class_text_center: true,
                    dark_sky_blue_last_four: true,
                    font_text_white: true,
                    font_weight_bold: true
                },
                {
                    column_name: 'VS PY ACTUAL',
                    query_name: 'name',
                    sortable: false,
                    colspan: 2,
                    class_text_center: true,
                    dark_sky_blue_last_four: true,
                    font_text_white: true,
                    font_weight_bold: true
                },
            ],
            //dark blue sa right
            //sky blue sa left
            tableHeaders_2_BudgetDetailsDataTable: [
                {
                    column_name: 'BUDGET',
                    query_name: 'name',
                    sortable: false,
                    dark_sky_blue_last_four: true,
                    font_text_white: true,
                    font_weight_bold: true
                },
                {
                    column_name: 'CY ACTUAL',
                    query_name: 'name',
                    sortable: false,
                    dark_sky_blue_last_four: true,
                    font_text_white: true,
                    font_weight_bold: true
                },
                {
                    column_name: 'PY ACTUAL',
                    query_name: 'name',
                    sortable: false,
                    dark_sky_blue_last_four: true,
                    font_text_white: true,
                    font_weight_bold: true
                },
                {
                    column_name: 'VARIANCE',
                    query_name: 'name',
                    sortable: false,
                    dark_sky_blue_last_four: true,
                    font_text_white: true,
                    font_weight_bold: true
                },
                {
                    column_name: '% OF VARIANCE',
                    query_name: 'name',
                    sortable: false,
                    dark_sky_blue_last_four: true,
                    font_text_white: true,
                    font_weight_bold: true
                },
                {
                    column_name: 'CHANGE',
                    query_name: 'name',
                    sortable: false,
                    dark_sky_blue_last_four: true,
                    font_text_white: true,
                    font_weight_bold: true
                },
                {
                    column_name: '% OF CHANGE',
                    query_name: 'name',
                    sortable: false,
                    dark_sky_blue_last_four: true,
                    font_text_white: true,
                    font_weight_bold: true
                },
            ],

            totalReg: 0,
            totalFuelAndSellingExp: 0,
            totalFuels: 0,
            totalMain: 0,
            totalRepairs: 0,
            totalPark: 0,
            totalTolling: 0,
            totalAdminExp: 0,
            totalUtilities: 0,

            summary_operating_arr:[],
            thdSummaryHasData:false,
            showIT:false,
            allowedCompany:[],
        }
    },

    computed: {
        ...mapGetters({
            tableDefaultEntries: ["user/perPage"],
            tableSortBy: ["user/sortBy"],
            tableSortDir: ["user/sortDir"],
            users: ["user/users"],
            search: ["user/search"],
            perPage: ["user/perPage"],
            // budget_total: ["budget_details/budget_total"],
            isLogin: ["auth/check"],
            thd_summary:["thd-summary/thdSummaryOperating"],
        }),
        currentUserLocal() {
            return this.$store.getters['auth/users'] || []
        },
    },
    watch: {
        "currentUserLocal": {
            deep: true,
            handler: function (newVal, oldVal) {
                this.getBudgetTotal();
            }
        },
        "thd_summary": {
            deep: true,
            handler: function (newVal, oldVal) {
                // console.log(newVal,newVal.ACCOUNTS.DETAILS.SALARIES,this.formatNumber(newVal.ACCOUNTS.DETAILS.SALARIES[0].company_1231),'thd_summary');
                var size = 0, key;
                for (key in newVal) {
                    if (newVal.hasOwnProperty(key)) size++;
                }
                if(size !== 0){
                    if(newVal.ACCOUNTS.DETAILS.SALARIES.length !== 0 && newVal.ACCOUNTS.DETAILS.FUELS.length !== 0
                        && newVal.ACCOUNTS.DETAILS.FUEL_AND_SELLING_EXP.length !== 0 && newVal.ACCOUNTS.DETAILS.MAINTENANCE.length !== 0
                        && newVal.ACCOUNTS.DETAILS.PARKING.length !== 0 && newVal.ACCOUNTS.DETAILS.REPAIRS.length !== 0
                        && newVal.ACCOUNTS.DETAILS.TOLLING.length !== 0 && newVal.ACCOUNTS.DETAILS.UTILITIES.length !== 0
                        && newVal.ACCOUNTS.DETAILS.ADMIN_EXPENSE.length !== 0){
                        // console.log(this.dt_tableHeaders_4,'company');
                        // this.showCompanyByPermission();
                        // let allowedCompany =  this.removeCompanyIsNotPermitted();
                        // console.log(this.allowedCompany,'allowedCompany');
                        this.isLoader.hide();
                        this.showIT = true;
                        this.thdSummaryHasData = true;
                    }
                }
            }
        },
        "dateFromAndTo": {
            deep: true,
            handler: function (newVal, oldVal) {
                if(newVal[0] !== null && newVal[1] !== null){
                    this.getTHDSummaryDetails();
                    // this.thdSummaryHasData = false;
                    // let loader
                    this.isLoader = this.$loading.show({
                        // Optional parameters
                        container: this.fullPage ? null : this.$refs.loadingContainer,
                        canCancel: false,
                        loader: 'dots',
                        color: '#004BAD',
                        width: 64,
                        height: 64,
                        backgroundColor: 'rgba(0, 0, 0, 0.5)',
                        opacity: 0.5,
                        zIndex: 999,
                    });
                }
                if(newVal[0] === null && newVal[1] === null){
                    this.thdSummaryHasData = false; // the entire table will be hidden
                }
            }
        },
    },
    created() {
        //this.$store.commit('permission/PERMISSION_SEARCH', '');
        this.index();
    },
    methods: {
        ...mapActions({
            getUser: "user/fetchUsersForDatatable",
            editUser: "user/getUser",
            budgetTotal: "budget_details/budgetTotal",
            getTHDSummary: "thd-summary/getTHDSummary",
        }),
       // async showCompanyByPermission(){
       //      let arr = [];
       //      let isLength = this.currentPermission.length;
       //
       //      let hil = 0;
       //      let sib = 0;
       //      let rox = 0;
       //      let sum = 0;
       //      let diver = 0;
       //      let jar = 0;
       //      let kab = 0;
       //      let cs = 0;
       //
       //      let x = 0;
       //      do{
       //          if(this.currentPermission[x] === 'hilado_company_thd_summary'){
       //              hil = 'HIL'; //1231
       //          }else if(this.currentPermission[x] === 'sibulan_company_thd_summary'){
       //              sib = 'SIB'; //1232
       //          }else if(this.currentPermission[x] === 'roxas_company_thd_summary'){
       //              rox = 'ROX'; //1233
       //          }else if(this.currentPermission[x] === 'sumag_company_thd_summary'){
       //              sum = 'SUM'; //1234
       //          }else if(this.currentPermission[x] === 'diversion_company_thd_summary'){
       //              diver = 'DIV'; //1235
       //          }else if(this.currentPermission[x] === 'jaro_company_thd_summary'){
       //              jar = 'JAR'; //1236
       //          }else if(this.currentPermission[x] === 'kabankalan_company_thd_summary'){
       //              kab = 'KAB'; //1237
       //          }else if(this.currentPermission[x] === 'corporate_services_company_thd_summary'){
       //              cs = 'CS'; //1901
       //          }
       //          if(hil !== 0 || sib !== 0 || rox !== 0
       //              || sum !== 0 || diver !== 0 || jar !== 0
       //              || kab !== 0 || cs !== 0){
       //              arr = [hil,sib,rox,sum,diver,jar,kab,cs];
       //          }
       //          x++;
       //      }while(x <= isLength);
       //     await this.removeCompanyIsNotPermitted(arr,0);
       //     // let checkThis = this.dt_tableHeaders_4.includes()
       //     let y = 0;
       //     let yy = 0;
       //
       //     //first loop It enters both outer and inner loops, showing the desired output for the first line. You end up with y = 1 and yy = 8.
       //     //second loop Since y is 1, it doesn't leave the outer loop, but yy is 8, so it doesn't enter the inner loop again.
       //     //last loop It then keeps adding 1 to y until it doesn't match the outer loop condition anymore and leaves you with that unwanted result.
       //
       //     let includeThis = [];
       //     let testHeaders = [];
       //     let y_1 = null;
       //
       //     while(y < this.dt_tableHeaders_4.length){
       //         while(yy < this.allowedCompany.length){
       //             if(this.dt_tableHeaders_4[y].column_name === this.allowedCompany[yy]){
       //                 includeThis.push(this.allowedCompany[yy]);
       //                  // console.log(this.dt_tableHeaders_4[y].column_name,'checkthis');
       //                 // testHeaders = this.dt_tableHeaders_4.splice(y,5);
       //                 // console.log(this.dt_tableHeaders_4.splice(y,1),'slice');
       //                 // console.log(y,'y');
       //                 // console.log(this.allowedCompany[yy],'checkthis_1');
       //                 // includeThis.push(this.allowedCompany[yy]);
       //                 // console.log(this.allowedCompany[yy],'includeThis123');
       //             }
       //             yy++;
       //         }
       //         yy = 0;
       //         y++;
       //     }
       //     // console.log(includeThis);
       //     // let missingIndex = [];
       //     // for(let x = 0; x < this.dt_tableHeaders_4.length;x++){
       //     //     for(let y = 0; y < includeThis.length;y++){
       //     //         if(this.dt_tableHeaders_4[x].column_name === includeThis[y]){
       //     //              // console.log(x,'x');
       //     //             missingIndex.push(x);
       //     //         }
       //     //     }
       //     // }
       //     // let missingIndex_1 = [];
       //     // for(let x = 0; x < this.dt_tableHeaders_4.length;x++){
       //     //     for(let y = 0; y < missingIndex.length;y++){
       //     //         if(x !== missingIndex[y]){
       //     //             // console.log(missingIndex[y],'test111');
       //     //         }
       //     //     }
       //     // }
       //     // console.log(missingIndex,'missingIndex');
       //     // console.log(testHeaders,'testHeaders');
       //     // console.log(this.dt_tableHeaders_4,'includethis111');
       //     // this.dt_tableHeaders_4 = includeThis;
       //     // console.log(includeThis,'includeThis');
       //     // this.dt_tableHeaders_4.includes()
       //  },
       //  removeCompanyIsNotPermitted(arr, value){
       //      let i = 0;
       //      while (i < arr.length) {
       //          if (arr[i] === value) {
       //              arr.splice(i, 1);
       //          } else {
       //              ++i;
       //          }
       //      }
       //      this.allowedCompany = arr;
       //      return this.allowedCompany;
       //  },
        async getBudgetTotal() {
            // await this.$store.commit('thd-summary/THD_SUMMARY_COMPANY', this.currentUserLocal[0].company);
            // await this.getTHDSummary();

            await this.$store.commit('budget_details/COMPANY_USER', this.currentUserLocal[0].company);
            await this.budgetTotal();
        },
        async getTHDSummaryDetails() {
            await this.$store.commit('thd-summary/THD_DATE_RANGE', this.dateFromAndTo);
            await this.getTHDSummary();
            this.table_salaries[1].column_name = await this.thd_summary.ACCOUNTS.TOTAL_1231;
            this.table_salaries[2].column_name = await this.thd_summary.ACCOUNTS.TOTAL_1232;
            this.table_salaries[3].column_name = await this.thd_summary.ACCOUNTS.TOTAL_1233;
            this.table_salaries[4].column_name = await this.thd_summary.ACCOUNTS.TOTAL_1234;
            this.table_salaries[5].column_name = await this.thd_summary.ACCOUNTS.TOTAL_1235;
            this.table_salaries[6].column_name = await this.thd_summary.ACCOUNTS.TOTAL_1236;
            this.table_salaries[7].column_name = await this.thd_summary.ACCOUNTS.TOTAL_1237;
            this.table_salaries[8].column_name = await this.thd_summary.ACCOUNTS.TOTAL_1901;
            this.table_salaries[9].column_name = await this.thd_summary.ACCOUNTS.TOTAL_ALL;

            this.dt_tableHeaders_3[1].column_name = await this.thd_summary.ACCOUNTS.OPEX_1231;
            this.dt_tableHeaders_3[2].column_name = await this.thd_summary.ACCOUNTS.OPEX_1232;
            this.dt_tableHeaders_3[3].column_name = await this.thd_summary.ACCOUNTS.OPEX_1233;
            this.dt_tableHeaders_3[4].column_name = await this.thd_summary.ACCOUNTS.OPEX_1234;
            this.dt_tableHeaders_3[5].column_name = await this.thd_summary.ACCOUNTS.OPEX_1235;
            this.dt_tableHeaders_3[6].column_name = await this.thd_summary.ACCOUNTS.OPEX_1236;
            this.dt_tableHeaders_3[7].column_name = await this.thd_summary.ACCOUNTS.OPEX_1237;
            this.dt_tableHeaders_3[8].column_name = await this.thd_summary.ACCOUNTS.OPEX_1901;
            this.dt_tableHeaders_3[9].column_name = await this.thd_summary.ACCOUNTS.OPEX_TOTAL;

            this.dt_tableHeaders_2[1].column_name = await this.thd_summary.ACCOUNTS.BUDGET_1231;
            this.dt_tableHeaders_2[2].column_name = await this.thd_summary.ACCOUNTS.BUDGET_1232;
            this.dt_tableHeaders_2[3].column_name = await this.thd_summary.ACCOUNTS.BUDGET_1233;
            this.dt_tableHeaders_2[4].column_name = await this.thd_summary.ACCOUNTS.BUDGET_1234;
            this.dt_tableHeaders_2[5].column_name = await this.thd_summary.ACCOUNTS.BUDGET_1235;
            this.dt_tableHeaders_2[6].column_name = await this.thd_summary.ACCOUNTS.BUDGET_1236;
            this.dt_tableHeaders_2[7].column_name = await this.thd_summary.ACCOUNTS.BUDGET_1237;
            this.dt_tableHeaders_2[8].column_name = await this.thd_summary.ACCOUNTS.BUDGET_1901;
            this.dt_tableHeaders_2[9].column_name = await this.thd_summary.ACCOUNTS.BUDGET_TOTAL;

            this.dt_tableHeaders[1].column_name = await this.thd_summary.ACCOUNTS.VARIANCE_1231;
            this.dt_tableHeaders[2].column_name = await this.thd_summary.ACCOUNTS.VARIANCE_1232;
            this.dt_tableHeaders[3].column_name = await this.thd_summary.ACCOUNTS.VARIANCE_1233;
            this.dt_tableHeaders[4].column_name = await this.thd_summary.ACCOUNTS.VARIANCE_1234;
            this.dt_tableHeaders[5].column_name = await this.thd_summary.ACCOUNTS.VARIANCE_1235;
            this.dt_tableHeaders[6].column_name = await this.thd_summary.ACCOUNTS.VARIANCE_1236;
            this.dt_tableHeaders[7].column_name = await this.thd_summary.ACCOUNTS.VARIANCE_1237;
            this.dt_tableHeaders[8].column_name = await this.thd_summary.ACCOUNTS.VARIANCE_1901;
            this.dt_tableHeaders[9].column_name = await this.thd_summary.ACCOUNTS.VARIANCE_TOTAL;

            this.table_fuels[1].column_name = await this.thd_summary.ACCOUNTS.TOTAL_1231_FUELS;
            this.table_fuels[2].column_name = await this.thd_summary.ACCOUNTS.TOTAL_1232_FUELS;
            this.table_fuels[3].column_name = await this.thd_summary.ACCOUNTS.TOTAL_1233_FUELS;
            this.table_fuels[4].column_name = await this.thd_summary.ACCOUNTS.TOTAL_1234_FUELS;
            this.table_fuels[5].column_name = await this.thd_summary.ACCOUNTS.TOTAL_1235_FUELS;
            this.table_fuels[6].column_name = await this.thd_summary.ACCOUNTS.TOTAL_1236_FUELS;
            this.table_fuels[7].column_name = await this.thd_summary.ACCOUNTS.TOTAL_1237_FUELS;
            this.table_fuels[8].column_name = await this.thd_summary.ACCOUNTS.TOTAL_1901_FUELS;
            this.table_fuels[9].column_name = await this.thd_summary.ACCOUNTS.TOTAL_ALL_FUELS;

            this.table_fuels_and_selling_exp[1].column_name = await this.thd_summary.ACCOUNTS.TOTAL_ALL_FUELS_AND_SELLING_EXP_1231;
            this.table_fuels_and_selling_exp[2].column_name = await this.thd_summary.ACCOUNTS.TOTAL_ALL_FUELS_AND_SELLING_EXP_1232;
            this.table_fuels_and_selling_exp[3].column_name = await this.thd_summary.ACCOUNTS.TOTAL_ALL_FUELS_AND_SELLING_EXP_1233;
            this.table_fuels_and_selling_exp[4].column_name = await this.thd_summary.ACCOUNTS.TOTAL_ALL_FUELS_AND_SELLING_EXP_1234;
            this.table_fuels_and_selling_exp[5].column_name = await this.thd_summary.ACCOUNTS.TOTAL_ALL_FUELS_AND_SELLING_EXP_1235;
            this.table_fuels_and_selling_exp[6].column_name = await this.thd_summary.ACCOUNTS.TOTAL_ALL_FUELS_AND_SELLING_EXP_1236;
            this.table_fuels_and_selling_exp[7].column_name = await this.thd_summary.ACCOUNTS.TOTAL_ALL_FUELS_AND_SELLING_EXP_1237;
            this.table_fuels_and_selling_exp[8].column_name = await this.thd_summary.ACCOUNTS.TOTAL_ALL_FUELS_AND_SELLING_EXP_1901;
            this.table_fuels_and_selling_exp[9].column_name = await this.thd_summary.ACCOUNTS.TOTAL_ALL_FUELS_AND_SELLING_EXP;

            this.table_maintenance[1].column_name = await this.thd_summary.ACCOUNTS.TOTAL_1231_MAIN;
            this.table_maintenance[2].column_name = await this.thd_summary.ACCOUNTS.TOTAL_1232_MAIN;
            this.table_maintenance[3].column_name = await this.thd_summary.ACCOUNTS.TOTAL_1233_MAIN;
            this.table_maintenance[4].column_name = await this.thd_summary.ACCOUNTS.TOTAL_1234_MAIN;
            this.table_maintenance[5].column_name = await this.thd_summary.ACCOUNTS.TOTAL_1235_MAIN;
            this.table_maintenance[6].column_name = await this.thd_summary.ACCOUNTS.TOTAL_1236_MAIN;
            this.table_maintenance[7].column_name = await this.thd_summary.ACCOUNTS.TOTAL_1237_MAIN;
            this.table_maintenance[8].column_name = await this.thd_summary.ACCOUNTS.TOTAL_1901_MAIN;
            this.table_maintenance[9].column_name = await this.thd_summary.ACCOUNTS.TOTAL_ALL_MAIN;

            this.table_repairs[1].column_name = await this.thd_summary.ACCOUNTS.TOTAL_1231_REPAIRS;
            this.table_repairs[2].column_name = await this.thd_summary.ACCOUNTS.TOTAL_1232_REPAIRS;
            this.table_repairs[3].column_name = await this.thd_summary.ACCOUNTS.TOTAL_1233_REPAIRS;
            this.table_repairs[4].column_name = await this.thd_summary.ACCOUNTS.TOTAL_1234_REPAIRS;
            this.table_repairs[5].column_name = await this.thd_summary.ACCOUNTS.TOTAL_1235_REPAIRS;
            this.table_repairs[6].column_name = await this.thd_summary.ACCOUNTS.TOTAL_1236_REPAIRS;
            this.table_repairs[7].column_name = await this.thd_summary.ACCOUNTS.TOTAL_1237_REPAIRS;
            this.table_repairs[8].column_name = await this.thd_summary.ACCOUNTS.TOTAL_1901_REPAIRS;
            this.table_repairs[9].column_name = await this.thd_summary.ACCOUNTS.TOTAL_ALL_REPAIRS;

            this.table_parking[1].column_name = await this.thd_summary.ACCOUNTS.TOTAL_1231_PARKING;
            this.table_parking[2].column_name = await this.thd_summary.ACCOUNTS.TOTAL_1232_PARKING;
            this.table_parking[3].column_name = await this.thd_summary.ACCOUNTS.TOTAL_1233_PARKING;
            this.table_parking[4].column_name = await this.thd_summary.ACCOUNTS.TOTAL_1234_PARKING;
            this.table_parking[5].column_name = await this.thd_summary.ACCOUNTS.TOTAL_1235_PARKING;
            this.table_parking[6].column_name = await this.thd_summary.ACCOUNTS.TOTAL_1236_PARKING;
            this.table_parking[7].column_name = await this.thd_summary.ACCOUNTS.TOTAL_1237_PARKING;
            this.table_parking[8].column_name = await this.thd_summary.ACCOUNTS.TOTAL_1901_PARKING;
            this.table_parking[9].column_name = await this.thd_summary.ACCOUNTS.TOTAL_ALL_PARKING;

            this.table_tolling[1].column_name = await this.thd_summary.ACCOUNTS.TOTAL_1231_TOLLING;
            this.table_tolling[2].column_name = await this.thd_summary.ACCOUNTS.TOTAL_1232_TOLLING;
            this.table_tolling[3].column_name = await this.thd_summary.ACCOUNTS.TOTAL_1233_TOLLING;
            this.table_tolling[4].column_name = await this.thd_summary.ACCOUNTS.TOTAL_1234_TOLLING;
            this.table_tolling[5].column_name = await this.thd_summary.ACCOUNTS.TOTAL_1235_TOLLING;
            this.table_tolling[6].column_name = await this.thd_summary.ACCOUNTS.TOTAL_1236_TOLLING;
            this.table_tolling[7].column_name = await this.thd_summary.ACCOUNTS.TOTAL_1237_TOLLING;
            this.table_tolling[8].column_name = await this.thd_summary.ACCOUNTS.TOTAL_1901_TOLLING;
            this.table_tolling[9].column_name = await this.thd_summary.ACCOUNTS.TOTAL_ALL_TOLLING;

            this.table_utilities[1].column_name = await this.thd_summary.ACCOUNTS.TOTAL_1231_UTILITIES;
            this.table_utilities[2].column_name = await this.thd_summary.ACCOUNTS.TOTAL_1232_UTILITIES;
            this.table_utilities[3].column_name = await this.thd_summary.ACCOUNTS.TOTAL_1233_UTILITIES;
            this.table_utilities[4].column_name = await this.thd_summary.ACCOUNTS.TOTAL_1234_UTILITIES;
            this.table_utilities[5].column_name = await this.thd_summary.ACCOUNTS.TOTAL_1235_UTILITIES;
            this.table_utilities[6].column_name = await this.thd_summary.ACCOUNTS.TOTAL_1236_UTILITIES;
            this.table_utilities[7].column_name = await this.thd_summary.ACCOUNTS.TOTAL_1237_UTILITIES;
            this.table_utilities[8].column_name = await this.thd_summary.ACCOUNTS.TOTAL_1901_UTILITIES;
            this.table_utilities[9].column_name = await this.thd_summary.ACCOUNTS.TOTAL_ALL_UTILITIES;

            this.table_admin_expenses[1].column_name = await this.thd_summary.ACCOUNTS.TOTAL_1231_admin_exp;
            this.table_admin_expenses[2].column_name = await this.thd_summary.ACCOUNTS.TOTAL_1232_admin_exp;
            this.table_admin_expenses[3].column_name = await this.thd_summary.ACCOUNTS.TOTAL_1233_admin_exp;
            this.table_admin_expenses[4].column_name = await this.thd_summary.ACCOUNTS.TOTAL_1234_admin_exp;
            this.table_admin_expenses[5].column_name = await this.thd_summary.ACCOUNTS.TOTAL_1235_admin_exp;
            this.table_admin_expenses[6].column_name = await this.thd_summary.ACCOUNTS.TOTAL_1236_admin_exp;
            this.table_admin_expenses[7].column_name = await this.thd_summary.ACCOUNTS.TOTAL_1237_admin_exp;
            this.table_admin_expenses[8].column_name = await this.thd_summary.ACCOUNTS.TOTAL_1901_admin_exp;
            this.table_admin_expenses[9].column_name = await this.thd_summary.ACCOUNTS.TOTAL_ALL_admin_exp;

            this.table_operation_exp[1].column_name = await this.thd_summary.ACCOUNTS.OPEX_1231;
            this.table_operation_exp[2].column_name = await this.thd_summary.ACCOUNTS.OPEX_1232;
            this.table_operation_exp[3].column_name = await this.thd_summary.ACCOUNTS.OPEX_1233;
            this.table_operation_exp[4].column_name = await this.thd_summary.ACCOUNTS.OPEX_1234;
            this.table_operation_exp[5].column_name = await this.thd_summary.ACCOUNTS.OPEX_1235;
            this.table_operation_exp[6].column_name = await this.thd_summary.ACCOUNTS.OPEX_1236;
            this.table_operation_exp[7].column_name = await this.thd_summary.ACCOUNTS.OPEX_1237;
            this.table_operation_exp[8].column_name = await this.thd_summary.ACCOUNTS.OPEX_1901;
            this.table_operation_exp[9].column_name = await this.thd_summary.ACCOUNTS.OPEX_TOTAL;
        },

        deleteUser(e, index) {
            this.$swal({
                title: 'Are you sure to delete this user?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.value) {
                    let uri = `/api/users/${e}`;
                    axios.delete(uri).then(response => {
                        this.$swal(
                            'Deleted!',
                            'Your file has been deleted.',
                            'success'
                        );
                        this.users.data.splice(index, 1);
                    });
                }
            })
        },

        async showCreateView() {
            this.showCreate = true;
            this.showEdit = false;
            await this.$store.commit('user/USER_CLEAR')
        },

        async closeCreate(value) {
            this.showCreate = value;
            this.showEdit = false;
            await this.$store.commit('user/USER_CLEAR')
        },
        async closeEdit() {
            this.showCreate = false;
            this.showEdit = false;
            await this.$store.commit('user/USER_CLEAR')
        },
        async edit(id) {
            this.showEdit = true;
            this.showCreate = false;
            await this.$store.commit('user/USER_CLEAR')
            await this.$store.commit('user/USER_ID', id);
            await this.editUser();

        },
        async sortByTable(value) {
            await this.$store.commit('user/USER_SORTBY', value.sortBy);
            await this.$store.commit('user/USER_SORTDIR', value.sortDir);
            await this.index();

        },
        async paginateTable(value) {
            await this.$store.commit('user/USER_PERPAGE', value);
            await this.index();

        },
        async searchData(value) {
            await this.$store.commit('user/USER_SEARCH', value);
            await this.index();

        },
        async index(page) {
            if (typeof page === 'undefined') {
                await this.$store.commit('user/USER_PAGE', 1);
            }

            await this.$store.commit('user/USER_PAGE', page);
            await this.getUser();
        },

        formatNumber(number) {
           // return (number === '' || number === undefined) ? parseFloat('0') : parseFloat(Math.abs(number)).toFixed(2).replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,');
            return (number === '') ? '' : parseFloat(Math.abs(number)).toFixed(0).replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,');
        },
        formatNumberNoAbs(number) {
            return (number > 0) ? parseFloat(number).toFixed(0).replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,') : parseFloat(number).toFixed(0).replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,');
        },
    }
}
</script>

<style scoped>

</style>
