<template>
    <div class="row">
        <div class="container-fluid mb-4">
            <div class="row" v-if="isLogin">
                <h1>WELCOME, {{this.currentUserLocal[0].name}}</h1>
            </div>
            <div class="row" v-else>
                <h1>Welcome Guest</h1>
            </div>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12">
            <select class="custom-select" v-model="filterCompany">
                <option value="" disabled>Please select one...</option>
                <option v-for="(company) in all_company" :value="company.EKORG" :key="company.ID"
                >{{ company.NAME1 }}
                </option>
            </select>
        </div>
        <div class="col-lg-9 col-md-12 col-sm-12">
        </div>
            <div class="col-lg-2 col-md-6 col-sm-6">
                <div class="card card-stats" style="width: 32vh">
                    <div class="card-header card-header-warning card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">account_balance_wallet</i>
                        </div>
                        <p class="card-category">Balance Last Month</p>
                        <h3 class="card-title" v-if="this.yearBreakdown.length !== 0">PHP {{this.formatNumber(this.yearBreakdown.balance_last_month)}}</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">update</i> As of today
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-6">
                <div class="card card-stats" style="margin-left: 50px;width: 30vh;">
                    <div class="card-header card-header-rose card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">account_balance</i>
                        </div>
                        <p class="card-category">Budget This Month</p>
                        <h3 class="card-title" v-if="this.yearBreakdown.length !== 0">PHP {{this.formatNumber(this.yearBreakdown.budget_this_month)}}</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">update</i> As of today
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-6">
                <div class="card card-stats" style="margin-left: 80px;width: 32vh;">
                    <div class="card-header card-header-success card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">savings</i>
                        </div>
                        <p class="card-category">Total Budget</p>
                        <h3 class="card-title" v-if="this.yearBreakdown.length !== 0">PHP {{this.formatNumber(this.yearBreakdown.total_budget)}}</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">update</i> As of today
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-6">
                <div class="card card-stats" style="width: 32vh;margin-left: 130px;">
                    <div class="card-header card-header-secondary card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">payments</i>
                        </div>
                        <p class="card-category">Actual Expense</p>
                        <h3 class="card-title" v-if="this.yearBreakdown.length !== 0">PHP {{this.formatNumber(this.yearBreakdown.actual_exp)}}</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">update</i> As of today
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats" style="width: 33vh;margin-left: 180px;">
                    <div class="card-header card-header-info card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">directions_run</i>
                        </div>
                        <p class="card-category">Running Balance</p>
                        <h3 class="card-title" v-if="this.yearBreakdown.length !== 0">PHP {{this.formatNumber(this.yearBreakdown.running_bal)}}</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">update</i> As of today
                        </div>
                    </div>
                </div>
            </div>

        <div class="col-md-12 col-sm-12 col-lg-12">
            <div class="card">
                <div class="card-header card-header-primary card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons" v-if="">calendar_month</i>
                    </div>
                    <h4 class="card-title"></h4>
                </div>
                <div class="card-body">
                    <div class="toolbar">
                    </div>
                    <BudgetYearBreakDownDataTable
                        @sortColumn="sortByTable"
                        @perPageEntry="paginateTable"
                        @searchItem="searchData"
                        :dt_tableHeaders="dt_tableHeaders"
                        :dt_currentSort="tableSortBy"
                        :dt_currentSortDir="tableSortDir"
                        :dt_defaultEntries="tableDefaultEntries"
                        :dt_Search="search"
                        dt_classTable="table table-bordered"
                        dt_TableWidth="100"
                    >
                        <template v-slot:tableData>
                            <tr v-for="(breakdown,index) in yearBreakdown.details">
                                <td class="text-center">{{ breakdown.name }}</td>
                                <td class="text-center" v-if="thisMonth >= 1">{{ breakdown.data[1].val }}</td>
                                <td class="text-center" v-if="thisMonth >= 2">{{ breakdown.data[2].val }}</td>
                                <td class="text-center" v-if="thisMonth >= 3">{{ breakdown.data[3].val }}</td>
                                <td class="text-center" v-if="thisMonth >= 4">{{ breakdown.data[4].val }}</td>
                                <td class="text-center" v-if="thisMonth >= 5">{{ breakdown.data[5].val }}</td>
                                <td class="text-center" v-if="thisMonth >= 6">{{ breakdown.data[6].val }}</td>
                                <td class="text-center" v-if="thisMonth >= 7">{{ breakdown.data[7].val }}</td>
                                <td class="text-center" v-if="thisMonth >= 8">{{ breakdown.data[8].val }}</td>
                                <td class="text-center" v-if="thisMonth >= 9">{{ breakdown.data[9].val }}</td>
                                <td class="text-center" v-if="thisMonth >= 10">{{ breakdown.data[10].val }}</td>
                                <td class="text-center" v-if="thisMonth >= 11">{{ breakdown.data[11].val }}</td>
                                <td class="text-center" v-if="thisMonth >= 12">{{ breakdown.data[12].val }}</td>
                            </tr>
                        </template>

                    </BudgetYearBreakDownDataTable>
                </div>
            </div>
        </div>


        <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="card">
                <div class="card-header card-header-primary card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons" v-if="">pie_chart</i>
                    </div>
                    <h4 class="card-title">Expense Grouping</h4>
                </div>
                <div class="card-body">
                    <div class="toolbar">
                    </div>

                    <GChart
                        type="PieChart"
                        :data="dataPie"
                        :options="options"
                    />
                </div>
            </div>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="card">
                <div class="card-header card-header-primary card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons" v-if="">bar_chart</i>
                    </div>
                    <h4 class="card-title">Electricity Expense ( vs LY )</h4>
                </div>
                <div class="card-body">
                    <div class="toolbar">
                    </div>

                    <GChart
                        :settings="{packages: ['bar']}"
                        :data="chartData"
                        :options="chartOptions"
                        :createChart="(el, google) => new google.charts.Bar(el)"
                        @ready="onChartReady"
                    />
                </div>
            </div>
        </div>

        <div class="col-md-6 col-sm-6 col-lg-6">
            <div class="card">
                <div class="card-header card-header-primary card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons" v-if="">leaderboard</i>
                    </div>
                    <h4 class="card-title">Top Expenses for the Month</h4>
                </div>
                <div class="card-body">
                    <div class="toolbar">
                    </div>
                    <TopExpensesDataTable
                        @sortColumn="sortByTable"
                        @perPageEntry="paginateTable"
                        @searchItem="searchData"

                        :dt_tableHeaders="dt_tableHeaders_top_expense"

                        :dt_currentSort="tableSortBy"
                        :dt_currentSortDir="tableSortDir"
                        :dt_defaultEntries="tableDefaultEntries"
                        :dt_Search="search"
                        dt_classTable="table table-bordered"
                        dt_TableWidth="100"
                    >
                        <template v-slot:tableData>
                            <tr v-for="(expenses,index) in yearBreakdown.top_expenses"
                                :key="expenses.id">
                                <td class="text-center">{{ expenses.name }}</td>
                                <td class="text-right">{{ expenses.actual_top_exp }}</td>
                            </tr>
                        </template>
                    </TopExpensesDataTable>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-lg-6">
            <div class="card">
                <div class="card-header card-header-primary card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons" v-if="">leaderboard</i>
                    </div>
                    <h4 class="card-title">Top OverBudget Accounts for the Month</h4>
                </div>
                <div class="card-body">
                    <div class="toolbar">
                    </div>
                    <TopOverBudgetDataTable
                        @sortColumn="sortByTable"
                        @perPageEntry="paginateTable"
                        @searchItem="searchData"

                        :dt_tableHeaders="dt_tableHeaders_top_overBudget"

                        :dt_currentSort="tableSortBy"
                        :dt_currentSortDir="tableSortDir"
                        :dt_defaultEntries="tableDefaultEntries"
                        :dt_Search="search"
                        dt_classTable="table table-bordered"
                        dt_TableWidth="100"
                    >
                        <template v-slot:tableData>
                            <tr v-for="(over_budget,index) in yearBreakdown.top_over_budget">
                                <td class="text-center">{{ over_budget.name }}</td>
                                <td class="text-right">{{ over_budget.actual_top_exp }}</td>
                                <td class="text-right">{{ over_budget.budget }}</td>
                                <td class="text-right">{{ over_budget.variance_top_exp }}</td>
                            </tr>
                        </template>

                    </TopOverBudgetDataTable>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import SummaryOperatingExpensesDataTable from "../../views/tables/SummaryOperatingExpensesDataTable";
import {mapActions, mapGetters} from "vuex";
import BudgetYearBreakDownDataTable from "../../views/tables/BudgetYearBreakDownDataTable";
import TopExpensesDataTable from "../../views/tables/TopExpensesDataTable";
import TopOverBudgetDataTable from "../../views/tables/TopOverBudgetDataTable";
import moment from "moment";
import {GChart} from 'vue-google-charts';
export default {
    name: "SummaryTable",
    components: {
        SummaryOperatingExpensesDataTable,
        BudgetYearBreakDownDataTable,
        TopExpensesDataTable,
        TopOverBudgetDataTable,
        GChart,
    },
    data() {
        return {
            filterCompany: null,
            options: {
                width: 755,
                height: 800,
                is3D: true,
                title: '',
                // colors: ['#1b9e77', '#DB4437', '#1A73E8']
            },
            dataPie: [
                ['Daily Routine', 'Hours per Day'],
                // ['Work',     14],
                // ['Eat',      2],
                // ['Reading',  2],
                // ['Exercise', 2],
                // ['Sleep',    5]
            ],

            chartsLib: null,
            chartsLibPie: null,
            chartData: [
                ['Month', '2021','2020'],
                ['Jan', 0, 0],
                ['Feb', 0, 0],
                ['Mar', 0, 0],
                ['Apr', 0, 0],
                ['May', 0, 0],
                ['Jun', 0, 0],
                ['Jul', 0, 0],
                ['Aug', 0, 0],
                ['Sep', 0, 0],
                ['Oct', 0, 0],
                ['Nov', 0, 0],
                ['Dec', 0,0],
            ],
            showCreate: false,
            showEdit: false,
            dt_tableHeaders_top_expense: [
                {column_name: 'Account', query_name: 'name', sortable: false,class_text_center: true,dark_sky_blue_last_four: true,font_text_white: true, font_weight_bold: true},
                {column_name: 'Amount', query_name: 'name', sortable: false,class_text_center: true,dark_sky_blue_last_four: true,font_text_white: true, font_weight_bold: true},
            ],
            dt_tableHeaders_top_overBudget: [
                {column_name: 'Account', query_name: 'name', sortable: false,class_text_center: true,dark_sky_blue_last_four: true,font_text_white: true, font_weight_bold: true},
                {column_name: 'Actual', query_name: 'name', sortable: false,class_text_center: true,dark_sky_blue_last_four: true,font_text_white: true, font_weight_bold: true},
                {column_name: 'Budget', query_name: 'name', sortable: false,class_text_center: true,dark_sky_blue_last_four: true,font_text_white: true, font_weight_bold: true},
                {column_name: 'Variance', query_name: 'name', sortable: false,class_text_center: true,dark_sky_blue_last_four: true,font_text_white: true, font_weight_bold: true},
            ],
            dt_tableHeaders: [
                {column_name: '', query_name: 'name', sortable: false,class_text_center: true,dark_sky_blue_last_four: true,font_text_white: true, font_weight_bold: true},
                {column_name: 'JAN', query_name: 'name', sortable: false,class_text_center: true,dark_sky_blue_last_four: true,font_text_white: true, font_weight_bold: true},
                {column_name: 'FEB', query_name: 'name', sortable: false,class_text_center: true,dark_sky_blue_last_four: true,font_text_white: true, font_weight_bold: true},
                {column_name: 'MAR', query_name: 'name', sortable: false,class_text_center: true,dark_sky_blue_last_four: true,font_text_white: true, font_weight_bold: true},
                {column_name: 'APR', query_name: 'name', sortable: false,class_text_center: true,dark_sky_blue_last_four: true,font_text_white: true, font_weight_bold: true},
                {column_name: 'MAY', query_name: 'name', sortable: false,class_text_center: true,dark_sky_blue_last_four: true,font_text_white: true, font_weight_bold: true},
                {column_name: 'JUNE', query_name: 'name', sortable: false,class_text_center: true,dark_sky_blue_last_four: true,font_text_white: true, font_weight_bold: true},
                {column_name: 'JULY', query_name: 'name', sortable: false,class_text_center: true,dark_sky_blue_last_four: true,font_text_white: true, font_weight_bold: true},
                {column_name: 'AUG', query_name: 'name', sortable: false,class_text_center: true,dark_sky_blue_last_four: true,font_text_white: true, font_weight_bold: true},
                {column_name: 'SEP', query_name: 'name', sortable: false,class_text_center: true,dark_sky_blue_last_four: true,font_text_white: true, font_weight_bold: true},
                {column_name: 'OCT', query_name: 'name', sortable: false,class_text_center: true,dark_sky_blue_last_four: true,font_text_white: true, font_weight_bold: true},
                {column_name: 'NOV', query_name: 'name', sortable: false,class_text_center: true,dark_sky_blue_last_four: true,font_text_white: true, font_weight_bold: true},
                {column_name: 'DEC', query_name: 'name', sortable: false,class_text_center: true,dark_sky_blue_last_four: true,font_text_white: true, font_weight_bold: true},

            ],
            dt_tableHeaders_2: [
                {column_name: 'COMPANY CODE', query_name: 'name', sortable: false,rowspan:3, class_text_center: true,dark_sky_blue_last_four: true,font_text_white: true, font_weight_bold: true},
                {column_name: 'ANNUAL', query_name: 'name', sortable: false, colspan: 3, class_text_center: true,dark_sky_blue_last_four: true,font_text_white: true, font_weight_bold: true},
                {column_name: 'VS BUDGET', query_name: 'name', sortable: false, colspan: 2, class_text_center: true,dark_sky_blue_last_four: true,font_text_white: true, font_weight_bold: true},
                {column_name: 'VS PY ACTUAL', query_name: 'name', sortable: false, colspan: 2, class_text_center: true,dark_sky_blue_last_four: true,font_text_white: true, font_weight_bold: true},
            ],
            dt_tableHeaders_3: [
                {column_name: 'BUDGET', query_name: 'name', sortable: false, class_text_center: true,dark_sky_blue_last_four: true,font_text_white: true, font_weight_bold: true},
                {column_name: 'CY ACTUAL', query_name: 'name', sortable: false,  class_text_center: true,dark_sky_blue_last_four: true,font_text_white: true, font_weight_bold: true},
                {column_name: 'PY ACTUAL', query_name: 'name', sortable: false,  class_text_center: true,dark_sky_blue_last_four: true,font_text_white: true, font_weight_bold: true},
                {column_name: 'VARIANCE', query_name: 'name', sortable: false, class_text_center: true,dark_sky_blue_last_four: true,font_text_white: true, font_weight_bold: true},
                {column_name: '% OF VARIANCE', query_name: 'name', sortable: false,  class_text_center: true,dark_sky_blue_last_four: true,font_text_white: true, font_weight_bold: true},
                {column_name: 'CHANGE', query_name: 'name', sortable: false,  class_text_center: true,dark_sky_blue_last_four: true,font_text_white: true, font_weight_bold: true},
                {column_name: '% OF CHANGE', query_name: 'name', sortable: false,  class_text_center: true,dark_sky_blue_last_four: true,font_text_white: true, font_weight_bold: true},
            ],
            //Budget Details data below
            tableHeaders: [
                {column_name: 'ACCOUNT', query_name: 'name', sortable: false, dark_sky_blue_last_four: true, font_text_white: true, font_weight_bold: true},
                {column_name: 'ANNUAL', query_name: 'name', sortable: false, dark_sky_blue_last_four: true, font_text_white: true, font_weight_bold: true},
                {column_name: 'VS BUDGET', query_name: 'name', sortable: false, dark_sky_blue_last_four: true, font_text_white: true, font_weight_bold: true},
                {column_name: 'VS PY ACTUAL', query_name: 'name', sortable: false, dark_sky_blue_last_four: true, font_text_white: true, font_weight_bold: true},
            ],
            //dark blue sa right
            //sky blue sa left
            table_salaries: [
                {
                    column_name: 'SALARIES',
                    query_name: 'name',
                    sortable: false,
                    dark_sky_blue_last_four: true,
                    font_text_white: true,
                    font_weight_bold: true
                },
                {
                    column_name: '',
                    query_name: 'name',
                    sortable: false,
                    class_text_right: true,
                    dark_sky_blue_last_four: true,
                    font_text_white: true,
                    font_weight_bold: true
                },
                {
                    column_name: '',
                    query_name: 'name',
                    sortable: false,
                    class_text_right: true,
                    dark_sky_blue_last_four: true,
                    font_text_white: true,
                    font_weight_bold: true
                },
                {
                    column_name: '',
                    query_name: 'name',
                    sortable: false,
                    class_text_right: true,
                    dark_sky_blue_last_four: true,
                    font_text_white: true,
                    font_weight_bold: true
                },
                {
                    column_name: '',
                    query_name: 'name',
                    sortable: false,
                    class_text_right: true,
                    dark_sky_blue_last_four: true,
                    font_text_white: true,
                    font_weight_bold: true
                },
                {
                    column_name: '',
                    query_name: 'name',
                    sortable: false,
                    class_text_right: true,
                    dark_sky_blue_last_four: true,
                    font_text_white: true,
                    font_weight_bold: true
                },
                {
                    column_name: '',
                    query_name: 'name',
                    sortable: false,
                    class_text_right: true,
                    dark_sky_blue_last_four: true,
                    font_text_white: true,
                    font_weight_bold: true
                },
                {
                    column_name: '',
                    query_name: 'name',
                    sortable: false,
                    class_text_right: true,
                    dark_sky_blue_last_four: true,
                    font_text_white: true,
                    font_weight_bold: true
                },
            ],
            table_fuels_and_selling_exp: [
                {
                    column_name: 'FUEL AND SELLING EXPENSES',
                    query_name: 'name',
                    sortable: false,
                    dark_sky_blue_last_four: true,
                    font_text_white: true,
                    font_weight_bold: true
                },
                {
                    column_name: '',
                    query_name: 'name',
                    sortable: false,
                    class_text_right: true,
                    dark_sky_blue_last_four: true,
                    font_text_white: true,
                    font_weight_bold: true
                },
                {
                    column_name: '',
                    query_name: 'name',
                    sortable: false,
                    class_text_right: true,
                    dark_sky_blue_last_four: true,
                    font_text_white: true,
                    font_weight_bold: true
                },
                {
                    column_name: '',
                    query_name: 'name',
                    sortable: false,
                    class_text_right: true,
                    dark_sky_blue_last_four: true,
                    font_text_white: true,
                    font_weight_bold: true
                },
                {
                    column_name: '',
                    query_name: 'name',
                    sortable: false,
                    class_text_right: true,
                    dark_sky_blue_last_four: true,
                    font_text_white: true,
                    font_weight_bold: true
                },
                {
                    column_name: '',
                    query_name: 'name',
                    sortable: false,
                    class_text_right: true,
                    dark_sky_blue_last_four: true,
                    font_text_white: true,
                    font_weight_bold: true
                },
                {
                    column_name: '',
                    query_name: 'name',
                    sortable: false,
                    class_text_right: true,
                    dark_sky_blue_last_four: true,
                    font_text_white: true,
                    font_weight_bold: true
                },
                {
                    column_name: '',
                    query_name: 'name',
                    sortable: false,
                    class_text_right: true,
                    dark_sky_blue_last_four: true,
                    font_text_white: true,
                    font_weight_bold: true
                },
            ],
            table_fuels: [
                {
                    column_name: 'FUELS',
                    query_name: 'name',
                    sortable: false,
                    dark_sky_blue_last_four: true,
                    font_text_white: true,
                    font_weight_bold: true
                },
                {
                    column_name: '',
                    query_name: 'name',
                    sortable: false,
                    class_text_right: true,
                    dark_sky_blue_last_four: true,
                    font_text_white: true,
                    font_weight_bold: true
                },
                {
                    column_name: '',
                    query_name: 'name',
                    sortable: false,
                    class_text_right: true,
                    dark_sky_blue_last_four: true,
                    font_text_white: true,
                    font_weight_bold: true
                },
                {
                    column_name: '',
                    query_name: 'name',
                    sortable: false,
                    class_text_right: true,
                    dark_sky_blue_last_four: true,
                    font_text_white: true,
                    font_weight_bold: true
                },
                {
                    column_name: '',
                    query_name: 'name',
                    sortable: false,
                    class_text_right: true,
                    dark_sky_blue_last_four: true,
                    font_text_white: true,
                    font_weight_bold: true
                },
                {
                    column_name: '',
                    query_name: 'name',
                    sortable: false,
                    class_text_right: true,
                    dark_sky_blue_last_four: true,
                    font_text_white: true,
                    font_weight_bold: true
                },
                {
                    column_name: '',
                    query_name: 'name',
                    sortable: false,
                    class_text_right: true,
                    dark_sky_blue_last_four: true,
                    font_text_white: true,
                    font_weight_bold: true
                },
                {
                    column_name: '',
                    query_name: 'name',
                    sortable: false,
                    class_text_right: true,
                    dark_sky_blue_last_four: true,
                    font_text_white: true,
                    font_weight_bold: true
                },
            ],
            table_maintenance: [
                {
                    column_name: 'MAINTENANCE',
                    query_name: 'name',
                    sortable: false,
                    dark_sky_blue_last_four: true,
                    font_text_white: true,
                    font_weight_bold: true
                },
                {
                    column_name: '',
                    query_name: 'name',
                    sortable: false,
                    class_text_right: true,
                    dark_sky_blue_last_four: true,
                    font_text_white: true,
                    font_weight_bold: true
                },
                {
                    column_name: '',
                    query_name: 'name',
                    sortable: false,
                    class_text_right: true,
                    dark_sky_blue_last_four: true,
                    font_text_white: true,
                    font_weight_bold: true
                },
                {
                    column_name: '',
                    query_name: 'name',
                    sortable: false,
                    class_text_right: true,
                    dark_sky_blue_last_four: true,
                    font_text_white: true,
                    font_weight_bold: true
                },
                {
                    column_name: '',
                    query_name: 'name',
                    sortable: false,
                    class_text_right: true,
                    dark_sky_blue_last_four: true,
                    font_text_white: true,
                    font_weight_bold: true
                },
                {
                    column_name: '',
                    query_name: 'name',
                    sortable: false,
                    class_text_right: true,
                    dark_sky_blue_last_four: true,
                    font_text_white: true,
                    font_weight_bold: true
                },
                {
                    column_name: '',
                    query_name: 'name',
                    sortable: false,
                    class_text_right: true,
                    dark_sky_blue_last_four: true,
                    font_text_white: true,
                    font_weight_bold: true
                },
                {
                    column_name: '',
                    query_name: 'name',
                    sortable: false,
                    class_text_right: true,
                    dark_sky_blue_last_four: true,
                    font_text_white: true,
                    font_weight_bold: true
                },
            ],
            table_repairs: [
                {
                    column_name: 'REPAIRS',
                    query_name: 'name',
                    sortable: false,
                    dark_sky_blue_last_four: true,
                    font_text_white: true,
                    font_weight_bold: true
                },
                {
                    column_name: '',
                    query_name: 'name',
                    sortable: false,
                    class_text_right: true,
                    dark_sky_blue_last_four: true,
                    font_text_white: true,
                    font_weight_bold: true
                },
                {
                    column_name: '',
                    query_name: 'name',
                    sortable: false,
                    class_text_right: true,
                    dark_sky_blue_last_four: true,
                    font_text_white: true,
                    font_weight_bold: true
                },
                {
                    column_name: '',
                    query_name: 'name',
                    sortable: false,
                    class_text_right: true,
                    dark_sky_blue_last_four: true,
                    font_text_white: true,
                    font_weight_bold: true
                },
                {
                    column_name: '',
                    query_name: 'name',
                    sortable: false,
                    class_text_right: true,
                    dark_sky_blue_last_four: true,
                    font_text_white: true,
                    font_weight_bold: true
                },
                {
                    column_name: '',
                    query_name: 'name',
                    sortable: false,
                    class_text_right: true,
                    dark_sky_blue_last_four: true,
                    font_text_white: true,
                    font_weight_bold: true
                },
                {
                    column_name: '',
                    query_name: 'name',
                    sortable: false,
                    class_text_right: true,
                    dark_sky_blue_last_four: true,
                    font_text_white: true,
                    font_weight_bold: true
                },
                {
                    column_name: '',
                    query_name: 'name',
                    sortable: false,
                    class_text_right: true,
                    dark_sky_blue_last_four: true,
                    font_text_white: true,
                    font_weight_bold: true
                },
            ],
            table_parking: [
                {
                    column_name: 'PARKING',
                    query_name: 'name',
                    sortable: false,
                    dark_sky_blue_last_four: true,
                    font_text_white: true,
                    font_weight_bold: true
                },
                {
                    column_name: '',
                    query_name: 'name',
                    sortable: false,
                    class_text_right: true,
                    dark_sky_blue_last_four: true,
                    font_text_white: true,
                    font_weight_bold: true
                },
                {
                    column_name: '',
                    query_name: 'name',
                    sortable: false,
                    class_text_right: true,
                    dark_sky_blue_last_four: true,
                    font_text_white: true,
                    font_weight_bold: true
                },
                {
                    column_name: '',
                    query_name: 'name',
                    sortable: false,
                    class_text_right: true,
                    dark_sky_blue_last_four: true,
                    font_text_white: true,
                    font_weight_bold: true
                },
                {
                    column_name: '',
                    query_name: 'name',
                    sortable: false,
                    class_text_right: true,
                    dark_sky_blue_last_four: true,
                    font_text_white: true,
                    font_weight_bold: true
                },
                {
                    column_name: '',
                    query_name: 'name',
                    sortable: false,
                    class_text_right: true,
                    dark_sky_blue_last_four: true,
                    font_text_white: true,
                    font_weight_bold: true
                },
                {
                    column_name: '',
                    query_name: 'name',
                    sortable: false,
                    class_text_right: true,
                    dark_sky_blue_last_four: true,
                    font_text_white: true,
                    font_weight_bold: true
                },
                {
                    column_name: '',
                    query_name: 'name',
                    sortable: false,
                    class_text_right: true,
                    dark_sky_blue_last_four: true,
                    font_text_white: true,
                    font_weight_bold: true
                },
            ],
            table_tolling: [
                {
                    column_name: 'TOLLING',
                    query_name: 'name',
                    sortable: false,
                    dark_sky_blue_last_four: true,
                    font_text_white: true,
                    font_weight_bold: true
                },
                {
                    column_name: '',
                    query_name: 'name',
                    sortable: false,
                    class_text_right: true,
                    dark_sky_blue_last_four: true,
                    font_text_white: true,
                    font_weight_bold: true
                },
                {
                    column_name: '',
                    query_name: 'name',
                    sortable: false,
                    class_text_right: true,
                    dark_sky_blue_last_four: true,
                    font_text_white: true,
                    font_weight_bold: true
                },
                {
                    column_name: '',
                    query_name: 'name',
                    sortable: false,
                    class_text_right: true,
                    dark_sky_blue_last_four: true,
                    font_text_white: true,
                    font_weight_bold: true
                },
                {
                    column_name: '',
                    query_name: 'name',
                    sortable: false,
                    class_text_right: true,
                    dark_sky_blue_last_four: true,
                    font_text_white: true,
                    font_weight_bold: true
                },
                {
                    column_name: '',
                    query_name: 'name',
                    sortable: false,
                    class_text_right: true,
                    dark_sky_blue_last_four: true,
                    font_text_white: true,
                    font_weight_bold: true
                },
                {
                    column_name: '',
                    query_name: 'name',
                    sortable: false,
                    class_text_right: true,
                    dark_sky_blue_last_four: true,
                    font_text_white: true,
                    font_weight_bold: true
                },
                {
                    column_name: '',
                    query_name: 'name',
                    sortable: false,
                    class_text_right: true,
                    dark_sky_blue_last_four: true,
                    font_text_white: true,
                    font_weight_bold: true
                },
            ],
            table_utilities: [
                {
                    column_name: 'UTILITIES',
                    query_name: 'name',
                    sortable: false,
                    dark_sky_blue_last_four: true,
                    font_text_white: true,
                    font_weight_bold: true
                },
                {
                    column_name: '',
                    query_name: 'name',
                    sortable: false,
                    class_text_right: true,
                    dark_sky_blue_last_four: true,
                    font_text_white: true,
                    font_weight_bold: true
                },
                {
                    column_name: '',
                    query_name: 'name',
                    sortable: false,
                    class_text_right: true,
                    dark_sky_blue_last_four: true,
                    font_text_white: true,
                    font_weight_bold: true
                },
                {
                    column_name: '',
                    query_name: 'name',
                    sortable: false,
                    class_text_right: true,
                    dark_sky_blue_last_four: true,
                    font_text_white: true,
                    font_weight_bold: true
                },
                {
                    column_name: '',
                    query_name: 'name',
                    sortable: false,
                    class_text_right: true,
                    dark_sky_blue_last_four: true,
                    font_text_white: true,
                    font_weight_bold: true
                },
                {
                    column_name: '',
                    query_name: 'name',
                    sortable: false,
                    class_text_right: true,
                    dark_sky_blue_last_four: true,
                    font_text_white: true,
                    font_weight_bold: true
                },
                {
                    column_name: '',
                    query_name: 'name',
                    sortable: false,
                    class_text_right: true,
                    dark_sky_blue_last_four: true,
                    font_text_white: true,
                    font_weight_bold: true
                },
                {
                    column_name: '',
                    query_name: 'name',
                    sortable: false,
                    class_text_right: true,
                    dark_sky_blue_last_four: true,
                    font_text_white: true,
                    font_weight_bold: true
                },
            ],
            table_admin_expenses: [
                {column_name: 'ADMIN EXPENSES', query_name: 'name', sortable: false, dark_sky_blue_last_four: true, font_text_white: true, font_weight_bold: true},
                {column_name: '', query_name: 'name', sortable: false, class_text_right: true, dark_sky_blue_last_four: true, font_text_white: true, font_weight_bold: true},
                {column_name: '', query_name: 'name', sortable: false, class_text_right: true, dark_sky_blue_last_four: true, font_text_white: true, font_weight_bold: true},
                {column_name: '', query_name: 'name', sortable: false, class_text_right: true, dark_sky_blue_last_four: true, font_text_white: true, font_weight_bold: true},
                {column_name: '', query_name: 'name', sortable: false, class_text_right: true, dark_sky_blue_last_four: true, font_text_white: true, font_weight_bold: true},
                {column_name: '', query_name: 'name', sortable: false, class_text_right: true, dark_sky_blue_last_four: true, font_text_white: true, font_weight_bold: true},
                {column_name: '', query_name: 'name', sortable: false, class_text_right: true, dark_sky_blue_last_four: true, font_text_white: true, font_weight_bold: true},
                {column_name: '', query_name: 'name', sortable: false, class_text_right: true, dark_sky_blue_last_four: true, font_text_white: true, font_weight_bold: true},
            ],
            table_operation_exp: [
                {column_name: 'OPERATING EXPENSES', query_name: 'name', sortable: false, rowspan: 2, dark_sky_blue_last_four: true, font_text_white: true, font_weight_bold: true},
                {column_name: '', query_name: 'name', sortable: false, class_text_right: true, dark_sky_blue_last_four: true, font_text_white: true, font_weight_bold: true},
                {column_name: '', query_name: 'name', sortable: false, class_text_right: true, dark_sky_blue_last_four: true, font_text_white: true, font_weight_bold: true},
                {column_name: '', query_name: 'name', sortable: false, class_text_right: true, dark_sky_blue_last_four: true, font_text_white: true, font_weight_bold: true},
                {column_name: '', query_name: 'name', sortable: false, class_text_right: true, dark_sky_blue_last_four: true, font_text_white: true, font_weight_bold: true},
                {column_name: '', query_name: 'name', sortable: false, class_text_right: true, dark_sky_blue_last_four: true, font_text_white: true, font_weight_bold: true},
                {column_name: '', query_name: 'name', sortable: false, class_text_right: true, dark_sky_blue_last_four: true, font_text_white: true, font_weight_bold: true},
                {column_name: '', query_name: 'name', sortable: false, class_text_right: true, dark_sky_blue_last_four: true, font_text_white: true, font_weight_bold: true},
            ],


            totalReg: 0,
            totalFuelAndSellingExp: 0,
            totalFuels: 0,
            totalMain: 0,
            totalRepairs: 0,
            totalPark: 0,
            totalTolling: 0,
            totalAdminExp: 0,
            totalUtilities: 0,
            thisMonth:'',
            summary_operating_arr:[],

            fullPage: true,
            isLoader: null,
        }
    },

    computed: {
        ...mapGetters({
            tableDefaultEntries: ["user/perPage"],
            tableSortBy: ["user/sortBy"],
            tableSortDir: ["user/sortDir"],
            // users: ["user/users"],
            search: ["user/search"],
            perPage: ["user/perPage"],
            budget_total: ["budget_details/budget_total"],
            isLogin: ["auth/check"],
            summary_operating:["summary/summaryOperating"],
            yearBreakdown:["summary/yearBreakdown"],
            all_company: ["static_budget/plants"], // company codes
        }),
        currentUserLocal() {
            return this.$store.getters['auth/users'] || []
        },
        chartOptions() {
            if (!this.chartsLib) return null
            return this.chartsLib.charts.Bar.convertOptions({
                // chart: {
                //     title: 'TRIUMPH HOME DEPOT',
                //     subtitle: 'Manual DR Summary Total Amount'
                // },
                bars: 'vertical', // Required for Material Bar Charts.
                // hAxis: { format: 'decimal' },
                hAxis: {format: 'decimal'},
                // isStacked: true,
                height: 800,
                colors: ['#1b9e77', '#DB4437']
                // colors: ['#1b9e77' ,'#d95f02', '#7570b3']
            })
        },
        currentMonth() {
            const moment = require('moment'); // require
            moment().format();
            const today = moment();
            this.date = today.format('M');
            this.thisMonth = parseInt(this.date);
            console.log(this.thisMonth);
            return parseInt(this.date);
        },
    },
    watch: {
        "currentUserLocal": {
            deep: true,
            handler: function (newVal, oldVal) {
                this.getBudgetTotal();
            }
        },
        "budget_total": {
            deep: true,
            handler: function (newVal, oldVal) {
                console.log(oldVal,'oldVal');
                if(newVal.length !== 0 && this.yearBreakdown.length !== 0){
                    this.thisMonth = this.currentMonth;
                    this.isLoader.hide();
                }
                if(this.filterCompany !== null){
                    if(oldVal.length !== 0){
                        this.isLoader.hide();
                    }
                }

            }
        },
        "filterCompany": {
            deep: true,
            handler: function (newVal, oldVal) {
                this.loadMe();
                this.getFilteredBudgetTotal();
                this.getFilteredYearBreakdown();
            }
        },
    },
    created() {
        this.index();
        this.loadMe();
        this.plants();
    },
    methods: {
        ...mapActions({
            getUser: "user/fetchUsersForDatatable",
            editUser: "user/getUser",
            budgetTotal: "budget_details/budgetTotal",
            getSummaryOperating: "summary/getSummaryOperating",
            getYearBreakdown: "summary/getYearBreakdown",
            plants: "static_budget/getPlant",
        }),
        async getFilteredBudgetTotal(){
            await this.$store.commit('budget_details/FILTER_COMPANY', this.filterCompany);
            await this.budgetTotal();
        },
        async getFilteredYearBreakdown(){
            await this.$store.commit('summary/FILTER_COMPANY', this.filterCompany);
            await this.getYearBreakdown();
        },
        loadMe(){
            this.isLoader = this.$loading.show({
                // Optional parameters
                container: this.fullPage ? null : this.$refs.loadingContainer,
                canCancel: true,
                loader: 'dots',
                color: '#004BAD',
                width: 64,
                height: 64,
                backgroundColor: 'rgba(0, 0, 0, 0.5)',
                opacity: 0.5,
                zIndex: 999,
            });
        },
        onChartReady(chart, google) {
            this.chartsLib = google
        },
        async getBudgetTotal() {
            await this.$store.commit('summary/SUMMARY_COMPANY', this.currentUserLocal[0].company);
            await this.getYearBreakdown();
            // await this.getSummaryOperating();

            await this.$store.commit('budget_details/COMPANY_USER', this.currentUserLocal[0].company);
            await this.budgetTotal();

            this.dataPie.push(['ADMINISTRATIVE EXPENSES',this.budget_total.BUDGET_TOTAL_MONTH_ADMIN_EXP]);
            this.dataPie.push(['FUEL AND SELLING EXPENSES',this.budget_total.BUDGET_TOTAL_MONTH_FUEL_AND_SELL_EXP]);
            this.dataPie.push(['SALARIES',this.budget_total.BUDGET_TOTAL_MONTH_SAL]);
            this.yearBreakdown.electricity_exp.splice(0,0,['Month', '2021','2020']);
            this.chartData = this.yearBreakdown.electricity_exp;
        },
        deleteUser(e, index) {
            this.$swal({
                title: 'Are you sure to delete this user?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.value) {
                    let uri = `/api/users/${e}`;
                    axios.delete(uri).then(response => {
                        this.$swal(
                            'Deleted!',
                            'Your file has been deleted.',
                            'success'
                        );
                        this.users.data.splice(index, 1);
                    });
                }
            })
        },
        async showCreateView() {
            this.showCreate = true;
            this.showEdit = false;
            await this.$store.commit('user/USER_CLEAR')
        },

        async closeCreate(value) {
            this.showCreate = value;
            this.showEdit = false;
            await this.$store.commit('user/USER_CLEAR')
        },
        async closeEdit() {
            this.showCreate = false;
            this.showEdit = false;
            await this.$store.commit('user/USER_CLEAR')
        },
        async edit(id) {
            this.showEdit = true;
            this.showCreate = false;
            await this.$store.commit('user/USER_CLEAR')
            await this.$store.commit('user/USER_ID', id);
            await this.editUser();

        },
        async sortByTable(value) {
            await this.$store.commit('user/USER_SORTBY', value.sortBy);
            await this.$store.commit('user/USER_SORTDIR', value.sortDir);
            await this.index();

        },
        async paginateTable(value) {
            await this.$store.commit('user/USER_PERPAGE', value);
            await this.index();

        },
        async searchData(value) {
            await this.$store.commit('user/USER_SEARCH', value);
            await this.index();

        },
        async index(page) {
            if (typeof page === 'undefined') {
                await this.$store.commit('user/USER_PAGE', 1);
            }

            await this.$store.commit('user/USER_PAGE', page);
            await this.getUser();
        },
        formatNumber(number) {
            return (number === '') ? '' : parseFloat(Math.abs(number)).toFixed(0).replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,');
        },
        formatNumberNoAbs(number) {
            return (number > 0) ? parseFloat(number).toFixed(0).replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,') : parseFloat(number).toFixed(0).replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,');
        },
    }
}
</script>

<style scoped>
</style>
