<template>
    <div class="container-fluid">
        <div class="row" v-if="isLogin">
           <h1>WELCOME, {{user.name}}</h1>
        </div>
        <div class="row" v-else>
            <h1>Welcome Guest</h1>
        </div>
    </div>
</template>

<script>
    import {mapGetters} from "vuex";

    export default {
        name: "Home",
        computed: {
            ...mapGetters({
                isLogin: ["auth/check"],
                user: ["auth/user"],
            })
        },
    }
</script>

<style scoped>

</style>
