<template>
<!--    <div class="landing text-white">-->
<!--        <div class="landing__space fixed"></div>-->
    <div>
        <jay3DCustom effect="rings" :options="options"></jay3DCustom>
        <div class="login-form">
            <form v-on:submit.prevent="login" @keydown="form.onKeydown($event)" style="width: 30%;
                                position: absolute;
                                top: 35%;
                                left: 35%;">
                <h2 class="text-center">VCY Budget vs Actual</h2>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Email" v-model="form.email"
                           :class="{ 'is-invalid': form.errors.has('email') }">
                    <has-error :form="form" field="email"></has-error>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Password" v-model="form.password"
                           :class="{ 'is-invalid': form.errors.has('password') }">
                    <has-error :form="form" field="password"></has-error>
                </div>
                <div class="form-group">

                    <button type="submit" class="btn btn-primary btn-block" :disabled="form.busy">{{btnText}}
                    </button>
                </div>
                <div class="clearfix">
                    <label class="float-left form-check-label"><input type="checkbox" v-model="form.remember"> Remember
                        me</label>
                </div>
            </form>
        </div>
    </div>

<!--    </div>-->

</template>
<script>
    import {Form, HasError, AlertError, AlertSuccess} from 'vform';
    import NET from '../vanta/vanta.net';
    import jay3DCustom from 'vue-vanta';
    export default {
        name: "Login",

        components: {HasError, AlertError, AlertSuccess,jay3DCustom},
        data() {
            return {
                form: new Form({
                    email: null,
                    password: null,
                    remember: false,
                }),
                btnText: 'Login',
                disabled: false,
                loading: false,
                options: {
                    mouseControls: true,
                    touchControls: true,
                    gyroControls: false,
                    minHeight: 969.00,
                    minWidth: 200.00,
                    scale: 1.00,
                    scaleMobile: 1.00
                },
            }
        },
        methods: {
            async login() {
                // Submit the form.
                // First get csrf-token with airlock
                this.btnText = 'Loading...';
                axios.get('/sanctum/csrf-cookie').then(async response => {
                    const {data} = await this.form.post('/login')
                    // Save the token.
                    await this.$store.dispatch('auth/setLogin');
                    // Fetch the user.
                    await this.$store.dispatch('auth/fetchUser');

                    await this.$store.dispatch('auth/fetchAbilities');
                    // Redirect home.

                    // this.$router.push(this.$route.query.redirect || '/');
                    this.$router.push({name:'summaryTable'});
                    this.btnText = 'Login';
                }).catch((err) => {
                    this.btnText = 'Login';
                });
            }
        }
    }
</script>

<style scoped>

/*@keyframes logo-rotate{to{transform:rotate(-360deg);}}*/
/*.landing {*/
/*    background: #111;*/
/*}*/
/*.landing__space {*/
/*    width: 500vw;*/
/*    height: 400vh;*/
/*    top: 50%;*/
/*    left: 50%;*/
/*    margin-top: -200vh;*/
/*    margin-left: -200vw;*/
/*    animation: logo-rotate 200s linear infinite;*/
/*    background-size: 240px;*/
/*    -webkit-backface-visibility: visible;*/
/*    backface-visibility: visible;*/
/*    background-image: url('/images/download.svg');*/
/*}*/
    .vanta-top{
        /*top: -50px !important;*/
        /*background-size: cover;*/
        /*!* width: 1903px; *!*/
        /*background-position: center center;*/
        /*background-repeat: no-repeat;*/
        /*background-attachment: fixed;*/
        /*!* height: 969px; *!*/
        /*width: 100%;*/
    }
/*add below in node modules if npm will be updated*/
/*.vanta_top{*/
/*    top: -0px;*/
/*    position: absolute;*/
/*    height: 100%;*/
/*    width: 100%;*/
/*    left: 0px;*/
/*}*/
    .login-form {
        width: 340px;
        margin: 50px auto;
        font-size: 15px;
    }

    .login-form form {
        margin-bottom: 15px;
        background: #f7f7f7;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        padding: 30px;
    }

    .login-form h2 {
        margin: 0 0 15px;
    }

    .form-control, .btn {
        min-height: 38px;
        border-radius: 2px;
    }

    .btn {
        font-size: 15px;
        font-weight: bold;
    }


</style>
