<template>
    <div>
<!--        <div class="row form-group">-->
<!--            <p class="m-1">show</p>-->
<!--            <div class="col-md-1 p-0">-->
<!--                <select class="form-control" v-model="entrySelected" @change="selectPageNumber(entrySelected)">-->
<!--                    <option v-for="perPage in dt_itemEntriesOption" :value="perPage"-->
<!--                            :selected="entrySelected===perPage">{{-->
<!--                            perPage-->
<!--                        }}-->
<!--                    </option>-->
<!--                </select>-->
<!--            </div>-->
<!--            <p class="m-1"> entries</p>-->
<!--            <div class="col-md-4 offset-md-8 ">-->
<!--                <input class="form-control" :value="dt_Search" placeholder="search" @keyup="searchData">-->
<!--            </div>-->
<!--        </div>-->
        <div class="table-responsive">
            <table :class="dt_classTable" :width="dt_TableWidth+'%'">
                <thead v-columns-resizable>
                <tr>
                    <template v-for="th in dt_tableHeaders">
                        <th v-if="th.sortable" :width="th.width+'%'" :colspan="th.colspan" :rowspan="th.rowspan">
                            <div class="inline-block" @click="sort(th.query_name)" style="cursor:pointer">
                                <div class="filter-asc"
                                     :class="[{'active-filter-asc':sortClassActive.activeAsc},{'text-center':th.class_text_center}]"></div>
                                <div class="filter-desc"
                                     :class="{'active-filter-desc':sortClassActive.activeDesc}"></div>
                            </div>
                            {{ th.column_name }}

                        </th>
                        <th v-else :width="th.width+'%'" :colspan="th.colspan" :rowspan="th.rowspan"
                            :class="[{'text-center':th.class_text_center},{'table-primary':th.dt_tableClassHeaders},{'dark_sky_blue_last_four':th.dark_sky_blue_last_four},{'text-white':th.font_text_white},
                            {'bg-info':th.header_bg_info},{'dark_sky_blue_last_two':th.dark_sky_blue_last_two},{'font-weight-bold':th.font_weight_bold},{'text-right':th.class_text_right}]">
                            {{ th.column_name }}
                        </th>
                    </template>
                </tr>
                <tr>
                    <template v-for="th in dt_tableHeaders_2">
                        <th v-if="th.sortable" :width="th.width+'%'" :colspan="th.colspan" :rowspan="th.rowspan">
                            <div class="inline-block" @click="sort(th.query_name)" style="cursor:pointer">
                                <div class="filter-asc" :class="{'active-filter-asc':sortClassActive.activeAsc}"></div>
                                <div class="filter-desc"
                                     :class="{'active-filter-desc':sortClassActive.activeDesc}"></div>
                            </div>
                            {{ th.column_name }}

                        </th>
                        <th v-else :width="th.width+'%'" :colspan="th.colspan" :rowspan="th.rowspan"
                            :class="[{'text-center':th.class_text_center},{'table-primary':th.dt_tableClassHeaders},{'dark_sky_blue_last_four':th.dark_sky_blue_last_four},{'text-white':th.font_text_white},
                            {'bg-info':th.header_bg_info},{'dark_sky_blue_last_two':th.dark_sky_blue_last_two},{'font-weight-bold':th.font_weight_bold},{'text-right':th.class_text_right}]">
                            {{ th.column_name }}
                        </th>
                    </template>
                </tr>
                <!--SALARIES-->
                <tr>
                    <template v-for="th in table_salaries">
                        <th v-if="th.sortable" :width="th.width+'%'" :colspan="th.colspan" :rowspan="th.rowspan">
                            <div class="inline-block" @click="sort(th.query_name)" style="cursor:pointer">
                                <div class="filter-asc" :class="{'active-filter-asc':sortClassActive.activeAsc}"></div>
                                <div class="filter-desc"
                                     :class="{'active-filter-desc':sortClassActive.activeDesc}"></div>
                            </div>
                            {{ th.column_name }}

                        </th>
                        <th v-else :width="th.width+'%'" :colspan="th.colspan" :rowspan="th.rowspan"
                            :class="[{'text-center':th.class_text_center},{'table-primary':th.dt_tableClassHeaders},{'dark_sky_blue_last_four':th.dark_sky_blue_last_four},{'text-white':th.font_text_white},
                            {'bg-info':th.header_bg_info},{'dark_sky_blue_last_two':th.dark_sky_blue_last_two},{'font-weight-bold':th.font_weight_bold},{'text-right':th.class_text_right}]">
                            {{ th.column_name }}
                        </th>
                    </template>
                </tr>
                </thead>
                <tbody>
                <slot name="tableSalaries">
                    <tr class="text-center">
                        <td :colspan="table_salaries.length">
                            <p>no data available</p>
                        </td>
                    </tr>
                </slot>
                <!--                <slot name="tableData">-->
                <!--                    <tr class="text-center">-->
                <!--                        <td :colspan="dt_tableHeaders.length">-->
                <!--                            <p>no data available</p>-->
                <!--                        </td>-->
                <!--                    </tr>-->
                <!--                </slot>-->
                </tbody>
                <thead  v-columns-resizable>
                <!--FUELS_AND_SELLING_EXP-->
                <tr>
                    <template v-for="th in table_fuels_and_selling_exp">
                        <th v-if="th.sortable" :width="th.width+'%'" :colspan="th.colspan" :rowspan="th.rowspan">
                            <div class="inline-block" @click="sort(th.query_name)" style="cursor:pointer">
                                <div class="filter-asc" :class="{'active-filter-asc':sortClassActive.activeAsc}"></div>
                                <div class="filter-desc"
                                     :class="{'active-filter-desc':sortClassActive.activeDesc}"></div>
                            </div>
                            {{ th.column_name }}

                        </th>
                        <th v-else :width="th.width+'%'" :colspan="th.colspan" :rowspan="th.rowspan"
                            :class="[{'text-center':th.class_text_center},{'table-primary':th.dt_tableClassHeaders},{'dark_sky_blue_last_four':th.dark_sky_blue_last_four},{'text-white':th.font_text_white},
                            {'bg-info':th.header_bg_info},{'dark_sky_blue_last_two':th.dark_sky_blue_last_two},{'font-weight-bold':th.font_weight_bold},{'text-right':th.class_text_right}]">
                            {{ th.column_name }}
                        </th>
                    </template>
                </tr>
                <!--FUELS-->
                <tr>
                    <template v-for="th in table_fuels">
                        <th v-if="th.sortable" :width="th.width+'%'" :colspan="th.colspan" :rowspan="th.rowspan">
                            <div class="inline-block" @click="sort(th.query_name)" style="cursor:pointer">
                                <div class="filter-asc" :class="{'active-filter-asc':sortClassActive.activeAsc}"></div>
                                <div class="filter-desc"
                                     :class="{'active-filter-desc':sortClassActive.activeDesc}"></div>
                            </div>
                            {{ th.column_name }}
                        </th>
                        <th v-else :width="th.width+'%'" :colspan="th.colspan" :rowspan="th.rowspan"
                            :class="[{'text-center':th.class_text_center},{'table-primary':th.dt_tableClassHeaders},{'dark_sky_blue_last_four':th.dark_sky_blue_last_four},{'text-white':th.font_text_white},
                            {'bg-info':th.header_bg_info},{'dark_sky_blue_last_two':th.dark_sky_blue_last_two},{'font-weight-bold':th.font_weight_bold},{'text-right':th.class_text_right}]">
                            {{ th.column_name }}
                        </th>
                    </template>
                </tr>
                </thead>
                <tbody>
                <slot name="tableFuels">
                    <tr class="text-center">
                        <td :colspan="table_fuels.length">
                            <p>no data available</p>
                        </td>
                    </tr>
                </slot>
                </tbody>
                <thead  v-columns-resizable>
                <!--MAINTENANCE-->
                <tr>
                    <template v-for="th in table_maintenance">
                        <th v-if="th.sortable" :width="th.width+'%'" :colspan="th.colspan" :rowspan="th.rowspan">
                            <div class="inline-block" @click="sort(th.query_name)" style="cursor:pointer">
                                <div class="filter-asc" :class="{'active-filter-asc':sortClassActive.activeAsc}"></div>
                                <div class="filter-desc"
                                     :class="{'active-filter-desc':sortClassActive.activeDesc}"></div>
                            </div>
                            {{ th.column_name }}

                        </th>
                        <th v-else :width="th.width+'%'" :colspan="th.colspan" :rowspan="th.rowspan"
                            :class="[{'text-center':th.class_text_center},{'table-primary':th.dt_tableClassHeaders},{'dark_sky_blue_last_four':th.dark_sky_blue_last_four},{'text-white':th.font_text_white},
                            {'bg-info':th.header_bg_info},{'dark_sky_blue_last_two':th.dark_sky_blue_last_two},{'font-weight-bold':th.font_weight_bold},{'text-right':th.class_text_right}]">
                            {{ th.column_name }}
                        </th>
                    </template>
                </tr>
                </thead>
                <tbody>
                <slot name="tableMaintenance">
                    <tr class="text-center">
                        <td :colspan="table_maintenance.length">
                            <p>no data available</p>
                        </td>
                    </tr>
                </slot>
                </tbody>
                <thead  v-columns-resizable>
                <!--REPAIRS-->
                <tr>
                    <template v-for="th in table_repairs">
                        <th v-if="th.sortable" :width="th.width+'%'" :colspan="th.colspan" :rowspan="th.rowspan">
                            <div class="inline-block" @click="sort(th.query_name)" style="cursor:pointer">
                                <div class="filter-asc" :class="{'active-filter-asc':sortClassActive.activeAsc}"></div>
                                <div class="filter-desc"
                                     :class="{'active-filter-desc':sortClassActive.activeDesc}"></div>
                            </div>
                            {{ th.column_name }}

                        </th>
                        <th v-else :width="th.width+'%'" :colspan="th.colspan" :rowspan="th.rowspan"
                            :class="[{'text-center':th.class_text_center},{'table-primary':th.dt_tableClassHeaders},{'dark_sky_blue_last_four':th.dark_sky_blue_last_four},{'text-white':th.font_text_white},
                            {'bg-info':th.header_bg_info},{'dark_sky_blue_last_two':th.dark_sky_blue_last_two},{'font-weight-bold':th.font_weight_bold},{'text-right':th.class_text_right}]">
                            {{ th.column_name }}
                        </th>
                    </template>
                </tr>
                </thead>
                <tbody>
                <slot name="tableRepairs">
                    <tr class="text-center">
                        <td :colspan="table_repairs.length">
                            <p>no data available</p>
                        </td>
                    </tr>
                </slot>
                </tbody>
                <thead  v-columns-resizable>
                <!--PARKING-->
                <tr>
                    <template v-for="th in table_parking">
                        <th v-if="th.sortable" :width="th.width+'%'" :colspan="th.colspan" :rowspan="th.rowspan">
                            <div class="inline-block" @click="sort(th.query_name)" style="cursor:pointer">
                                <div class="filter-asc" :class="{'active-filter-asc':sortClassActive.activeAsc}"></div>
                                <div class="filter-desc"
                                     :class="{'active-filter-desc':sortClassActive.activeDesc}"></div>
                            </div>
                            {{ th.column_name }}

                        </th>
                        <th v-else :width="th.width+'%'" :colspan="th.colspan" :rowspan="th.rowspan"
                            :class="[{'text-center':th.class_text_center},{'table-primary':th.dt_tableClassHeaders},{'dark_sky_blue_last_four':th.dark_sky_blue_last_four},{'text-white':th.font_text_white},
                            {'bg-info':th.header_bg_info},{'dark_sky_blue_last_two':th.dark_sky_blue_last_two},{'font-weight-bold':th.font_weight_bold},{'text-right':th.class_text_right}]">
                            {{ th.column_name }}
                        </th>
                    </template>
                </tr>
                </thead>
                <tbody>
                <slot name="tableParking">
                    <tr class="text-center">
                        <td :colspan="table_parking.length">
                            <p>no data available</p>
                        </td>
                    </tr>
                </slot>
                </tbody>
                <thead  v-columns-resizable>
                <!--TOLLING-->
                <tr>
                    <template v-for="th in table_tolling">
                        <th v-if="th.sortable" :width="th.width+'%'" :colspan="th.colspan" :rowspan="th.rowspan">
                            <div class="inline-block" @click="sort(th.query_name)" style="cursor:pointer">
                                <div class="filter-asc" :class="{'active-filter-asc':sortClassActive.activeAsc}"></div>
                                <div class="filter-desc"
                                     :class="{'active-filter-desc':sortClassActive.activeDesc}"></div>
                            </div>
                            {{ th.column_name }}

                        </th>
                        <th v-else :width="th.width+'%'" :colspan="th.colspan" :rowspan="th.rowspan"
                            :class="[{'text-center':th.class_text_center},{'table-primary':th.dt_tableClassHeaders},{'dark_sky_blue_last_four':th.dark_sky_blue_last_four},{'text-white':th.font_text_white},
                            {'bg-info':th.header_bg_info},{'dark_sky_blue_last_two':th.dark_sky_blue_last_two},{'font-weight-bold':th.font_weight_bold},{'text-right':th.class_text_right}]">
                            {{ th.column_name }}
                        </th>
                    </template>
                </tr>
                </thead>
                <tbody>
                <slot name="tableTolling">
                    <tr class="text-center">
                        <td :colspan="table_tolling.length">
                            <p>no data available</p>
                        </td>
                    </tr>
                </slot>
                <slot name="tableFuelAndSellingExp">
                    <tr class="text-center">
                        <td :colspan="table_fuels_and_selling_exp.length">
                            <p>no data available</p>
                        </td>
                    </tr>
                </slot>
                </tbody>
                <thead  v-columns-resizable>
                <!--ADMINISTRATIVE_EXPENSES-->
                <tr>
                    <template v-for="th in table_admin_expenses">
                        <th v-if="th.sortable" :width="th.width+'%'" :colspan="th.colspan" :rowspan="th.rowspan">
                            <div class="inline-block" @click="sort(th.query_name)" style="cursor:pointer">
                                <div class="filter-asc" :class="{'active-filter-asc':sortClassActive.activeAsc}"></div>
                                <div class="filter-desc"
                                     :class="{'active-filter-desc':sortClassActive.activeDesc}"></div>
                            </div>
                            {{ th.column_name }}

                        </th>
                        <th v-else :width="th.width+'%'" :colspan="th.colspan" :rowspan="th.rowspan"
                            :class="[{'text-center':th.class_text_center},{'table-primary':th.dt_tableClassHeaders},{'dark_sky_blue_last_four':th.dark_sky_blue_last_four},{'text-white':th.font_text_white},
                            {'bg-info':th.header_bg_info},{'dark_sky_blue_last_two':th.dark_sky_blue_last_two},{'font-weight-bold':th.font_weight_bold},{'text-right':th.class_text_right}]">
                            {{ th.column_name }}
                        </th>
                    </template>
                </tr>
                <!--UTILITIES-->
                <tr>
                    <template v-for="th in table_utilities">
                        <th v-if="th.sortable" :width="th.width+'%'" :colspan="th.colspan" :rowspan="th.rowspan">
                            <div class="inline-block" @click="sort(th.query_name)" style="cursor:pointer">
                                <div class="filter-asc" :class="{'active-filter-asc':sortClassActive.activeAsc}"></div>
                                <div class="filter-desc"
                                     :class="{'active-filter-desc':sortClassActive.activeDesc}"></div>
                            </div>
                            {{ th.column_name }}

                        </th>
                        <th v-else :width="th.width+'%'" :colspan="th.colspan" :rowspan="th.rowspan"
                            :class="[{'text-center':th.class_text_center},{'table-primary':th.dt_tableClassHeaders},{'dark_sky_blue_last_four':th.dark_sky_blue_last_four},{'text-white':th.font_text_white},
                            {'bg-info':th.header_bg_info},{'dark_sky_blue_last_two':th.dark_sky_blue_last_two},{'font-weight-bold':th.font_weight_bold},{'text-right':th.class_text_right}]">
                            {{ th.column_name }}
                        </th>
                    </template>
                </tr>
                </thead>
                <tbody>
                <slot name="tableUtilities">
                    <tr class="text-center">
                        <td :colspan="table_utilities.length">
                            <p>no data available</p>
                        </td>
                    </tr>
                </slot>
                <slot name="tableAdminExpenses">
                    <tr class="text-center">
                        <td :colspan="table_admin_expenses.length">
                            <p>no data available</p>
                        </td>
                    </tr>
                </slot>
                </tbody>
                <thead  v-columns-resizable>
                <tr>
                    <template v-for="th in table_operation_exp">
                        <th v-if="th.sortable" :width="th.width+'%'" :colspan="th.colspan" :rowspan="th.rowspan">
                            <div class="inline-block" @click="sort(th.query_name)" style="cursor:pointer">
                                <div class="filter-asc" :class="{'active-filter-asc':sortClassActive.activeAsc}"></div>
                                <div class="filter-desc"
                                     :class="{'active-filter-desc':sortClassActive.activeDesc}"></div>
                            </div>
                            {{ th.column_name }}

                        </th>
                        <th v-else :width="th.width+'%'" :colspan="th.colspan" :rowspan="th.rowspan"
                            :class="[{'text-center':th.class_text_center},{'table-primary':th.dt_tableClassHeaders},{'dark_sky_blue_last_four':th.dark_sky_blue_last_four},{'text-white':th.font_text_white},
                            {'bg-info':th.header_bg_info},{'dark_sky_blue_last_two':th.dark_sky_blue_last_two},{'font-weight-bold':th.font_weight_bold},{'text-right':th.class_text_right}]">
                            {{ th.column_name }}
                        </th>
                    </template>
                </tr>
                </thead>
            </table>
        </div>
        <div class="row ">
            <div class="col-md-6">
                <slot name="perPage">
                </slot>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 offset-md-3 ">
                <slot name="pagination">
                </slot>
            </div>
        </div>

    </div>
</template>

<script>

export default {
    name: "BudgetDetailsDataTable",
    props: {
        dt_tableHeaders: {
            type: Array,
            required: true
        },
        dt_tableHeaders_2: {
            type: Array,
            required: true
        },
        table_salaries: {
            type: Array,
            required: true
        },
        table_fuels_and_selling_exp: {
            type: Array,
            required: true
        },
        table_fuels: {
            type: Array,
            required: true
        },
        table_maintenance: {
            type: Array,
            required: true
        },
        table_repairs: {
            type: Array,
            required: true
        },
        table_parking: {
            type: Array,
            required: true
        },
        table_tolling: {
            type: Array,
            required: true
        },
        table_utilities: {
            type: Array,
            required: true
        },
        table_admin_expenses: {
            type: Array,
            required: true
        },
        table_operation_exp: {
            type: Array,
            required: true
        },
        dt_tableClassHeaders: {
            type: String,
            default: 'text-primary'
        },
        dt_itemEntriesOption: {
            type: Array,
            default: function () {
                return [5, 25, 100]
            }
        },
        dt_classTable: {
            type: String,
            default: 'table'
        },
        dt_TableWidth: {
            type: String,
            default: '100'
        },
        dt_TableResponsive: {
            type: Boolean,
            default: false
        },
        dt_currentSort: {
            type: String,
            default: 'name'
        },
        dt_currentSortDir: {
            type: String,
            default: 'asc'
        },
        dt_defaultEntries: {
            type: Number,
            required: true
        },
        dt_Search: {
            type: String,
        }


    },
    data() {
        return {
            entrySelected: this.dt_defaultEntries,
            sortClassActive: {
                'activeDesc': false,
                'activeAsc': true
            },
            timer: null,
        }
    },
    methods: {
        sort(s) {
            let currentSortDir = this.dt_currentSortDir;
            if (s === this.dt_currentSort) {
                currentSortDir = this.dt_currentSortDir === 'asc' ? 'desc' : 'asc';
                if (currentSortDir === 'asc') {
                    this.sortClassActive.activeAsc = true;
                    this.sortClassActive.activeDesc = false;
                } else {
                    this.sortClassActive.activeAsc = false;
                    this.sortClassActive.activeDesc = true;
                }
            }
            // this.currentSort = s;
            this.$emit("sortColumn", {sortBy: s, sortDir: currentSortDir});
        },

        selectPageNumber(selected) {
            this.entrySelected = selected;
            this.$emit("perPageEntry", this.entrySelected);
        },
        searchData(event) {
            this.$emit("searchItem", event.target.value);
        }
    }

}
</script>

<style scoped>
.filter-asc {
    border-bottom: 5px solid #ccc;
    margin-bottom: 1px
}

.filter-asc, .filter-desc {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent
}

.filter-desc {
    border-top: 5px solid #ccc;
    margin-top: 1px
}

.active-filter-asc {
    border-bottom: 5px solid #a3a3a3
}

.active-filter-desc {
    border-top: 5px solid #a3a3a3
}

.inline-block {
    display: inline-block
}
.dark_sky_blue_last_four{
    background-color: #1c7ea6;
}
.dark_sky_blue_last_two{
    background-color: #2197c7;
}
</style>
