<template>
    <div>
        <div class="row  form-group">
        </div>
        <div :class="[{'table-responsive':true}]">
            <table :class="dt_classTable" :width="dt_TableWidth+'%'">
                <thead :class="dt_tableClassHeaders" v-columns-resizable>
                <tr>
                    <template v-for="(th,index) in dt_tableHeaders">
                        <th v-if="th.sortable" :width="th.width+'%'" :colspan="th.colspan">
                            <div class="inline-block" @click="sort(th.query_name)" style="cursor:pointer">
                                <div class="filter-asc" :class="{'active-filter-asc':sortClassActive.activeAsc}"></div>
                                <div class="filter-desc"
                                     :class="{'active-filter-desc':sortClassActive.activeDesc}"></div>
                            </div>
                            {{ th.column_name }}

                        </th>
                        <th v-else :width="th.width+'%'" :colspan="th.colspan" :rowspan="th.rowspan"
                            :class="[{'text-center':th.class_text_center},{'table-primary':th.dt_tableClassHeaders},{'dark_sky_blue_last_four':th.dark_sky_blue_last_four},{'text-white':th.font_text_white},
                            {'bg-info':th.header_bg_info},{'dark_sky_blue_last_two':th.dark_sky_blue_last_two},{'font-weight-bold':th.font_weight_bold},{'text-right':th.class_text_right}]">
                            {{ th.column_name }}
                        </th>
                    </template>
                </tr>
                <tr>
                    <template v-for="(th,index) in dt_tableHeaders_2">
                        <th v-if="th.sortable" :width="th.width+'%'" :colspan="th.colspan">
                            <div class="inline-block" @click="sort(th.query_name)" style="cursor:pointer">
                                <div class="filter-asc" :class="{'active-filter-asc':sortClassActive.activeAsc}"></div>
                                <div class="filter-desc"
                                     :class="{'active-filter-desc':sortClassActive.activeDesc}"></div>
                            </div>
                            {{ th.column_name }}

                        </th>
                        <th v-else :width="th.width+'%'" :colspan="th.colspan" :rowspan="th.rowspan"
                            :class="[{'text-center':th.class_text_center},{'table-primary':th.dt_tableClassHeaders},{'dark_sky_blue_last_four':th.dark_sky_blue_last_four},{'text-white':th.font_text_white},
                            {'bg-info':th.header_bg_info},{'dark_sky_blue_last_two':th.dark_sky_blue_last_two},{'font-weight-bold':th.font_weight_bold},{'text-right':th.class_text_right}]">
                            {{ th.column_name }}
                        </th>
                    </template>
                </tr>
                <tr>
                    <template v-for="(th,index) in table_operation_exp">
                        <th v-if="th.sortable" :width="th.width+'%'" :colspan="th.colspan" :rowspan="th.rowspan">
                            <div class="inline-block" @click="sort(th.query_name)" style="cursor:pointer">
                                <div class="filter-asc" :class="{'active-filter-asc':sortClassActive.activeAsc}"></div>
                                <div class="filter-desc"
                                     :class="{'active-filter-desc':sortClassActive.activeDesc}"></div>
                            </div>
                            {{ th.column_name }}

                        </th>
                        <th v-else :width="th.width+'%'" :colspan="th.colspan" :rowspan="th.rowspan"
                            :class="[{'text-center':th.class_text_center},{'table-primary':th.dt_tableClassHeaders},{'dark_sky_blue_last_four':th.dark_sky_blue_last_four},{'text-white':th.font_text_white},
                            {'bg-info':th.header_bg_info},{'dark_sky_blue_last_two':th.dark_sky_blue_last_two},{'font-weight-bold':th.font_weight_bold},{'text-right':th.class_text_right}]">
                            {{ th.column_name }}
                        </th>
                    </template>
                </tr>
                <tr>
                    <template v-for="(th,index) in table_salaries">
                        <th v-if="th.sortable" :width="th.width+'%'" :colspan="th.colspan" :rowspan="th.rowspan">
                            <div class="inline-block" @click="sort(th.query_name)" style="cursor:pointer">
                                <div class="filter-asc" :class="{'active-filter-asc':sortClassActive.activeAsc}"></div>
                                <div class="filter-desc"
                                     :class="{'active-filter-desc':sortClassActive.activeDesc}"></div>
                            </div>
                            {{ th.column_name }}

                        </th>
                        <th v-else :width="th.width+'%'" :colspan="th.colspan" :rowspan="th.rowspan"
                            :class="[{'text-center':th.class_text_center},{'table-primary':th.dt_tableClassHeaders},{'dark_sky_blue_last_four':th.dark_sky_blue_last_four},{'text-white':th.font_text_white},
                            {'bg-info':th.header_bg_info},{'dark_sky_blue_last_two':th.dark_sky_blue_last_two},{'font-weight-bold':th.font_weight_bold},{'text-right':th.class_text_right}]">
                            {{ th.column_name }}
                        </th>
                    </template>
                </tr>
                </thead>
                <tbody>
                <slot name="tableSalaries">
                    <tr class="text-center">
                        <td colspan="10">
                            <p>no data available</p>
                        </td>
                    </tr>
                </slot>
                </tbody>

                <thead  v-columns-resizable>
                <!--FUELS_AND_SELLING_EXP-->
                <tr>
                    <template v-for="(th,index) in table_fuels_and_selling_exp">
                        <th v-if="th.sortable" :width="th.width+'%'" :colspan="th.colspan" :rowspan="th.rowspan">
                            <div class="inline-block" @click="sort(th.query_name)" style="cursor:pointer">
                                <div class="filter-asc" :class="{'active-filter-asc':sortClassActive.activeAsc}"></div>
                                <div class="filter-desc"
                                     :class="{'active-filter-desc':sortClassActive.activeDesc}"></div>
                            </div>
                            {{ th.column_name }}

                        </th>
                        <th v-else :width="th.width+'%'" :colspan="th.colspan" :rowspan="th.rowspan"
                            :class="[{'text-center':th.class_text_center},{'table-primary':th.dt_tableClassHeaders},{'dark_sky_blue_last_four':th.dark_sky_blue_last_four},{'text-white':th.font_text_white},
                            {'bg-info':th.header_bg_info},{'dark_sky_blue_last_two':th.dark_sky_blue_last_two},{'font-weight-bold':th.font_weight_bold},{'text-right':th.class_text_right}]">
                            {{ th.column_name }}
                        </th>
                    </template>
                </tr>

                <!--PIER-->
                <tr>
                    <template v-for="(th,index) in table_pier">
                        <th v-if="th.sortable" :width="th.width+'%'" :colspan="th.colspan" :rowspan="th.rowspan">
                            <div class="inline-block" @click="sort(th.query_name)" style="cursor:pointer">
                                <div class="filter-asc" :class="{'active-filter-asc':sortClassActive.activeAsc}"></div>
                                <div class="filter-desc"
                                     :class="{'active-filter-desc':sortClassActive.activeDesc}"></div>
                            </div>
                            {{ th.column_name }}
                        </th>
                        <th v-else :width="th.width+'%'" :colspan="th.colspan" :rowspan="th.rowspan"
                            :class="[{'text-center':th.class_text_center},{'table-primary':th.dt_tableClassHeaders},{'dark_sky_blue_last_four':th.dark_sky_blue_last_four},{'text-white':th.font_text_white},
                            {'bg-info':th.header_bg_info},{'dark_sky_blue_last_two':th.dark_sky_blue_last_two},{'font-weight-bold':th.font_weight_bold},{'text-right':th.class_text_right}]">
                            {{ th.column_name }}
                        </th>
                    </template>
                </tr>
                </thead>
                <tbody>
                <slot name="tablePier">
                    <tr class="text-center">
                        <td :colspan="table_pier.length">
                            <p>no data available</p>
                        </td>
                    </tr>
                </slot>
                </tbody>

                <thead  v-columns-resizable>
                <!--FUELS-->
                <tr>
                    <template v-for="(th,index) in table_fuels">
                        <th v-if="th.sortable" :width="th.width+'%'" :colspan="th.colspan" :rowspan="th.rowspan">
                            <div class="inline-block" @click="sort(th.query_name)" style="cursor:pointer">
                                <div class="filter-asc" :class="{'active-filter-asc':sortClassActive.activeAsc}"></div>
                                <div class="filter-desc"
                                     :class="{'active-filter-desc':sortClassActive.activeDesc}"></div>
                            </div>
                            {{ th.column_name }}

                        </th>
                        <th v-else :width="th.width+'%'" :colspan="th.colspan" :rowspan="th.rowspan"
                            :class="[{'text-center':th.class_text_center},{'table-primary':th.dt_tableClassHeaders},{'dark_sky_blue_last_four':th.dark_sky_blue_last_four},{'text-white':th.font_text_white},
                            {'bg-info':th.header_bg_info},{'dark_sky_blue_last_two':th.dark_sky_blue_last_two},{'font-weight-bold':th.font_weight_bold},{'text-right':th.class_text_right}]">
                            {{ th.column_name }}
                        </th>
                    </template>
                </tr>
                </thead>
                <tbody>
                <slot name="tableFuels">
                    <tr class="text-center">
                        <td :colspan="table_fuels.length">
                            <p>no data available</p>
                        </td>
                    </tr>
                </slot>
                </tbody>

                <thead  v-columns-resizable>
                <!--MAINTENANCE-->
                <tr>
                    <template v-for="(th,index) in table_maintenance">
                        <th v-if="th.sortable" :width="th.width+'%'" :colspan="th.colspan" :rowspan="th.rowspan">
                            <div class="inline-block" @click="sort(th.query_name)" style="cursor:pointer">
                                <div class="filter-asc" :class="{'active-filter-asc':sortClassActive.activeAsc}"></div>
                                <div class="filter-desc"
                                     :class="{'active-filter-desc':sortClassActive.activeDesc}"></div>
                            </div>
                            {{ th.column_name }}

                        </th>
                        <th v-else :width="th.width+'%'" :colspan="th.colspan" :rowspan="th.rowspan"
                            :class="[{'text-center':th.class_text_center},{'table-primary':th.dt_tableClassHeaders},{'dark_sky_blue_last_four':th.dark_sky_blue_last_four},{'text-white':th.font_text_white},
                            {'bg-info':th.header_bg_info},{'dark_sky_blue_last_two':th.dark_sky_blue_last_two},{'font-weight-bold':th.font_weight_bold},{'text-right':th.class_text_right}]">
                            {{ th.column_name }}
                        </th>
                    </template>
                </tr>
                </thead>
                <tbody>
                <slot name="tableMaintenance">
                    <tr class="text-center">
                        <td :colspan="table_maintenance.length">
                            <p>no data available</p>
                        </td>
                    </tr>
                </slot>
                </tbody>
                <thead  v-columns-resizable>
                <!--REPAIRS-->
                <tr>
                    <template v-for="(th,index) in table_repairs">
                        <th v-if="th.sortable" :width="th.width+'%'" :colspan="th.colspan" :rowspan="th.rowspan">
                            <div class="inline-block" @click="sort(th.query_name)" style="cursor:pointer">
                                <div class="filter-asc" :class="{'active-filter-asc':sortClassActive.activeAsc}"></div>
                                <div class="filter-desc"
                                     :class="{'active-filter-desc':sortClassActive.activeDesc}"></div>
                            </div>
                            {{ th.column_name }}

                        </th>
                        <th v-else :width="th.width+'%'" :colspan="th.colspan" :rowspan="th.rowspan"
                            :class="[{'text-center':th.class_text_center},{'table-primary':th.dt_tableClassHeaders},{'dark_sky_blue_last_four':th.dark_sky_blue_last_four},{'text-white':th.font_text_white},
                            {'bg-info':th.header_bg_info},{'dark_sky_blue_last_two':th.dark_sky_blue_last_two},{'font-weight-bold':th.font_weight_bold},{'text-right':th.class_text_right}]">
                            {{ th.column_name }}
                        </th>
                    </template>
                </tr>
                </thead>
                <tbody>
                <slot name="tableRepairs">
                    <tr class="text-center">
                        <td :colspan="table_repairs.length">
                            <p>no data available</p>
                        </td>
                    </tr>
                </slot>
                </tbody>

                <thead  v-columns-resizable>
                <!--INSURANCE-->
                <tr>
                    <template v-for="(th,index) in table_insurance">
                        <th v-if="th.sortable" :width="th.width+'%'" :colspan="th.colspan" :rowspan="th.rowspan">
                            <div class="inline-block" @click="sort(th.query_name)" style="cursor:pointer">
                                <div class="filter-asc" :class="{'active-filter-asc':sortClassActive.activeAsc}"></div>
                                <div class="filter-desc"
                                     :class="{'active-filter-desc':sortClassActive.activeDesc}"></div>
                            </div>
                            {{ th.column_name }}

                        </th>
                        <th v-else :width="th.width+'%'" :colspan="th.colspan" :rowspan="th.rowspan"
                            :class="[{'text-center':th.class_text_center},{'table-primary':th.dt_tableClassHeaders},{'dark_sky_blue_last_four':th.dark_sky_blue_last_four},{'text-white':th.font_text_white},
                            {'bg-info':th.header_bg_info},{'dark_sky_blue_last_two':th.dark_sky_blue_last_two},{'font-weight-bold':th.font_weight_bold},{'text-right':th.class_text_right}]">
                            {{ th.column_name }}
                        </th>
                    </template>
                </tr>
                </thead>
                <tbody>
                <slot name="tableInsurance">
                    <tr class="text-center">
                        <td :colspan="table_insurance.length">
                            <p>no data available</p>
                        </td>
                    </tr>
                </slot>
                </tbody>

                <thead  v-columns-resizable>
                <!--PARKING-->
                <tr>
                    <template v-for="(th,index) in table_parking">
                        <th v-if="th.sortable" :width="th.width+'%'" :colspan="th.colspan" :rowspan="th.rowspan">
                            <div class="inline-block" @click="sort(th.query_name)" style="cursor:pointer">
                                <div class="filter-asc" :class="{'active-filter-asc':sortClassActive.activeAsc}"></div>
                                <div class="filter-desc"
                                     :class="{'active-filter-desc':sortClassActive.activeDesc}"></div>
                            </div>
                            {{ th.column_name }}

                        </th>
                        <th v-else :width="th.width+'%'" :colspan="th.colspan" :rowspan="th.rowspan"
                            :class="[{'text-center':th.class_text_center},{'table-primary':th.dt_tableClassHeaders},{'dark_sky_blue_last_four':th.dark_sky_blue_last_four},{'text-white':th.font_text_white},
                            {'bg-info':th.header_bg_info},{'dark_sky_blue_last_two':th.dark_sky_blue_last_two},{'font-weight-bold':th.font_weight_bold},{'text-right':th.class_text_right}]">
                            {{ th.column_name }}
                        </th>
                    </template>
                </tr>
                </thead>
                <tbody>
                <slot name="tableParking">
                    <tr class="text-center">
                        <td :colspan="table_parking.length">
                            <p>no data available</p>
                        </td>
                    </tr>
                </slot>
                </tbody>
                <thead  v-columns-resizable>
                <!--TOLLING-->
                <tr>
                    <template v-for="(th,index) in table_tolling">
                        <th v-if="th.sortable" :width="th.width+'%'" :colspan="th.colspan" :rowspan="th.rowspan">
                            <div class="inline-block" @click="sort(th.query_name)" style="cursor:pointer">
                                <div class="filter-asc" :class="{'active-filter-asc':sortClassActive.activeAsc}"></div>
                                <div class="filter-desc"
                                     :class="{'active-filter-desc':sortClassActive.activeDesc}"></div>
                            </div>
                            {{ th.column_name }}

                        </th>
                        <th v-else :width="th.width+'%'" :colspan="th.colspan" :rowspan="th.rowspan"
                            :class="[{'text-center':th.class_text_center},{'table-primary':th.dt_tableClassHeaders},{'dark_sky_blue_last_four':th.dark_sky_blue_last_four},{'text-white':th.font_text_white},
                            {'bg-info':th.header_bg_info},{'dark_sky_blue_last_two':th.dark_sky_blue_last_two},{'font-weight-bold':th.font_weight_bold},{'text-right':th.class_text_right}]">
                            {{ th.column_name }}
                        </th>
                    </template>
                </tr>
                </thead>
                <tbody>
                <slot name="tableTolling">
                    <tr class="text-center">
                        <td :colspan="table_tolling.length">
                            <p>no data available</p>
                        </td>
                    </tr>
                </slot>
                </tbody>

                <thead  v-columns-resizable>
                <!--ADVERTISING AND PROMOTIONS-->
                <tr>
                    <template v-for="(th,index) in table_advertising_and_promotions">
                        <th v-if="th.sortable" :width="th.width+'%'" :colspan="th.colspan" :rowspan="th.rowspan">
                            <div class="inline-block" @click="sort(th.query_name)" style="cursor:pointer">
                                <div class="filter-asc" :class="{'active-filter-asc':sortClassActive.activeAsc}"></div>
                                <div class="filter-desc"
                                     :class="{'active-filter-desc':sortClassActive.activeDesc}"></div>
                            </div>
                            {{ th.column_name }}

                        </th>
                        <th v-else :width="th.width+'%'" :colspan="th.colspan" :rowspan="th.rowspan"
                            :class="[{'text-center':th.class_text_center},{'table-primary':th.dt_tableClassHeaders},{'dark_sky_blue_last_four':th.dark_sky_blue_last_four},{'text-white':th.font_text_white},
                            {'bg-info':th.header_bg_info},{'dark_sky_blue_last_two':th.dark_sky_blue_last_two},{'font-weight-bold':th.font_weight_bold},{'text-right':th.class_text_right}]">
                            {{ th.column_name }}
                        </th>
                    </template>
                </tr>
                </thead>
                <tbody>
                <slot name="tableAdvertisingAndPromotions">
                    <tr class="text-center">
                        <td :colspan="table_advertising_and_promotions.length">
                            <p>no data available</p>
                        </td>
                    </tr>
                </slot>
                </tbody>

                <thead  v-columns-resizable>
                <!--TRANSPORTATION AND TRAVEL-->
                <tr>
                    <template v-for="(th,index) in table_transportation_and_travel">
                        <th v-if="th.sortable" :width="th.width+'%'" :colspan="th.colspan" :rowspan="th.rowspan">
                            <div class="inline-block" @click="sort(th.query_name)" style="cursor:pointer">
                                <div class="filter-asc" :class="{'active-filter-asc':sortClassActive.activeAsc}"></div>
                                <div class="filter-desc"
                                     :class="{'active-filter-desc':sortClassActive.activeDesc}"></div>
                            </div>
                            {{ th.column_name }}

                        </th>
                        <th v-else :width="th.width+'%'" :colspan="th.colspan" :rowspan="th.rowspan"
                            :class="[{'text-center':th.class_text_center},{'table-primary':th.dt_tableClassHeaders},{'dark_sky_blue_last_four':th.dark_sky_blue_last_four},{'text-white':th.font_text_white},
                            {'bg-info':th.header_bg_info},{'dark_sky_blue_last_two':th.dark_sky_blue_last_two},{'font-weight-bold':th.font_weight_bold},{'text-right':th.class_text_right}]">
                            {{ th.column_name }}
                        </th>
                    </template>
                </tr>
                </thead>
                <tbody>
                <slot name="tableTransportationAndTravel">
                    <tr class="text-center">
                        <td :colspan="table_transportation_and_travel.length">
                            <p>no data available</p>
                        </td>
                    </tr>
                </slot>
                </tbody>

                <thead  v-columns-resizable>
                <!--PRODUCT TESTING/REPAIRS-->
                <tr>
                    <template v-for="(th,index) in table_product_testing">
                        <th v-if="th.sortable" :width="th.width+'%'" :colspan="th.colspan" :rowspan="th.rowspan">
                            <div class="inline-block" @click="sort(th.query_name)" style="cursor:pointer">
                                <div class="filter-asc" :class="{'active-filter-asc':sortClassActive.activeAsc}"></div>
                                <div class="filter-desc"
                                     :class="{'active-filter-desc':sortClassActive.activeDesc}"></div>
                            </div>
                            {{ th.column_name }}

                        </th>
                        <th v-else :width="th.width+'%'" :colspan="th.colspan" :rowspan="th.rowspan"
                            :class="[{'text-center':th.class_text_center},{'table-primary':th.dt_tableClassHeaders},{'dark_sky_blue_last_four':th.dark_sky_blue_last_four},{'text-white':th.font_text_white},
                            {'bg-info':th.header_bg_info},{'dark_sky_blue_last_two':th.dark_sky_blue_last_two},{'font-weight-bold':th.font_weight_bold},{'text-right':th.class_text_right}]">
                            {{ th.column_name }}
                        </th>
                    </template>
                </tr>
                </thead>
                <tbody>
                <slot name="tableProductTesting">
                    <tr class="text-center">
                        <td :colspan="table_product_testing.length">
                            <p>no data available</p>
                        </td>
                    </tr>
                </slot>
                </tbody>


                <thead  v-columns-resizable>
                <!--ADMINISTRATIVE_EXPENSES-->
                <tr>
                    <template v-for="(th,index) in table_admin_expenses">
                        <th v-if="th.sortable" :width="th.width+'%'" :colspan="th.colspan" :rowspan="th.rowspan">
                            <div class="inline-block" @click="sort(th.query_name)" style="cursor:pointer">
                                <div class="filter-asc" :class="{'active-filter-asc':sortClassActive.activeAsc}"></div>
                                <div class="filter-desc"
                                     :class="{'active-filter-desc':sortClassActive.activeDesc}"></div>
                            </div>
                            {{ th.column_name }}

                        </th>
                        <th v-else :width="th.width+'%'" :colspan="th.colspan" :rowspan="th.rowspan"
                            :class="[{'text-center':th.class_text_center},{'table-primary':th.dt_tableClassHeaders},{'dark_sky_blue_last_four':th.dark_sky_blue_last_four},{'text-white':th.font_text_white},
                            {'bg-info':th.header_bg_info},{'dark_sky_blue_last_two':th.dark_sky_blue_last_two},{'font-weight-bold':th.font_weight_bold},{'text-right':th.class_text_right}]">
                            {{ th.column_name }}
                        </th>
                    </template>
                </tr>
                <!--UTILITIES-->
                <tr>
                    <template v-for="(th,index) in table_utilities">
                        <th v-if="th.sortable" :width="th.width+'%'" :colspan="th.colspan" :rowspan="th.rowspan">
                            <div class="inline-block" @click="sort(th.query_name)" style="cursor:pointer">
                                <div class="filter-asc" :class="{'active-filter-asc':sortClassActive.activeAsc}"></div>
                                <div class="filter-desc"
                                     :class="{'active-filter-desc':sortClassActive.activeDesc}"></div>
                            </div>
                            {{ th.column_name }}

                        </th>
                        <th v-else :width="th.width+'%'" :colspan="th.colspan" :rowspan="th.rowspan"
                            :class="[{'text-center':th.class_text_center},{'table-primary':th.dt_tableClassHeaders},{'dark_sky_blue_last_four':th.dark_sky_blue_last_four},{'text-white':th.font_text_white},
                            {'bg-info':th.header_bg_info},{'dark_sky_blue_last_two':th.dark_sky_blue_last_two},{'font-weight-bold':th.font_weight_bold},{'text-right':th.class_text_right}]">
                            {{ th.column_name }}
                        </th>
                    </template>
                </tr>
                </thead>
                <tbody>
                <slot name="tableUtilities">
                    <tr class="text-center">
                        <td :colspan="table_utilities.length">
                            <p>no data available</p>
                        </td>
                    </tr>
                </slot>
                </tbody>

                <thead  v-columns-resizable>
                <!--COMMUNICATION-->
                <tr>
                    <template v-for="(th,index) in table_communication">
                        <th v-if="th.sortable" :width="th.width+'%'" :colspan="th.colspan" :rowspan="th.rowspan">
                            <div class="inline-block" @click="sort(th.query_name)" style="cursor:pointer">
                                <div class="filter-asc" :class="{'active-filter-asc':sortClassActive.activeAsc}"></div>
                                <div class="filter-desc"
                                     :class="{'active-filter-desc':sortClassActive.activeDesc}"></div>
                            </div>
                            {{ th.column_name }}

                        </th>
                        <th v-else :width="th.width+'%'" :colspan="th.colspan" :rowspan="th.rowspan"
                            :class="[{'text-center':th.class_text_center},{'table-primary':th.dt_tableClassHeaders},{'dark_sky_blue_last_four':th.dark_sky_blue_last_four},{'text-white':th.font_text_white},
                            {'bg-info':th.header_bg_info},{'dark_sky_blue_last_two':th.dark_sky_blue_last_two},{'font-weight-bold':th.font_weight_bold},{'text-right':th.class_text_right}]">
                            {{ th.column_name }}
                        </th>
                    </template>
                </tr>
                </thead>
                <tbody>
                <slot name="tableCommunication">
                    <tr class="text-center">
                        <td :colspan="table_communication.length">
                            <p>no data available</p>
                        </td>
                    </tr>
                </slot>
                </tbody>

                <thead  v-columns-resizable>
                <!--POSTAGE-->
                <tr>
                    <template v-for="(th,index) in table_postage">
                        <th v-if="th.sortable" :width="th.width+'%'" :colspan="th.colspan" :rowspan="th.rowspan">
                            <div class="inline-block" @click="sort(th.query_name)" style="cursor:pointer">
                                <div class="filter-asc" :class="{'active-filter-asc':sortClassActive.activeAsc}"></div>
                                <div class="filter-desc"
                                     :class="{'active-filter-desc':sortClassActive.activeDesc}"></div>
                            </div>
                            {{ th.column_name }}

                        </th>
                        <th v-else :width="th.width+'%'" :colspan="th.colspan" :rowspan="th.rowspan"
                            :class="[{'text-center':th.class_text_center},{'table-primary':th.dt_tableClassHeaders},{'dark_sky_blue_last_four':th.dark_sky_blue_last_four},{'text-white':th.font_text_white},
                            {'bg-info':th.header_bg_info},{'dark_sky_blue_last_two':th.dark_sky_blue_last_two},{'font-weight-bold':th.font_weight_bold},{'text-right':th.class_text_right}]">
                            {{ th.column_name }}
                        </th>
                    </template>
                </tr>
                </thead>
                <tbody>
                <slot name="tablePostage">
                    <tr class="text-center">
                        <td :colspan="table_postage.length">
                            <p>no data available</p>
                        </td>
                    </tr>
                </slot>
                </tbody>

                <thead  v-columns-resizable>
                <!--REPAIRS-->
                <tr>
                    <template v-for="(th,index) in table_admin_exp_repairs">
                        <th v-if="th.sortable" :width="th.width+'%'" :colspan="th.colspan" :rowspan="th.rowspan">
                            <div class="inline-block" @click="sort(th.query_name)" style="cursor:pointer">
                                <div class="filter-asc" :class="{'active-filter-asc':sortClassActive.activeAsc}"></div>
                                <div class="filter-desc"
                                     :class="{'active-filter-desc':sortClassActive.activeDesc}"></div>
                            </div>
                            {{ th.column_name }}

                        </th>
                        <th v-else :width="th.width+'%'" :colspan="th.colspan" :rowspan="th.rowspan"
                            :class="[{'text-center':th.class_text_center},{'table-primary':th.dt_tableClassHeaders},{'dark_sky_blue_last_four':th.dark_sky_blue_last_four},{'text-white':th.font_text_white},
                            {'bg-info':th.header_bg_info},{'dark_sky_blue_last_two':th.dark_sky_blue_last_two},{'font-weight-bold':th.font_weight_bold},{'text-right':th.class_text_right}]">
                            {{ th.column_name }}
                        </th>
                    </template>
                </tr>
                </thead>
                <tbody>
                <slot name="tableAdminExpRepairs">
                    <tr class="text-center">
                        <td :colspan="table_admin_exp_repairs.length">
                            <p>no data available</p>
                        </td>
                    </tr>
                </slot>
                </tbody>

                <thead  v-columns-resizable>
                <!--TRAVEL AND TRANSPO - ADMIN/MANAGEMENT-->
                <tr>
                    <template v-for="(th,index) in table_admin_exp_travel_transport">
                        <th v-if="th.sortable" :width="th.width+'%'" :colspan="th.colspan" :rowspan="th.rowspan">
                            <div class="inline-block" @click="sort(th.query_name)" style="cursor:pointer">
                                <div class="filter-asc" :class="{'active-filter-asc':sortClassActive.activeAsc}"></div>
                                <div class="filter-desc"
                                     :class="{'active-filter-desc':sortClassActive.activeDesc}"></div>
                            </div>
                            {{ th.column_name }}

                        </th>
                        <th v-else :width="th.width+'%'" :colspan="th.colspan" :rowspan="th.rowspan"
                            :class="[{'text-center':th.class_text_center},{'table-primary':th.dt_tableClassHeaders},{'dark_sky_blue_last_four':th.dark_sky_blue_last_four},{'text-white':th.font_text_white},
                            {'bg-info':th.header_bg_info},{'dark_sky_blue_last_two':th.dark_sky_blue_last_two},{'font-weight-bold':th.font_weight_bold},{'text-right':th.class_text_right}]">
                            {{ th.column_name }}
                        </th>
                    </template>
                </tr>
                </thead>
                <tbody>
                <slot name="tableAdminExpTravelTransport">
                    <tr class="text-center">
                        <td :colspan="table_admin_exp_travel_transport.length">
                            <p>no data available</p>
                        </td>
                    </tr>
                </slot>
                </tbody>

                <thead  v-columns-resizable>
                <!--PERMITS, LICENSES, AND GOVT. FEES-->
                <tr>
                    <template v-for="(th,index) in table_plog">
                        <th v-if="th.sortable" :width="th.width+'%'" :colspan="th.colspan" :rowspan="th.rowspan">
                            <div class="inline-block" @click="sort(th.query_name)" style="cursor:pointer">
                                <div class="filter-asc" :class="{'active-filter-asc':sortClassActive.activeAsc}"></div>
                                <div class="filter-desc"
                                     :class="{'active-filter-desc':sortClassActive.activeDesc}"></div>
                            </div>
                            {{ th.column_name }}

                        </th>
                        <th v-else :width="th.width+'%'" :colspan="th.colspan" :rowspan="th.rowspan"
                            :class="[{'text-center':th.class_text_center},{'table-primary':th.dt_tableClassHeaders},{'dark_sky_blue_last_four':th.dark_sky_blue_last_four},{'text-white':th.font_text_white},
                            {'bg-info':th.header_bg_info},{'dark_sky_blue_last_two':th.dark_sky_blue_last_two},{'font-weight-bold':th.font_weight_bold},{'text-right':th.class_text_right}]">
                            {{ th.column_name }}
                        </th>
                    </template>
                </tr>
                </thead>
                <tbody>
                <slot name="tablePlog">
                    <tr class="text-center">
                        <td :colspan="table_plog.length">
                            <p>no data available</p>
                        </td>
                    </tr>
                </slot>
                </tbody>

                <thead  v-columns-resizable>
                <!--PROFESSIONAL FEES-->
                <tr>
                    <template v-for="(th,index) in table_prof_fees">
                        <th v-if="th.sortable" :width="th.width+'%'" :colspan="th.colspan" :rowspan="th.rowspan">
                            <div class="inline-block" @click="sort(th.query_name)" style="cursor:pointer">
                                <div class="filter-asc" :class="{'active-filter-asc':sortClassActive.activeAsc}"></div>
                                <div class="filter-desc"
                                     :class="{'active-filter-desc':sortClassActive.activeDesc}"></div>
                            </div>
                            {{ th.column_name }}

                        </th>
                        <th v-else :width="th.width+'%'" :colspan="th.colspan" :rowspan="th.rowspan"
                            :class="[{'text-center':th.class_text_center},{'table-primary':th.dt_tableClassHeaders},{'dark_sky_blue_last_four':th.dark_sky_blue_last_four},{'text-white':th.font_text_white},
                            {'bg-info':th.header_bg_info},{'dark_sky_blue_last_two':th.dark_sky_blue_last_two},{'font-weight-bold':th.font_weight_bold},{'text-right':th.class_text_right}]">
                            {{ th.column_name }}
                        </th>
                    </template>
                </tr>
                </thead>
                <tbody>
                <slot name="tableProfFees">
                    <tr class="text-center">
                        <td :colspan="table_prof_fees.length">
                            <p>no data available</p>
                        </td>
                    </tr>
                </slot>
                </tbody>

                <thead  v-columns-resizable>
                <!--REPRESENTATION AND ENTERTAINMENT-->
                <tr>
                    <template v-for="(th,index) in table_rep_ent">
                        <th v-if="th.sortable" :width="th.width+'%'" :colspan="th.colspan" :rowspan="th.rowspan">
                            <div class="inline-block" @click="sort(th.query_name)" style="cursor:pointer">
                                <div class="filter-asc" :class="{'active-filter-asc':sortClassActive.activeAsc}"></div>
                                <div class="filter-desc"
                                     :class="{'active-filter-desc':sortClassActive.activeDesc}"></div>
                            </div>
                            {{ th.column_name }}

                        </th>
                        <th v-else :width="th.width+'%'" :colspan="th.colspan" :rowspan="th.rowspan"
                            :class="[{'text-center':th.class_text_center},{'table-primary':th.dt_tableClassHeaders},{'dark_sky_blue_last_four':th.dark_sky_blue_last_four},{'text-white':th.font_text_white},
                            {'bg-info':th.header_bg_info},{'dark_sky_blue_last_two':th.dark_sky_blue_last_two},{'font-weight-bold':th.font_weight_bold},{'text-right':th.class_text_right}]">
                            {{ th.column_name }}
                        </th>
                    </template>
                </tr>
                </thead>
                <tbody>
                <slot name="tableRepEnt">
                    <tr class="text-center">
                        <td :colspan="table_rep_ent.length">
                            <p>no data available</p>
                        </td>
                    </tr>
                </slot>
                </tbody>

                <thead  v-columns-resizable>
                <!--SUPPLIES-->
                <tr>
                    <template v-for="(th,index) in table_supplies">
                        <th v-if="th.sortable" :width="th.width+'%'" :colspan="th.colspan" :rowspan="th.rowspan">
                            <div class="inline-block" @click="sort(th.query_name)" style="cursor:pointer">
                                <div class="filter-asc" :class="{'active-filter-asc':sortClassActive.activeAsc}"></div>
                                <div class="filter-desc"
                                     :class="{'active-filter-desc':sortClassActive.activeDesc}"></div>
                            </div>
                            {{ th.column_name }}

                        </th>
                        <th v-else :width="th.width+'%'" :colspan="th.colspan" :rowspan="th.rowspan"
                            :class="[{'text-center':th.class_text_center},{'table-primary':th.dt_tableClassHeaders},{'dark_sky_blue_last_four':th.dark_sky_blue_last_four},{'text-white':th.font_text_white},
                            {'bg-info':th.header_bg_info},{'dark_sky_blue_last_two':th.dark_sky_blue_last_two},{'font-weight-bold':th.font_weight_bold},{'text-right':th.class_text_right}]">
                            {{ th.column_name }}
                        </th>
                    </template>
                </tr>
                </thead>
                <tbody>
                <slot name="tableSupplies">
                    <tr class="text-center">
                        <td :colspan="table_supplies.length">
                            <p>no data available</p>
                        </td>
                    </tr>
                </slot>
                </tbody>

                <thead  v-columns-resizable>
                <!--SUBSCRIPTIONS-->
                <tr>
                    <template v-for="(th,index) in table_subscriptions">
                        <th v-if="th.sortable" :width="th.width+'%'" :colspan="th.colspan" :rowspan="th.rowspan">
                            <div class="inline-block" @click="sort(th.query_name)" style="cursor:pointer">
                                <div class="filter-asc" :class="{'active-filter-asc':sortClassActive.activeAsc}"></div>
                                <div class="filter-desc"
                                     :class="{'active-filter-desc':sortClassActive.activeDesc}"></div>
                            </div>
                            {{ th.column_name }}

                        </th>
                        <th v-else :width="th.width+'%'" :colspan="th.colspan" :rowspan="th.rowspan"
                            :class="[{'text-center':th.class_text_center},{'table-primary':th.dt_tableClassHeaders},{'dark_sky_blue_last_four':th.dark_sky_blue_last_four},{'text-white':th.font_text_white},
                            {'bg-info':th.header_bg_info},{'dark_sky_blue_last_two':th.dark_sky_blue_last_two},{'font-weight-bold':th.font_weight_bold},{'text-right':th.class_text_right}]">
                            {{ th.column_name }}
                        </th>
                    </template>
                </tr>
                </thead>
                <tbody>
                <slot name="tableSubscriptions">
                    <tr class="text-center">
                        <td :colspan="table_subscriptions.length">
                            <p>no data available</p>
                        </td>
                    </tr>
                </slot>
                </tbody>

                <thead  v-columns-resizable>
                <!--RECRUITMENT AND TRAINING-->
                <tr>
                    <template v-for="(th,index) in table_recruit_and_training">
                        <th v-if="th.sortable" :width="th.width+'%'" :colspan="th.colspan" :rowspan="th.rowspan">
                            <div class="inline-block" @click="sort(th.query_name)" style="cursor:pointer">
                                <div class="filter-asc" :class="{'active-filter-asc':sortClassActive.activeAsc}"></div>
                                <div class="filter-desc"
                                     :class="{'active-filter-desc':sortClassActive.activeDesc}"></div>
                            </div>
                            {{ th.column_name }}

                        </th>
                        <th v-else :width="th.width+'%'" :colspan="th.colspan" :rowspan="th.rowspan"
                            :class="[{'text-center':th.class_text_center},{'table-primary':th.dt_tableClassHeaders},{'dark_sky_blue_last_four':th.dark_sky_blue_last_four},{'text-white':th.font_text_white},
                            {'bg-info':th.header_bg_info},{'dark_sky_blue_last_two':th.dark_sky_blue_last_two},{'font-weight-bold':th.font_weight_bold},{'text-right':th.class_text_right}]">
                            {{ th.column_name }}
                        </th>
                    </template>
                </tr>
                </thead>
                <tbody>
                <slot name="tableRecruitAndTraining">
                    <tr class="text-center">
                        <td :colspan="table_recruit_and_training.length">
                            <p>no data available</p>
                        </td>
                    </tr>
                </slot>
                </tbody>

                <thead  v-columns-resizable>
                <!--SOLICITATION AND DONATION-->
                <tr>
                    <template v-for="(th,index) in table_solict_and_donation">
                        <th v-if="th.sortable" :width="th.width+'%'" :colspan="th.colspan" :rowspan="th.rowspan">
                            <div class="inline-block" @click="sort(th.query_name)" style="cursor:pointer">
                                <div class="filter-asc" :class="{'active-filter-asc':sortClassActive.activeAsc}"></div>
                                <div class="filter-desc"
                                     :class="{'active-filter-desc':sortClassActive.activeDesc}"></div>
                            </div>
                            {{ th.column_name }}

                        </th>
                        <th v-else :width="th.width+'%'" :colspan="th.colspan" :rowspan="th.rowspan"
                            :class="[{'text-center':th.class_text_center},{'table-primary':th.dt_tableClassHeaders},{'dark_sky_blue_last_four':th.dark_sky_blue_last_four},{'text-white':th.font_text_white},
                            {'bg-info':th.header_bg_info},{'dark_sky_blue_last_two':th.dark_sky_blue_last_two},{'font-weight-bold':th.font_weight_bold},{'text-right':th.class_text_right}]">
                            {{ th.column_name }}
                        </th>
                    </template>
                </tr>
                </thead>
                <tbody>
                <slot name="tableSolicitAndDonation">
                    <tr class="text-center">
                        <td :colspan="table_solict_and_donation.length">
                            <p>no data available</p>
                        </td>
                    </tr>
                </slot>
                </tbody>
            </table>
        </div>
        <div class="row ">
            <div class="col-md-6">
                <slot name="perPage">
                </slot>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 offset-md-3 ">
                <slot name="pagination">
                </slot>
            </div>
        </div>

    </div>
</template>

<script>

import {mapActions, mapGetters} from "vuex";

export default {
    name: "BudgetMaintenanceDataTable",
    props: {
        dt_tableHeaders: {
            type: Array,
            required: true
        },
        dt_tableHeaders_2: {
            type: Array,
            required: true
        },
        table_salaries: {
            type: Array,
            required: true
        },
        table_fuels_and_selling_exp: {
            type: Array,
            required: true
        },
        table_pier: {
            type: Array,
            required: true
        },
        table_fuels: {
            type: Array,
            required: true
        },
        table_maintenance: {
            type: Array,
            required: true
        },
        table_repairs: {
            type: Array,
            required: true
        },
        table_insurance: {
            type: Array,
            required: true
        },
        table_parking: {
            type: Array,
            required: true
        },
        table_tolling: {
            type: Array,
            required: true
        },
        table_advertising_and_promotions: {
            type: Array,
            required: true
        },
        table_transportation_and_travel: {
            type: Array,
            required: true
        },
        table_product_testing: {
            type: Array,
            required: true
        },
        table_admin_expenses: {
            type: Array,
            required: true
        },
        table_utilities: {
            type: Array,
            required: true
        },
        table_communication: {
            type: Array,
            required: true
        },
        table_postage: {
            type: Array,
            required: true
        },
        table_admin_exp_repairs: {
            type: Array,
            required: true
        },
        table_admin_exp_travel_transport: {
            type: Array,
            required: true
        },
        table_plog: {
            type: Array,
            required: true
        },
        table_prof_fees: {
            type: Array,
            required: true
        },
        table_rep_ent: {
            type: Array,
            required: true
        },
        table_supplies: {
            type: Array,
            required: true
        },
        table_subscriptions: {
            type: Array,
            required: true
        },
        table_recruit_and_training: {
            type: Array,
            required: true
        },
        table_solict_and_donation: {
            type: Array,
            required: true
        },
        table_operation_exp: {
            type: Array,
            required: true
        },
        dt_tableClassHeaders: {
            type: String,
            default:'text-primary'
        },
        dt_itemEntriesOption: {
            type: Array,
            default: function () {
                return [5, 25, 100]
            }
        },
        dt_classTable: {
            type: String,
            default: 'table'
        },
        dt_TableWidth: {
            type: String,
            default: '100'
        },
        dt_TableResponsive: {
            type: Boolean,
            default: false
        },
        dt_currentSort: {
            type: String,
            default: 'name'
        },
        dt_currentSortDir: {
            type: String,
            default: 'asc'
        },
        dt_defaultEntries: {
            type: Number,
            required: true
        },
        dt_Search:{
            type: String,
        }


    },
    data() {
        return {
            entrySelected: this.dt_defaultEntries,
            sortClassActive: {
                'activeDesc': false,
                'activeAsc': true
            },
            timer:null,
        }
    },
    computed: {
        ...mapGetters({
        gl_accounts: ["gl_accounts/gl_accounts"],
        }),
    },
    methods: {
        sort(s) {
            let currentSortDir = this.dt_currentSortDir;
            if (s === this.dt_currentSort) {
                currentSortDir = this.dt_currentSortDir === 'asc' ? 'desc' : 'asc';
                if (currentSortDir === 'asc') {
                    this.sortClassActive.activeAsc = true;
                    this.sortClassActive.activeDesc = false;
                } else {
                    this.sortClassActive.activeAsc = false;
                    this.sortClassActive.activeDesc = true;
                }
            }
            // this.currentSort = s;
            this.$emit("sortColumn", {sortBy: s, sortDir: currentSortDir});
        },

        selectPageNumber(selected) {
            this.entrySelected = selected;
            this.$emit("perPageEntry", this.entrySelected);
        },
        searchData(event) {
            this.$emit("searchItem", event.target.value);
        }
    }

}
</script>

<style scoped>
.filter-asc {
    border-bottom: 5px solid #ccc;
    margin-bottom: 1px
}

.filter-asc, .filter-desc {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent
}

.filter-desc {
    border-top: 5px solid #ccc;
    margin-top: 1px
}

.active-filter-asc {
    border-bottom: 5px solid #a3a3a3
}

.active-filter-desc {
    border-top: 5px solid #a3a3a3
}

.inline-block {
    display: inline-block
}

.dark_sky_blue_last_four{
    background-color: #1c7ea6;
}
.dark_sky_blue_last_two{
    background-color: #2197c7;
}
</style>
