<template>
    <div>
        <div class="row  form-group">
            <p class=" m-1">show</p>
            <div class="col-md-1 p-0">
                <select class="form-control" v-model="entrySelected" @change="selectPageNumber(entrySelected)">
                    <option v-for="perPage in dt_itemEntriesOption" :value="perPage"
                            :selected="entrySelected===perPage">{{
                            perPage
                        }}
                    </option>
                </select>
            </div>
            <p class="m-1"> entries</p>
            <div class="col-md-4 offset-md-8 ">
                <input class="form-control" :value="dt_Search" placeholder="search" @keyup="searchData">
            </div>
        </div>
        <div class="table-responsive">
            <table :class="dt_classTable" :width="dt_TableWidth+'%'">
                <thead :class="dt_tableClassHeaders" v-columns-resizable>
                <tr>
                    <template v-for="th in dt_tableHeaders">
                        <th v-if="th.sortable" :width="th.width+'%'" :colspan="th.colspan">
                            <div class="inline-block" @click="sort(th.query_name)" style="cursor:pointer">
                                <div class="filter-asc" :class="{'active-filter-asc':sortClassActive.activeAsc}"></div>
                                <div class="filter-desc"
                                     :class="{'active-filter-desc':sortClassActive.activeDesc}"></div>
                            </div>
                            {{ th.column_name }}

                        </th>
                        <th v-else :width="th.width+'%'">
                            {{ th.column_name }}
                        </th>
                    </template>

                </tr>

                </thead>
                <tbody>
                <slot name="tableData">
                    <tr class="text-center">
                        <td :colspan="dt_tableHeaders.length">
                            <p>no data available</p>
                        </td>

                    </tr>
                </slot>
                </tbody>
            </table>
        </div>
        <div class="row ">
            <div class="col-md-6">
                <slot name="perPage">
                </slot>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 offset-md-3 ">
                <slot name="pagination">
                </slot>
            </div>
        </div>

    </div>
</template>

<script>

export default {
    name: "DataTable",
    props: {
        dt_tableHeaders: {
            type: Array,
            required: true
        },
        dt_tableClassHeaders: {
            type: String,
            default:'text-primary'
        },
        dt_itemEntriesOption: {
            type: Array,
            default: function () {
                return [5, 25, 100]
            }
        },
        dt_classTable: {
            type: String,
            default: 'table'
        },
        dt_TableWidth: {
            type: String,
            default: '100'
        },
        dt_TableResponsive: {
            type: Boolean,
            default: false
        },
        dt_currentSort: {
            type: String,
            default: 'name'
        },
        dt_currentSortDir: {
            type: String,
            default: 'asc'
        },
        dt_defaultEntries: {
            type: Number,
            required: true
        },
        dt_Search:{
            type: String,
        }


    },
    data() {
        return {
            entrySelected: this.dt_defaultEntries,
            sortClassActive: {
                'activeDesc': false,
                'activeAsc': true
            },
            timer:null,
        }
    },
    methods: {
        sort(s) {
            let currentSortDir = this.dt_currentSortDir;
            if (s === this.dt_currentSort) {
                currentSortDir = this.dt_currentSortDir === 'asc' ? 'desc' : 'asc';
                if (currentSortDir === 'asc') {
                    this.sortClassActive.activeAsc = true;
                    this.sortClassActive.activeDesc = false;
                } else {
                    this.sortClassActive.activeAsc = false;
                    this.sortClassActive.activeDesc = true;
                }
            }
            // this.currentSort = s;
            this.$emit("sortColumn", {sortBy: s, sortDir: currentSortDir});
        },

        selectPageNumber(selected) {
            this.entrySelected = selected;
            this.$emit("perPageEntry", this.entrySelected);
        },
        searchData(event) {
            this.$emit("searchItem", event.target.value);
        }
    }

}
</script>

<style scoped>
.filter-asc {
    border-bottom: 5px solid #ccc;
    margin-bottom: 1px
}

.filter-asc, .filter-desc {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent
}

.filter-desc {
    border-top: 5px solid #ccc;
    margin-top: 1px
}

.active-filter-asc {
    border-bottom: 5px solid #a3a3a3
}

.active-filter-desc {
    border-top: 5px solid #a3a3a3
}

.inline-block {
    display: inline-block
}
</style>
