<template>
    <div>
        <div class="row  form-group">
        </div>
        <div :class="[{'table-responsive':false}]">
            <table :class="dt_classTable" :width="dt_TableWidth+'%'">
                <thead :class="dt_tableClassHeaders" v-columns-resizable>
                <tr>
                    <template v-for="(th,index) in dt_tableHeaders"
                              v-if="allowedCompanyIndex.includes(index) || th.column_name === 'VARIANCE' || index === 9 - isIndex">
                        <th v-if="th.sortable" :width="th.width+'%'" :colspan="th.colspan">
                            <div class="inline-block" @click="sort(th.query_name)" style="cursor:pointer">
                                <div class="filter-asc" :class="{'active-filter-asc':sortClassActive.activeAsc}"></div>
                                <div class="filter-desc"
                                     :class="{'active-filter-desc':sortClassActive.activeDesc}"></div>
                            </div>
                            {{ th.column_name }}

                        </th>
                        <th v-else :width="th.width+'%'" :colspan="th.colspan" :rowspan="th.rowspan"
                            :class="[{'text-center':th.class_text_center},{'table-primary':th.dt_tableClassHeaders},{'dark_sky_blue_last_four':th.dark_sky_blue_last_four},{'text-white':th.font_text_white},
                            {'bg-info':th.header_bg_info},{'dark_sky_blue_last_two':th.dark_sky_blue_last_two},{'font-weight-bold':th.font_weight_bold},{'text-right':th.class_text_right}]">
                            {{ th.column_name }}
                        </th>
                    </template>
                </tr>
                <tr>
                    <template v-for="(th,index) in dt_tableHeaders_2"
                              v-if="allowedCompanyIndex.includes(index) || th.column_name === 'BUDGET' || index === 9 - isIndex">
                        <th v-if="th.sortable" :width="th.width+'%'" :colspan="th.colspan">
                            <div class="inline-block" @click="sort(th.query_name)" style="cursor:pointer">
                                <div class="filter-asc" :class="{'active-filter-asc':sortClassActive.activeAsc}"></div>
                                <div class="filter-desc"
                                     :class="{'active-filter-desc':sortClassActive.activeDesc}"></div>
                            </div>
                            {{ th.column_name }}

                        </th>
                        <th v-else :width="th.width+'%'" :colspan="th.colspan" :rowspan="th.rowspan"
                            :class="[{'text-center':th.class_text_center},{'table-primary':th.dt_tableClassHeaders},{'dark_sky_blue_last_four':th.dark_sky_blue_last_four},{'text-white':th.font_text_white},
                            {'bg-info':th.header_bg_info},{'dark_sky_blue_last_two':th.dark_sky_blue_last_two},{'font-weight-bold':th.font_weight_bold},{'text-right':th.class_text_right}]">
                            {{ th.column_name }}
                        </th>
                    </template>
                </tr>
                <tr>
                    <template v-for="(th,index) in dt_tableHeaders_3"
                              v-if="allowedCompanyIndex.includes(index) || th.column_name === 'TOTAL OPEX' || index === 9 - isIndex ">
                        <th v-if="th.sortable" :width="th.width+'%'" :colspan="th.colspan">
                            <div class="inline-block" @click="sort(th.query_name)" style="cursor:pointer">
                                <div class="filter-asc" :class="{'active-filter-asc':sortClassActive.activeAsc}"></div>
                                <div class="filter-desc"
                                     :class="{'active-filter-desc':sortClassActive.activeDesc}"></div>
                            </div>
                            {{ th.column_name }}

                        </th>
                        <th v-else :width="th.width+'%'" :colspan="th.colspan" :rowspan="th.rowspan"
                            :class="[{'text-center':th.class_text_center},{'table-primary':th.dt_tableClassHeaders},{'dark_sky_blue_last_four':th.dark_sky_blue_last_four},{'text-white':th.font_text_white},
                            {'bg-info':th.header_bg_info},{'dark_sky_blue_last_two':th.dark_sky_blue_last_two},{'font-weight-bold':th.font_weight_bold},{'text-right':th.class_text_right}]">
                            {{ th.column_name }}
                        </th>
                    </template>
                </tr>
                <tr>
                    <template v-for="(th,index) in dt_tableHeaders_4" v-if="allowedCompany.includes(th.column_name) || th.column_name === 'COMPANY'
                     || th.column_name === totalString">
                        <th v-if="th.sortable" :width="th.width+'%'" :colspan="th.colspan">
                            <div class="inline-block" @click="sort(th.query_name)" style="cursor:pointer">
                                <div class="filter-asc" :class="{'active-filter-asc':sortClassActive.activeAsc}"></div>
                                <div class="filter-desc"
                                     :class="{'active-filter-desc':sortClassActive.activeDesc}"></div>
                            </div>
                            {{ th.column_name }}

                        </th>
                        <th v-else :width="th.width+'%'" :colspan="th.colspan" :rowspan="th.rowspan"
                            :class="[{'text-center':th.class_text_center},{'table-primary':th.dt_tableClassHeaders},{'dark_sky_blue_last_four':th.dark_sky_blue_last_four},{'text-white':th.font_text_white},
                            {'bg-info':th.header_bg_info},{'dark_sky_blue_last_two':th.dark_sky_blue_last_two},{'font-weight-bold':th.font_weight_bold},{'text-right':th.class_text_right}]">
                            {{ th.column_name }}
                        </th>
                    </template>
                </tr>
                <tr>
                    <template v-for="(th,index) in table_salaries"
                              v-if="allowedCompanyIndex.includes(index) || th.column_name === 'SALARIES' || index === 9 - isIndex">
                        <th v-if="th.sortable" :width="th.width+'%'" :colspan="th.colspan" :rowspan="th.rowspan">
                            <div class="inline-block" @click="sort(th.query_name)" style="cursor:pointer">
                                <div class="filter-asc" :class="{'active-filter-asc':sortClassActive.activeAsc}"></div>
                                <div class="filter-desc"
                                     :class="{'active-filter-desc':sortClassActive.activeDesc}"></div>
                            </div>
                            {{ th.column_name }}

                        </th>
                        <th v-else :width="th.width+'%'" :colspan="th.colspan" :rowspan="th.rowspan"
                            :class="[{'text-center':th.class_text_center},{'table-primary':th.dt_tableClassHeaders},{'dark_sky_blue_last_four':th.dark_sky_blue_last_four},{'text-white':th.font_text_white},
                            {'bg-info':th.header_bg_info},{'dark_sky_blue_last_two':th.dark_sky_blue_last_two},{'font-weight-bold':th.font_weight_bold},{'text-right':th.class_text_right}]">
                            {{ th.column_name }}
                        </th>
                    </template>
                </tr>
                </thead>
                <tbody>
                <slot name="thdSummaryDataTableData">
                    <tr class="text-center">
                        <td colspan="10">
                            <p>no data available</p>
                        </td>
                    </tr>
                </slot>
                </tbody>

                <thead  v-columns-resizable>
                <!--FUELS_AND_SELLING_EXP-->
                <tr>
                    <template v-for="(th,index) in table_fuels_and_selling_exp"
                              v-if="allowedCompanyIndex.includes(index) || th.column_name === 'FUEL AND SELLING EXPENSES' || index === 9 - isIndex">
                        <th v-if="th.sortable" :width="th.width+'%'" :colspan="th.colspan" :rowspan="th.rowspan">
                            <div class="inline-block" @click="sort(th.query_name)" style="cursor:pointer">
                                <div class="filter-asc" :class="{'active-filter-asc':sortClassActive.activeAsc}"></div>
                                <div class="filter-desc"
                                     :class="{'active-filter-desc':sortClassActive.activeDesc}"></div>
                            </div>
                            {{ th.column_name }}

                        </th>
                        <th v-else :width="th.width+'%'" :colspan="th.colspan" :rowspan="th.rowspan"
                            :class="[{'text-center':th.class_text_center},{'table-primary':th.dt_tableClassHeaders},{'dark_sky_blue_last_four':th.dark_sky_blue_last_four},{'text-white':th.font_text_white},
                            {'bg-info':th.header_bg_info},{'dark_sky_blue_last_two':th.dark_sky_blue_last_two},{'font-weight-bold':th.font_weight_bold},{'text-right':th.class_text_right}]">
                            {{ th.column_name }}
                        </th>
                    </template>
                </tr>
                <!--FUELS-->
                <tr>
                    <template v-for="(th,index) in table_fuels"
                              v-if="allowedCompanyIndex.includes(index) || th.column_name === 'FUELS' || index === 9 - isIndex">
                        <th v-if="th.sortable" :width="th.width+'%'" :colspan="th.colspan" :rowspan="th.rowspan">
                            <div class="inline-block" @click="sort(th.query_name)" style="cursor:pointer">
                                <div class="filter-asc" :class="{'active-filter-asc':sortClassActive.activeAsc}"></div>
                                <div class="filter-desc"
                                     :class="{'active-filter-desc':sortClassActive.activeDesc}"></div>
                            </div>
                            {{ th.column_name }}
                        </th>
                        <th v-else :width="th.width+'%'" :colspan="th.colspan" :rowspan="th.rowspan"
                            :class="[{'text-center':th.class_text_center},{'table-primary':th.dt_tableClassHeaders},{'dark_sky_blue_last_four':th.dark_sky_blue_last_four},{'text-white':th.font_text_white},
                            {'bg-info':th.header_bg_info},{'dark_sky_blue_last_two':th.dark_sky_blue_last_two},{'font-weight-bold':th.font_weight_bold},{'text-right':th.class_text_right}]">
                            {{ th.column_name }}
                        </th>
                    </template>
                </tr>
                </thead>
                <tbody>
                <slot name="tableFuels">
                    <tr class="text-center">
                        <td :colspan="table_fuels.length">
                            <p>no data available</p>
                        </td>
                    </tr>
                </slot>
                </tbody>

                <thead  v-columns-resizable>
                <!--MAINTENANCE-->
                <tr>
                    <template v-for="(th,index) in table_maintenance"
                              v-if="allowedCompanyIndex.includes(index) || th.column_name === 'MAINTENANCE' || index === 9 - isIndex">
                        <th v-if="th.sortable" :width="th.width+'%'" :colspan="th.colspan" :rowspan="th.rowspan">
                            <div class="inline-block" @click="sort(th.query_name)" style="cursor:pointer">
                                <div class="filter-asc" :class="{'active-filter-asc':sortClassActive.activeAsc}"></div>
                                <div class="filter-desc"
                                     :class="{'active-filter-desc':sortClassActive.activeDesc}"></div>
                            </div>
                            {{ th.column_name }}

                        </th>
                        <th v-else :width="th.width+'%'" :colspan="th.colspan" :rowspan="th.rowspan"
                            :class="[{'text-center':th.class_text_center},{'table-primary':th.dt_tableClassHeaders},{'dark_sky_blue_last_four':th.dark_sky_blue_last_four},{'text-white':th.font_text_white},
                            {'bg-info':th.header_bg_info},{'dark_sky_blue_last_two':th.dark_sky_blue_last_two},{'font-weight-bold':th.font_weight_bold},{'text-right':th.class_text_right}]">
                            {{ th.column_name }}
                        </th>
                    </template>
                </tr>
                </thead>
                <tbody>
                <slot name="tableMaintenance">
                    <tr class="text-center">
                        <td :colspan="table_maintenance.length">
                            <p>no data available</p>
                        </td>
                    </tr>
                </slot>
                </tbody>
                <thead  v-columns-resizable>
                <!--REPAIRS-->
                <tr>
                    <template v-for="(th,index) in table_repairs"
                              v-if="allowedCompanyIndex.includes(index) || th.column_name === 'REPAIRS' || index === 9 - isIndex">
                        <th v-if="th.sortable" :width="th.width+'%'" :colspan="th.colspan" :rowspan="th.rowspan">
                            <div class="inline-block" @click="sort(th.query_name)" style="cursor:pointer">
                                <div class="filter-asc" :class="{'active-filter-asc':sortClassActive.activeAsc}"></div>
                                <div class="filter-desc"
                                     :class="{'active-filter-desc':sortClassActive.activeDesc}"></div>
                            </div>
                            {{ th.column_name }}

                        </th>
                        <th v-else :width="th.width+'%'" :colspan="th.colspan" :rowspan="th.rowspan"
                            :class="[{'text-center':th.class_text_center},{'table-primary':th.dt_tableClassHeaders},{'dark_sky_blue_last_four':th.dark_sky_blue_last_four},{'text-white':th.font_text_white},
                            {'bg-info':th.header_bg_info},{'dark_sky_blue_last_two':th.dark_sky_blue_last_two},{'font-weight-bold':th.font_weight_bold},{'text-right':th.class_text_right}]">
                            {{ th.column_name }}
                        </th>
                    </template>
                </tr>
                </thead>
                <tbody>
                <slot name="tableRepairs">
                    <tr class="text-center">
                        <td :colspan="table_repairs.length">
                            <p>no data available</p>
                        </td>
                    </tr>
                </slot>
                </tbody>
                <thead  v-columns-resizable>
                <!--PARKING-->
                <tr>
                    <template v-for="(th,index) in table_parking"
                              v-if="allowedCompanyIndex.includes(index) || th.column_name === 'PARKING' || index === 9 - isIndex">
                        <th v-if="th.sortable" :width="th.width+'%'" :colspan="th.colspan" :rowspan="th.rowspan">
                            <div class="inline-block" @click="sort(th.query_name)" style="cursor:pointer">
                                <div class="filter-asc" :class="{'active-filter-asc':sortClassActive.activeAsc}"></div>
                                <div class="filter-desc"
                                     :class="{'active-filter-desc':sortClassActive.activeDesc}"></div>
                            </div>
                            {{ th.column_name }}

                        </th>
                        <th v-else :width="th.width+'%'" :colspan="th.colspan" :rowspan="th.rowspan"
                            :class="[{'text-center':th.class_text_center},{'table-primary':th.dt_tableClassHeaders},{'dark_sky_blue_last_four':th.dark_sky_blue_last_four},{'text-white':th.font_text_white},
                            {'bg-info':th.header_bg_info},{'dark_sky_blue_last_two':th.dark_sky_blue_last_two},{'font-weight-bold':th.font_weight_bold},{'text-right':th.class_text_right}]">
                            {{ th.column_name }}
                        </th>
                    </template>
                </tr>
                </thead>
                <tbody>
                <slot name="tableParking">
                    <tr class="text-center">
                        <td :colspan="table_parking.length">
                            <p>no data available</p>
                        </td>
                    </tr>
                </slot>
                </tbody>
                <thead  v-columns-resizable>
                <!--TOLLING-->
                <tr>
                    <template v-for="(th,index) in table_tolling"
                              v-if="allowedCompanyIndex.includes(index) || th.column_name === 'TOLLING' || index === 9 - isIndex">
                        <th v-if="th.sortable" :width="th.width+'%'" :colspan="th.colspan" :rowspan="th.rowspan">
                            <div class="inline-block" @click="sort(th.query_name)" style="cursor:pointer">
                                <div class="filter-asc" :class="{'active-filter-asc':sortClassActive.activeAsc}"></div>
                                <div class="filter-desc"
                                     :class="{'active-filter-desc':sortClassActive.activeDesc}"></div>
                            </div>
                            {{ th.column_name }}

                        </th>
                        <th v-else :width="th.width+'%'" :colspan="th.colspan" :rowspan="th.rowspan"
                            :class="[{'text-center':th.class_text_center},{'table-primary':th.dt_tableClassHeaders},{'dark_sky_blue_last_four':th.dark_sky_blue_last_four},{'text-white':th.font_text_white},
                            {'bg-info':th.header_bg_info},{'dark_sky_blue_last_two':th.dark_sky_blue_last_two},{'font-weight-bold':th.font_weight_bold},{'text-right':th.class_text_right}]">
                            {{ th.column_name }}
                        </th>
                    </template>
                </tr>
                </thead>
                <tbody>
                <slot name="tableTolling">
                    <tr class="text-center">
                        <td :colspan="table_tolling.length">
                            <p>no data available</p>
                        </td>
                    </tr>
                </slot>
                <slot name="tableFuelAndSellingExp">
                    <tr class="text-center">
                        <td :colspan="table_fuels_and_selling_exp.length">
                            <p>no data available</p>
                        </td>
                    </tr>
                </slot>
                </tbody>
                <thead  v-columns-resizable>
                <!--ADMINISTRATIVE_EXPENSES-->
                <tr>
                    <template v-for="(th,index) in table_admin_expenses"
                              v-if="allowedCompanyIndex.includes(index) || th.column_name === 'ADMINISTRATIVE EXPENSES' || index === 9 - isIndex">
                        <th v-if="th.sortable" :width="th.width+'%'" :colspan="th.colspan" :rowspan="th.rowspan">
                            <div class="inline-block" @click="sort(th.query_name)" style="cursor:pointer">
                                <div class="filter-asc" :class="{'active-filter-asc':sortClassActive.activeAsc}"></div>
                                <div class="filter-desc"
                                     :class="{'active-filter-desc':sortClassActive.activeDesc}"></div>
                            </div>
                            {{ th.column_name }}

                        </th>
                        <th v-else :width="th.width+'%'" :colspan="th.colspan" :rowspan="th.rowspan"
                            :class="[{'text-center':th.class_text_center},{'table-primary':th.dt_tableClassHeaders},{'dark_sky_blue_last_four':th.dark_sky_blue_last_four},{'text-white':th.font_text_white},
                            {'bg-info':th.header_bg_info},{'dark_sky_blue_last_two':th.dark_sky_blue_last_two},{'font-weight-bold':th.font_weight_bold},{'text-right':th.class_text_right}]">
                            {{ th.column_name }}
                        </th>
                    </template>
                </tr>
                <!--UTILITIES-->
                <tr>
                    <template v-for="(th,index) in table_utilities"
                              v-if="allowedCompanyIndex.includes(index) || th.column_name === 'UTILITIES' || index === 9 - isIndex">
                        <th v-if="th.sortable" :width="th.width+'%'" :colspan="th.colspan" :rowspan="th.rowspan">
                            <div class="inline-block" @click="sort(th.query_name)" style="cursor:pointer">
                                <div class="filter-asc" :class="{'active-filter-asc':sortClassActive.activeAsc}"></div>
                                <div class="filter-desc"
                                     :class="{'active-filter-desc':sortClassActive.activeDesc}"></div>
                            </div>
                            {{ th.column_name }}

                        </th>
                        <th v-else :width="th.width+'%'" :colspan="th.colspan" :rowspan="th.rowspan"
                            :class="[{'text-center':th.class_text_center},{'table-primary':th.dt_tableClassHeaders},{'dark_sky_blue_last_four':th.dark_sky_blue_last_four},{'text-white':th.font_text_white},
                            {'bg-info':th.header_bg_info},{'dark_sky_blue_last_two':th.dark_sky_blue_last_two},{'font-weight-bold':th.font_weight_bold},{'text-right':th.class_text_right}]">
                            {{ th.column_name }}
                        </th>
                    </template>
                </tr>
                </thead>
                <tbody>
                <slot name="tableUtilities">
                    <tr class="text-center">
                        <td :colspan="table_utilities.length">
                            <p>no data available</p>
                        </td>
                    </tr>
                </slot>
                <slot name="tableAdminExpenses">
                    <tr class="text-center">
                        <td :colspan="table_admin_expenses.length">
                            <p>no data available</p>
                        </td>
                    </tr>
                </slot>
                </tbody>
                <thead  v-columns-resizable>
                <tr>
                    <template v-for="(th,index) in table_operation_exp"
                              v-if="allowedCompanyIndex.includes(index) || th.column_name === 'OPERATING EXPENSES' || index === 9 - isIndex">
                        <th v-if="th.sortable" :width="th.width+'%'" :colspan="th.colspan" :rowspan="th.rowspan">
                            <div class="inline-block" @click="sort(th.query_name)" style="cursor:pointer">
                                <div class="filter-asc" :class="{'active-filter-asc':sortClassActive.activeAsc}"></div>
                                <div class="filter-desc"
                                     :class="{'active-filter-desc':sortClassActive.activeDesc}"></div>
                            </div>
                            {{ th.column_name }}

                        </th>
                        <th v-else :width="th.width+'%'" :colspan="th.colspan" :rowspan="th.rowspan"
                            :class="[{'text-center':th.class_text_center},{'table-primary':th.dt_tableClassHeaders},{'dark_sky_blue_last_four':th.dark_sky_blue_last_four},{'text-white':th.font_text_white},
                            {'bg-info':th.header_bg_info},{'dark_sky_blue_last_two':th.dark_sky_blue_last_two},{'font-weight-bold':th.font_weight_bold},{'text-right':th.class_text_right}]">
                            {{ th.column_name }}
                        </th>
                    </template>
                </tr>
                </thead>
            </table>
        </div>
        <div class="row ">
            <div class="col-md-6">
                <slot name="perPage">
                </slot>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 offset-md-3 ">
                <slot name="pagination">
                </slot>
            </div>
        </div>

    </div>
</template>

<script>

export default {
    name: "THDSummaryDataTable",
    props: {
        dt_tableHeaders: {
            type: Array,
            required: true
        },
        dt_tableHeaders_2: {
            type: Array,
            required: true
        },
        dt_tableHeaders_3: {
            type: Array,
            required: true
        },
        dt_tableHeaders_4: {
            type: Array,
            required: true
        },
        table_salaries: {
            type: Array,
            required: true
        },
        table_fuels_and_selling_exp: {
            type: Array,
            required: true
        },
        table_fuels: {
            type: Array,
            required: true
        },
        table_maintenance: {
            type: Array,
            required: true
        },
        table_repairs: {
            type: Array,
            required: true
        },
        table_parking: {
            type: Array,
            required: true
        },
        table_tolling: {
            type: Array,
            required: true
        },
        table_utilities: {
            type: Array,
            required: true
        },
        table_admin_expenses: {
            type: Array,
            required: true
        },
        table_operation_exp: {
            type: Array,
            required: true
        },
        dt_tableClassHeaders: {
            type: String,
            default:'text-primary'
        },
        dt_itemEntriesOption: {
            type: Array,
            default: function () {
                return [5, 25, 100]
            }
        },
        dt_classTable: {
            type: String,
            default: 'table'
        },
        dt_TableWidth: {
            type: String,
            default: '100'
        },
        dt_TableResponsive: {
            type: Boolean,
            default: false
        },
        dt_currentSort: {
            type: String,
            default: 'name'
        },
        dt_currentSortDir: {
            type: String,
            default: 'asc'
        },
        dt_defaultEntries: {
            type: Number,
            required: true
        },
        dt_Search:{
            type: String,
        }


    },
    data() {
        return {
            entrySelected: this.dt_defaultEntries,
            sortClassActive: {
                'activeDesc': false,
                'activeAsc': true
            },
            timer:null,
            allowedCompany:[],allowedCompanyIndex:[],
            isIndex:0,
            totalString:'TOTAL',
        }
    },
    mounted() {
        this.showCompanyByPermission();
     },
    methods: {
        async showCompanyByPermission(){
            let arr = [];
            let arr_index = [];
            let isLength = this.currentPermission.length;

            let hil = 0;
            let sib = 0;
            let rox = 0;
            let sum = 0;
            let diver = 0;
            let jar = 0;
            let kab = 0;
            let cs = 0;

            let hil_index = 0;
            let sib_index = 0;
            let rox_index = 0;
            let sum_index = 0;
            let diver_index = 0;
            let jar_index = 0;
            let kab_index = 0;
            let cs_index = 0;

            let x = 0;
            do{
                if(this.currentPermission[x] === 'hilado_company_thd_summary'){
                    hil = 'HIL'; //1231
                    hil_index = 1;
                }else if(this.currentPermission[x] === 'sibulan_company_thd_summary'){
                    sib = 'SIB'; //1232
                    sib_index = 2;
                }else if(this.currentPermission[x] === 'roxas_company_thd_summary'){
                    rox = 'ROX'; //1233
                    rox_index = 3;
                }else if(this.currentPermission[x] === 'sumag_company_thd_summary'){
                    sum = 'SUM'; //1234
                    sum_index = 4;
                }else if(this.currentPermission[x] === 'diversion_company_thd_summary'){
                    diver = 'DIV'; //1235
                    diver_index = 5;
                }else if(this.currentPermission[x] === 'jaro_company_thd_summary'){
                    jar = 'JAR'; //1236
                    jar_index = 6;
                }else if(this.currentPermission[x] === 'kabankalan_company_thd_summary'){
                    kab = 'KAB'; //1237
                    kab_index = 7;
                }else if(this.currentPermission[x] === 'corporate_services_company_thd_summary'){
                    cs = 'CS'; //1901
                    cs_index = 8;
                }
                if(hil !== 0 || sib !== 0 || rox !== 0
                    || sum !== 0 || diver !== 0 || jar !== 0
                    || kab !== 0 || cs !== 0){
                    arr = [hil,sib,rox,sum,diver,jar,kab,cs];
                }
                if(hil_index !== 0 || sib_index !== 0 || rox_index !== 0 || sum_index !== 0
                    || diver_index !== 0 ||  jar_index !== 0 ||  kab_index !== 0 ||  cs_index !== 0){
                    arr_index = [hil_index,sib_index,rox_index,sum_index,diver_index,jar_index,kab_index,cs_index];
                }
                x++;
            }while(x <= isLength);
            // console.log(arr_index,'arr_index');
            console.log(arr,'arr');
            await this.removeCompanyIsNotPermitted(arr,0);
            await this.removeCompanyIsNotPermittedIndex(arr_index,0);

            let y = 0;
            let countArr = arr.length;
            // checking if length is equal to 1 replace the value to 0. Since the loop will execute twice if the value is 1. In the loop it will look like this index[0,1]
            if(countArr === 1) countArr = 0;
            let arrCheck = [];
            while(y <= countArr){
                if(arr[y] !== 0){
                    arrCheck[y] = [arr[y]];
                }
                y++;
            }
            console.log(arrCheck,'arrCheck');
            if(arrCheck.length <= 1){
                this.isIndex = 9;
                this.totalString = '';
            }

            // let checkThis = this.dt_tableHeaders_4.includes()
            // let y = 0;
            // let yy = 0;

            //first loop It enters both outer and inner loops, showing the desired output for the first line. You end up with y = 1 and yy = 8.
            //second loop Since y is 1, it doesn't leave the outer loop, but yy is 8, so it doesn't enter the inner loop again.
            //last loop It then keeps adding 1 to y until it doesn't match the outer loop condition anymore and leaves you with that unwanted result.

            // let includeThis = [];
            // let testHeaders = [];
            // let y_1 = null;
            //
            // while(y < this.dt_tableHeaders_4.length){
            //     while(yy < this.allowedCompany.length){
            //         if(this.dt_tableHeaders_4[y].column_name === this.allowedCompany[yy]){
            //             includeThis.push(this.allowedCompany[yy]);
            //         }
            //         yy++;
            //     }
            //     yy = 0;
            //     y++;
            // }
            // console.log(includeThis);
        },
        removeCompanyIsNotPermitted(arr, value){
            let i = 0;
            while (i < arr.length) {
                if (arr[i] === value) {
                    arr.splice(i, 1);
                } else {
                    ++i;
                }
            }
            this.allowedCompany = arr;
            return this.allowedCompany;
        },
        removeCompanyIsNotPermittedIndex(arr, value){
            let i = 0;
            while (i < arr.length) {
                if (arr[i] === value) {
                    arr.splice(i, 1);
                } else {
                    ++i;
                }
            }
            this.allowedCompanyIndex = arr;
            return this.allowedCompanyIndex;
        },
        sort(s) {
            let currentSortDir = this.dt_currentSortDir;
            if (s === this.dt_currentSort) {
                currentSortDir = this.dt_currentSortDir === 'asc' ? 'desc' : 'asc';
                if (currentSortDir === 'asc') {
                    this.sortClassActive.activeAsc = true;
                    this.sortClassActive.activeDesc = false;
                } else {
                    this.sortClassActive.activeAsc = false;
                    this.sortClassActive.activeDesc = true;
                }
            }
            // this.currentSort = s;
            this.$emit("sortColumn", {sortBy: s, sortDir: currentSortDir});
        },

        selectPageNumber(selected) {
            this.entrySelected = selected;
            this.$emit("perPageEntry", this.entrySelected);
        },
        searchData(event) {
            this.$emit("searchItem", event.target.value);
        }
    }

}
</script>

<style scoped>
.filter-asc {
    border-bottom: 5px solid #ccc;
    margin-bottom: 1px
}

.filter-asc, .filter-desc {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent
}

.filter-desc {
    border-top: 5px solid #ccc;
    margin-top: 1px
}

.active-filter-asc {
    border-bottom: 5px solid #a3a3a3
}

.active-filter-desc {
    border-top: 5px solid #a3a3a3
}

.inline-block {
    display: inline-block
}

.dark_sky_blue_last_four{
    background-color: #1c7ea6;
}
.dark_sky_blue_last_two{
    background-color: #2197c7;
}
</style>
