<template>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-lg-6 ">
            <div class="card">
                <div class="card-header card-header-primary card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons" v-if="">assignment</i>
                    </div>
                    <h4 class="card-title">Permission Data</h4>
                    <button class="btn btn-primary float-right btn-sm" @click="showCreateView()" v-if="!showCreate
                    && $can('permission_create')">CREATE PERMISSION
                    </button>
                </div>
                <div class="card-body">
                    <div class="toolbar">

                    </div>

                    <DataTable
                        @sortColumn="sortByTable"
                        @perPageEntry="paginateTable"
                        @searchItem="searchData"
                        :dt_tableHeaders="tableHeaders"
                        :dt_currentSort="tableSortBy"
                        :dt_currentSortDir="tableSortDir"
                        :dt_defaultEntries="tableDefaultEntries"
                        dt_tableClassHeaders="thead-dark"
                        :dt_Search="search"
                        dt_classTable="table table-bordered"
                        dt_TableWidth="100"
                    >
                        <template v-slot:tableData>
                            <tr v-for="(data,index) in permissions.data" :key="data.id">
                                <td>{{ data.name }}</td>
                                <td>{{ data.created_at }}</td>
                                <td>
                                    <button class="btn btn btn-link btn-info" @click="edit(data.id)" v-if="$can('permission_edit')"><i
                                        class="material-icons">edit</i>
                                    </button>
                                    <button class="btn btn btn-link btn-danger" v-if="$can('permission_delete')"
                                            @click="deletePermission(data.id,index)" ><i class="material-icons">delete</i>
                                    </button>
                                </td>
                            </tr>
                        </template>
                        <template v-slot:perPage v-if="permissions">
                            <p class="float-left">Showing {{ permissions.from || 0 }} to {{ permissions.to || 0 }} of
                                {{ permissions.total || 0 }} entries</p>
                        </template>
                        <template v-slot:pagination>
                            <pagination :data="permissions" @pagination-change-page="index" :limit="2" alight="right">
                                <span slot="prev-nav"><i class="fa fa-angle-double-left" aria-hidden="true"></i></span>
                                <span slot="next-nav"><i class="fa fa-angle-double-right" aria-hidden="true"></i></span>
                            </pagination>
                        </template>
                    </DataTable>


                </div>
            </div>
        </div>

        <transition name="fade">
            <div class="col-md-12 col-sm-12 col-lg-6 " v-show="showCreate">
                <PermissionCreate @cancelCreate="closeCreate"></PermissionCreate>

            </div>


        </transition>


        <transition name="fade">

            <div class="col-md-12 col-sm-12 col-lg-6 " v-show="showEdit" ref="editFormRef">
                <PermissionEdit @cancelEdit="closeEdit"></PermissionEdit>
            </div>

        </transition>
    </div>


</template>

<script>
import DataTable from "../../components/ToyDataTable";
import PermissionCreate from "../permissions/PermissionCreate";
import PermissionEdit from "../permissions/PermissionEdit";
import {mapActions, mapGetters} from "vuex";

export default {
    name: "PermissionTable",
    components: {DataTable, PermissionCreate, PermissionEdit},
    data() {
        return {
            showCreate: false,
            showEdit: false,
            tableHeaders: [
                {column_name: 'NAME', query_name: 'name', sortable: true, width: 60},
                {column_name: 'Created At', query_name: 'created_at', sortable: true, width: 20},
                {column_name: 'Options', query_name: 'created_at', sortable: false, width: 20}
            ],
        }
    },

    computed: {
        ...mapGetters({
            tableDefaultEntries: ["permission/perPage"],
            tableSortBy: ["permission/sortBy"],
            tableSortDir: ["permission/sortDir"],
            permissions: ["permission/permissions"],
            search: ["permission/search"],
            perPage: ["permission/perPage"],
        })
    },
    created() {
        //this.$store.commit('permission/PERMISSION_SEARCH', '');
        this.index();
    },
    methods: {
        ...mapActions({
            getPermission: "permission/fetchPermissionsForDatatable",
            editPermission: "permission/getPermission"
        }),
        deletePermission(e, index) {
            this.$swal({
                title: 'Are you sure to delete this permission?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.value) {
                    let uri = `/api/permissions/${e}`;
                    axios.delete(uri).then(response => {
                        this.$swal(
                            'Deleted!',
                            'Your file has been deleted.',
                            'success'
                        );
                        this.permissions.data.splice(index, 1);
                    });
                }
            })
        },
        async showCreateView() {
            this.showCreate = true;
            this.showEdit = false;
            await this.$store.commit('permission/PERMISSION_CLEAR')
        },

        async closeCreate(value) {
            this.showCreate = value;
            this.showEdit = false;
            await this.$store.commit('permission/PERMISSION_CLEAR')
        },
        async closeEdit() {
            this.showCreate = false;
            this.showEdit = false;
            await this.$store.commit('permission/PERMISSION_CLEAR')
        },
        async edit(id) {
            this.showEdit = true;
            this.showCreate = false;
            await this.$store.commit('permission/PERMISSION_CLEAR')
            await this.$store.commit('permission/PERMISSION_ID', id);
            await this.editPermission();

        },
        async sortByTable(value) {
            await this.$store.commit('permission/PERMISSION_SORTBY', value.sortBy);
            await this.$store.commit('permission/PERMISSION_SORTDIR', value.sortDir);
            await this.index();

        },
        async paginateTable(value) {
            await this.$store.commit('permission/PERMISSION_PERPAGE', value);
            await this.index();

        },
        async searchData(value) {
            await this.$store.commit('permission/PERMISSION_SEARCH', value);
            await this.index();

        },
        async index(page) {
            if (typeof page === 'undefined') {
                await this.$store.commit('permission/PERMISSION_PAGE', 1);
            }

            await this.$store.commit('permission/PERMISSION_PAGE', page);
            await this.getPermission();
        },
    }
}
</script>

<style scoped>

</style>
