<template>
    <div>
        <div class="card">
            <div class="card-header card-header-primary card-header-icon">
                <h4 class="card-title">Create</h4>
            </div>
            <form class="form-horizontal" v-promise-btn="{action: 'submit'}" v-on:submit.prevent="submitPermission"
                  @keydown="permission.onKeydown($event)">
                <div class="card-body">
                        <PermissionForm :form="permission"></PermissionForm>
                </div>
                <div class="card-footer ">
                    <button type="submit" class="btn btn-fill btn-success">Submit</button>
                    <button type="button" class="btn btn-fill btn-danger" @click="cancelCreate">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</template>

<script>
    import {Form, HasError, AlertError, AlertSuccess} from 'vform';
    import { mapActions, mapGetters } from "vuex";
    import PermissionForm from './_Form'
    export default {
        name: "PermissionCreate",
        components: {HasError, AlertError, AlertSuccess,PermissionForm},
        computed: {
            ...mapGetters({
                permission: ["permission/permission"],
            }),
        },
        methods: {
            ...mapActions({ createPermission: "permission/createPermission",
                getPermission:"permission/fetchPermissionsForDatatable"}),
            cancelCreate(){
                this.$emit("cancelCreate", false);
            },
            async submitPermission() {

                try{
                    await this.$store.commit('permission/PERMISSION_CREATE',this.permission);
                    await this.createPermission();
                    await this.getPermission();
                    this.$swal({
                        icon: 'success',
                        title: 'New Permission created',
                        showConfirmButton: false,
                        timer: 1500
                    });
                    //this.form.name = null;

                }catch(e){
                    console.log(e);
                }


            }
        }
    }
</script>

<style scoped>

</style>
