<template>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-lg-6 ">
            <div class="card">
                <div class="card-header card-header-primary card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons" v-if="">assignment</i>
                    </div>

                    <h4 class="card-title">Company Static Budget List</h4>
                    <button class="btn btn-primary float-right btn-sm" @click="showCreateView()" v-if="!showCreate
                    && $can('static_budget_create')">CREATE ACCOUNT BUDGET
                    </button>
                </div>
                <div class="card-body">
                    <div class="toolbar">

                    </div>

                    <DataTable
                        @sortColumn="sortByTable"
                        @perPageEntry="paginateTable"
                        @searchItem="searchData"
                        :dt_tableHeaders="tableHeaders"
                        :dt_currentSort="tableSortBy"
                        :dt_currentSortDir="tableSortDir"
                        :dt_defaultEntries="tableDefaultEntries"
                        dt_tableClassHeaders="thead-dark"
                        :dt_Search="search"
                        dt_classTable="table table-bordered"
                        dt_TableWidth="100"
                    >
                        <template v-slot:tableData>
                            <tr v-for="(data,index) in static_budgets.data" :key="data.id">
                                <td>{{ data.company }}</td>
                                <td>{{ data.created_at }}</td>
                                <td>
                                    <button class="btn btn btn-link btn-info" @click="edit(data)"
                                            v-if="$can('static_budget_edit')"><i
                                        class="material-icons">edit</i>
                                    </button>
                                    <button class="btn btn btn-link btn-danger"
                                            @click="deleteStaticBudget(data.id,index)"
                                            v-if="$can('static_budget_delete')">
                                        <i class="material-icons">delete</i>
                                    </button>
                                </td>
                            </tr>
                        </template>
                        <template v-slot:perPage v-if="static_budgets">
                            <p class="float-left">Showing {{ static_budgets.from || 0 }} to {{ static_budgets.to || 0 }}
                                of
                                {{ static_budgets.total || 0 }} entries</p>
                        </template>
                        <template v-slot:pagination>
                            <pagination :data="static_budgets" @pagination-change-page="index" :limit="2"
                                        alight="right">
                                <span slot="prev-nav"><i class="fa fa-angle-double-left" aria-hidden="true"></i></span>
                                <span slot="next-nav"><i class="fa fa-angle-double-right" aria-hidden="true"></i></span>
                            </pagination>
                        </template>
                    </DataTable>


                </div>
            </div>
        </div>

        <transition name="fade">
            <div class="col-md-12 col-sm-12 col-lg-6 " v-show="showCreate">
                <StaticBudgetCreate @cancelCreate="closeCreate"></StaticBudgetCreate>

            </div>


        </transition>


        <transition name="fade">

            <div class="col-md-12 col-sm-12 col-lg-6 " v-show="showEdit" ref="editFormRef">
                <StaticBudgetEdit @cancelEdit="closeEdit"></StaticBudgetEdit>
            </div>

        </transition>
    </div>


</template>

<script>
import DataTable from "../../components/ToyDataTable";
import StaticBudgetCreate from "../static_budget/StaticCreate";
import StaticBudgetEdit from "../static_budget/StaticEdit";
import {mapActions, mapGetters} from "vuex";

export default {
    name: "StaticBudgetTable",
    components: {DataTable, StaticBudgetCreate, StaticBudgetEdit},
    data() {
        return {
            showCreate: false,
            showEdit: false,
            tableHeaders: [
                {column_name: 'Company', query_name: 'company', sortable: true, width: 60},
                {column_name: 'Created At', query_name: 'created_at', sortable: true, width: 20},
                {column_name: 'Actions', query_name: 'created_at', sortable: false, width: 20}
            ],
        }
    },

    computed: {
        ...mapGetters({
            tableDefaultEntries: ["static_budget/perPage"],
            tableSortBy: ["static_budget/sortBy"],
            tableSortDir: ["static_budget/sortDir"],
            static_budgets: ["static_budget/staticBuds"],
            search: ["static_budget/search"],
            perPage: ["static_budget/perPage"],
        }),
        currentUserLocal() {
            return this.$store.getters['auth/users'] || []
        },
    },
    created() {
        //this.$store.commit('permission/PERMISSION_SEARCH', '');
        this.index();
    },
    methods: {
        ...mapActions({
            getStaticBudget: "static_budget/fetchStaticBudgetsForDatatable",
            editStaticBudget: "static_budget/getStaticBudget"
        }),
        deleteStaticBudget(e, index) {
            // console.log(this.currentUserLocal[0].company,'currentUserLocal'); // working
            this.$swal({
                title: 'Are you sure to delete this budget for this company?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.value) {
                    let uri = `/api/static-budget/${e}`;
                    axios.delete(uri).then(response => {
                        this.$swal(
                            'Deleted!',
                            'Your Budget has been deleted.',
                            'success'
                        );
                        this.$store.commit('static_budget/STATIC_BUDGET_CLEAR_AFTER_SUBMIT', true);
                        this.static_budgets.data.splice(index, 1);
                        this.getStaticBudget();
                    });
                }
            })
        },
        async showCreateView() {
            await this.$store.commit('static_budget/STATIC_BUDGET_CLEAR_AFTER_SUBMIT', true);
            this.showCreate = true;
            this.showEdit = false;
            await this.$store.commit('static_budget/STATIC_BUDGET_CLEAR');
            await this.$store.commit('static_budget/STATIC_BUDGET_CLEAR_AFTER_SUBMIT', false);
        },

        async closeCreate(value) {
            this.showCreate = value;
            this.showEdit = false;
            await this.$store.commit('static_budget/STATIC_BUDGET_CLEAR')
        },
        async closeEdit() {
            this.showCreate = false;
            this.showEdit = false;
            await this.$store.commit('static_budget/STATIC_BUDGET_CLEAR')
        },
        async edit(data) {
            // console.log(data.id,'data.id');
            this.showEdit = true;
            this.showCreate = false;
            await this.$store.commit('static_budget/STATIC_BUDGET_CLEAR');
            await this.$store.commit('static_budget/STATIC_BUDGET_ID', data.company);
            await this.$store.commit('static_budget/STATIC_ID', data.id);
            await this.editStaticBudget();
        },
        async sortByTable(value) {
            await this.$store.commit('static_budget/STATIC_BUDGET_SORTBY', value.sortBy);
            await this.$store.commit('static_budget/STATIC_BUDGET_SORTDIR', value.sortDir);
            await this.index();

        },
        async paginateTable(value) {
            await this.$store.commit('static_budget/STATIC_BUDGET_PERPAGE', value);
            await this.index();

        },
        async searchData(value) {
            await this.$store.commit('static_budget/STATIC_BUDGET_SEARCH', value);
            await this.index();

        },
        async index(page) {
            if (typeof page === 'undefined') {
                await this.$store.commit('static_budget/STATIC_BUDGET_PAGE', 1);
            }

            await this.$store.commit('static_budget/STATIC_BUDGET_PAGE', page);
            await this.getStaticBudget();
        },
    }
}
</script>

<style scoped>

</style>
